<div class='admission'>
  <table class='minimal'>
    <tr>
      <td>
        <a href='#/admission/data'>
          <div>Patient Data</div>
          <div class='circle progress' radial-progress='0.8'>
            <div class='surface'>
              <i class='fa fa-user'></i>
            </div>
          </div>
        </a>
      </td>

      <td class='cell'>
        <a href='#/admission/observations'>
          <div>Observations</div>
          <div class='circle progress' radial-progress='0.8'>
            <div class='surface'>
              <i class='fa fa-user'></i>
            </div>
          </div>
        </a>
      </td>

      <td class='cell'>
        <a href='#/admission/urinePainSkin'>
          <div>Urine/pain/skin</div>
          <div class='circle progress' radial-progress='0.8'>
            <div class='surface'>
              <i class='fa fa-user'></i>
            </div>
          </div>
        </a>
      </td>
    </tr>

    <tr>
      <td>
        <a href='#/admission/medicalHistory'>
          <div>Medical History</div>
          <div class='circle progress secondary' radial-progress='0.8'>
            <div class='surface'>
              <i class='fa fa-user-md'></i>
            </div>
          </div>
        </a>
      </td>


      <td class='cell'>
        <a href='#/admission/living'>
          <div>Living</div>
          <div class='circle progress secondary' radial-progress='0.4'>
            <div class='surface'>
              <i class='fa fa-user-md'></i>
            </div>
          </div>
        </a>
      </td>

      <td class='cell'>
        <a href='#/admission/development'>
          <div>Development</div>
          <div class='circle progress secondary' radial-progress='0.8'>
            <div class='surface'>
              <i class='fa fa-user-md'></i>
            </div>
          </div>
        </a>
      </td>
    </tr>

    <tr>
      <td>
        <a href='#/admission/safety'>
          <div>Safety</div>
          <div class='circle progress tertiary' radial-progress='0.8'>
            <div class='surface'>
              <i class='fa fa-sliders'></i>
            </div>
          </div>
        </a>
      </td>

      <td class='cell'>
        <a href='#/admission/components/info'>
          <div>Information</div>
          <div class='circle progress tertiary' radial-progress='0.8'>
            <div class='surface'>
              <i class='fa fa-sliders'></i>
            </div>
          </div>
        </a>
      </td>

      <td class='cell'>
        <a href='#/admission/decision'>
          <div>Admit?</div>
          <div class='circle progress tertiary' radial-progress='0.8'>
            <div class='surface'>
              <i class='fa fa-sliders'></i>
            </div>
          </div>
        </a>
      </td>

    </tr>
  </table>
</div>
