<div class='section'>

  <div class='circle progress' radial-progress='0.8'>
    <div class='surface'>
      <i class='fa fa-user'></i>
    </div>
  </div>

  <div class='circle progress secondary' radial-progress='0.3'>
    <div class='surface'>
      <i class='fa fa-user'></i>
    </div>
  </div>
  <div class='circle progress tertiary' radial-progress='0.2'>
    <div class='surface'>
      <i class='fa fa-user'></i>
    </div>
  </div>
</div>
  // Admission data subsection
  .when('/admission/data', {
    templateUrl: '/views/forms/data.html'
  })

  // Admission observations subsection
  .when('/admission/observations', {
    templateUrl: '/views/forms/observations.html'
  })

  // Admission urine pain skin subsection
  .when('/admission/urinePainSkin', {
    templateUrl: '/views/forms/urinePainSkin.html'
  })

  // Admission medical history subsection
  .when('/admission/medicalHistory', {
    templateUrl: '/views/forms/medicalHistory.html'
  })

  // Admission living subsection
  .when('/admission/living', {
    templateUrl: '/views/forms/living.html'
  })

  // Admission development subsection
  .when('/admission/development', {
    templateUrl: '/views/forms/development.html'
  })

  // Admission safety subsection
  .when('/admission/safety', {
    templateUrl: '/views/forms/safety.html'
  })

  // Admissions info
  .when('/admission/info', {
    templateUrl: '/views/forms/info.html'
  })

  // Admission decision subsection 
  .when('/admission/decision', {
    templateUrl: '/views/forms/decision.html'
  })


