<form>
	<div>
		<label>Temperature</label>
		<input type="string" name="temperature"/>
	</div>
	<div>
		<label>Pulse</label>
		<input type="string" name="pulse"/>
	</div>
	<div>
		<label>Respirations</label>
		<input type="string" name="respirations"/>
	</div>
	<div>
		<label>Weight</label>
		<input type="string" name="weight"/>
	</div>
	<div>
		<label>Blood Pressure 1</label>
		<input type="string" name="bloodPressureOne"/>
	</div>
	<div>
		<label>Blood Pressure 2</label>
		<input type="string" name="bloodPressureTwo"/>
	</div>
	<div>
		<label>O2 sats (air)</label>
		<input type="string" name="o2Sats"/>
	</div>
	<div>
		<label>O2 sats (air) in ltrs</label>
		<input type="string" name="o2SatsLitres"/>
	</div>
	<div>
		<label>Blood Sugar BM</label>
		<input type="string" name="bloodSugarBM"/>
	</div>
	<div>
		<label>Capillary Refill – less than 2 seconds</label>
		<input type="checkbox" name="lessThan2Seconds"/>
	</div>
	<div>
		<label>Capillary Refill – more than 2 seconds</label>
		<input type="checkbox" name="moreThan2Seconds"/>
	</div>
	<div>
		<label>Peak Flow</label>
		<input type="string" name="peakFlow"/>
	</div>
	<div>
		<label>AVPU</label>
		<input type="string" name="avpu"/>
	</div>
	<div>
		<label>PEARL</label>
		<input type="string" name="pearl"/>
	</div>
	<div>
		<label>Height / Length</label>
		<input type="string" name="height"/>
	</div>
	<button>Submit</button>
</form>