<form>
  <div class='control'>
    <label>Temperature</label>
    <input type='string' name='temperature'/>
  </div>
  <div class='control'>
    <label>Pulse</label>
    <input type='string' name='pulse'/>
  </div>
  <div class='control'>
    <label>Respirations</label>
    <input type='string' name='respirations'/>
  </div>
  <div class='control'>
    <label>Weight</label>
    <input type='string' name='weight'/>
  </div>
  <div class='control'>
    <label>Blood Pressure 1</label>
    <input type='string' name='bloodPressureOne'/>
  </div>
  <div class='control'>
    <label>Blood Pressure 2</label>
    <input type='string' name='bloodPressureTwo'/>
  </div>
  <div class='control'>
    <label>O2 sats (air)</label>
    <input type='string' name='o2Sats'/>
  </div>
  <div class='control'>
    <label>O2 sats (air) in ltrs</label>
    <input type='string' name='o2SatsLitres'/>
  </div>
  <div class='control'>
    <label>Blood Sugar BM</label>
    <input type='string' name='bloodSugarBM'/>
  </div>
  <div class='control'>
    <label>Capillary Refill – less than 2 seconds</label>
    <input type='checkbox' name='lessThan2Seconds'/>
  </div>
  <div class='control'>
    <label>Capillary Refill – more than 2 seconds</label>
    <input type='checkbox' name='moreThan2Seconds'/>
  </div>
  <div class='control'>
    <label>Peak Flow</label>
    <input type='string' name='peakFlow'/>
  </div>
  <div class='control'>
    <label>AVPU</label>
    <input type='string' name='avpu'/>
  </div>
  <div class='control'>
    <label>PEARL</label>
    <input type='string' name='pearl'/>
  </div>
  <div class='control'>
    <label>Height / Length</label>
    <input type='string' name='height'/>
  </div>
  <button>Submit</button>
</form>
