<form>
  Problem / concern
  <div class='control'>
    <label>Speech</label>
    <input type='checkbox' name='' value='' />
  </div>
  <div class='control'>
    <label>Speech – details</label>
    <textarea></textarea>
  </div>
  <div class='control'>
    <label>Hearing</label>
    <input type='checkbox' name='' value='' />
  </div>
  <div class='control'>
    <label>Hearing – details</label>
    <textarea></textarea>
  </div>
  <div class='control'>
    <label>Vision</label>
    <textarea></textarea>
  </div>
  <div class='control'>
    <label>Vision – details</label>
    <input type='' name='' value='' />
    <textarea></textarea>
  </div>
  <button>Submit</button>
</form>
