<form>
  <div class='control'>
    <label>Introduction to staff – AAU nurse initial</label>
    <input type='text' name='' value='' />
  </div>
  <div class='control'>
    <label>Introduction to staff – Ward nurse initial</label>
    <input type='text' name='' value='' />
  </div>
  <div class='control'>
    <label>Orientation to ward / toilets etc - AAU nurse initial</label>
    <input type='text' name='' value='' />
  </div>
  <div class='control'>
    <label>orientation to ward / toilets etc – ward nurse initial</label>
    <input type='text' name='' value='' />
  </div>
  <div class='control'>
    <label>explain security / safety – AAU nurse initial</label>
    <input type='text' name='' value='' />
  </div>
  <div class='control'>
    <label>explain security / safety – ward nurse initial</label>
    <input type='text' name='' value='' />
  </div>
  <div class='control'>
    <label>explain use of mobile phone – AAU nurse initial</label>
    <input type='text' name='' value='' />
  </div>
  <div class='control'>
    <label>explain use of mobile phone – ward nurse initial</label>
    <input type='text' name='' value='' />
  </div>
  <div class='control'>
    <label>explain car parking - AAU nurse initial</label>
    <input type='text' name='' value='' />
  </div>
  <div class='control'>
    <label>explain car parking – ward nurse initial</label>
    <input type='text' name='' value='' />
  </div>
  <div class='control'>
    <label>Give parent information booklet - AAU nurse initial</label>
    <input type='text' name='' value='' />
  </div>
  <div class='control'>
    <label>give parent information booklet – ward nurse initial</label>
    <input type='text' name='' value='' />
  </div>
  <div class='control'>
    <label>patient identity bracelet attached - AAU nurse initial</label>
    <input type='text' name='' value='' />
  </div>
  <div class='control'>
    <label>patient identity bracelet attached – ward nurse initial</label>
    <input type='text' name='' value='' />
  </div>
  <div class='control'>
    <label>notes ordered - AAU nurse initial</label>
    <input type='text' name='' value='' />
  </div>
  <div class='control'>
    <label>notes ordered – ward nurse initial</label>
    <input type='text' name='' value='' />
  </div>
  <div class='control'>
    <label>investigations explained - AAU nurse initial</label>
    <input type='text' name='' value='' />
  </div>
  <div class='control'>
    <label>investigations explained – ward nurse initial</label>
    <input type='text' name='' value='' />
  </div>
  <div class='control'>
    <label>consent obtained as appropriate - AAU nurse initial</label>
    <input type='text' name='' value='' />
  </div>
  <div class='control'>
    <label>consent obtained as appropriate – ward nurse initial</label>
    <input type='text' name='' value='' />
  </div>
  <div class='control'>
    <label>distraction offered - AAU nurse initial</label>
    <input type='text' name='' value='' />
  </div>
  <div class='control'>
    <label>distraction offered – ward nurse initial</label>
    <input type='text' name='' value='' />
  </div>
  <div class='control'>
    <label>EMLA / AMETOP administered – y</label>
    <input type='text' name='' value='' />
  </div>
  <div class='control'>
    <label>EMLA / AMETOP administered – n</label>
    <input type='text' name='' value='' />
  </div>
  <div class='control'>
    <label>EMLA / AMETOP administered – if used state time</label>
    <input type='text' name='' value='' />
  </div>
  <div class='control'>
    <label>Nursing care plan initiated and complete within 6 hours - AAU nurse initial</label>
    <input type='text' name='' value='' />
  </div>
  <div class='control'>
    <label>nursing care plan initiated and complete within 6 hours – ward nurse initial</label>
    <input type='text' name='' value='' />
  </div>
  <button>Submit</button>
</form>
