<form>
  <div class='control'>
    <label>Whilst Attending To This Patient Is There A Risk Of Injury</label>
    <input type='checkbox' name='' value=''
      ng-model='patient.admission.manualHandling.riskOfInjury'/>
  </div>
  <div class='control'>
    <label>If Yes Please Complete A Full WMH Manual Handling Risk Assessment Form detailing risks and methods to be used in caring for this patient</label>
  </div>
  <div class='control'>
    <label>Problem Identified</label>
    <input type='checkbox' name='' value=''
      ng-model='patient.admission.manualHandling.problemIdentified'/>
  </div>
  <button>Submit</button>
</form>
