<form>
  <div class='control'>
    <label>Crawling</label>
    <input type='checkbox' name='' value='' />
  </div>
  <div class='control'>
    <label>Walking</label>
    <input type='checkbox' name='' value='' />
  </div>
  <div class='control'>
    <label>Needs Assistance</label>
    <input type='checkbox' name='' value='' />
  </div>
  <div class='control'>
    <label>Unable to Walk</label>
    <input type='checkbox' name='' value='' />
  </div>
  <div class='control'>
    <label>Wheel Chair</label>
    <input type='checkbox' name='' value='' />
  </div>
  <div class='control'>
    <label>Normal Ability 1</label>
    <input type='text' name='' value='' />
  </div>
  <div class='control'>
    <label>Altered Ability / Problem 1</label>
    <input type='text' name='' value='' />
  </div>
  <div class='control'>
    <label>Normal Ability 2</label>
    <input type='text' name='' value='' />
  </div>
  <div class='control'>
    <label>Altered Ability / Problem 2</label>
    <input type='text' name='' value='' />
  </div>
  <div class='control'>
    <label>Normal Ability 3</label>
    <input type='text' name='' value='' />
  </div>
  <div class='control'>
    <label>Altered Ability / Problem 3</label>
    <input type='text' name='' value='' />
  </div>
  <div class='control'>
    <label>Problem Identified</label>
    <input type='checkbox' name='' value='' />
  </div>
  <button>Submit</button>
</form>
