<form>
  <div class='control'>
    <label>breast fed</label>
    <input type='checkbox' name='' value='' />
  </div>
  <div class='control'>
    <label>bottle fed</label>
    <input type='checkbox' name='' value='' />
  </div>
  <div class='control'>
    <label>dummy used to pacify</label>
    <input type='checkbox' name='' value='' />
  </div>
  <div class='control'>
    <label>feeder beaker</label>
    <input type='checkbox' name='' value='' />
  </div>
  <div class='control'>
    <label>assistance with feeding</label>
    <input type='checkbox' name='' value='' />
  </div>
  <div class='control'>
    <label>usual dietary intake 1</label>
    <input type='text' name='' value='' />
  </div>
  <div class='control'>
    <label>altered diet / problems 1</label>
    <input type='text' name='' value='' />
  </div>
  <div class='control'>
    <label>usual dietary intake 2</label>
    <input type='text' name='' value='' />
  </div>
  <div class='control'>
    <label>altered diet / problems 2</label>
    <input type='text' name='' value='' />
  </div>
  <div class='control'>
    <label>usual dietary intake 3</label>
    <input type='text' name='' value='' />
  </div>
  <div class='control'>
    <label>altered diet / problems 3</label>
    <input type='text' name='' value='' />
  </div>
  <div class='control'>
    <label>usual dietary intake 4</label>
    <input type='text' name='' value='' />
  </div>
  <div class='control'>
    <label>altered diet / problems 4</label>
    <input type='text' name='' value='' />
  </div>
  <div class='control'>
    <label>usual dietary intake 5</label>
    <input type='text' name='' value='' />
  </div>
  <div class='control'>
    <label>altered diet / problems 5</label>
    <input type='text' name='' value='' />
  </div>
  <div class='control'>
    <label>any dietary restrictions / special diet</label>
    <input type='text' name='' value='' />
  </div>
  <div class='control'>
    <label>problem identified</label>
    <input type='checkbox' name='' value='' />
  </div>
  <button>Submit</button>
</form>
