<form>
  <div class='control'>
    <label>Is the Child Pain free on Admission</label>
    <input type='checkbox' name='' value=''
      ng-model='patient.admission.pain.painFree'/>
  </div>
  <div class='control'>
    <label>if no, implement an age appropriate pain assessment tool</label>
    <input type='' name='' value=''
      ng-model='patient.admission.pain.painTool'/>
  </div>
  <div class='control'>
    <label>smiley faces 1 - 5</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.pain.smiley'/>
  </div>
  <div class='control'>
    <label>pain score on admission</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.pain.score'/>
  </div>
  <div class='control'>
    <label>time</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.pain.time'/>
  </div>
  <div class='control'>
    <label>intervention provide (state what e.g. Medication hot / cold pack)</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.pain.intervention'/>
  </div>
  <div class='control'>
    <label>pain experienced and dealt with prior to admission</label>
    <input type='checkbox' name='' value=''
      ng-model='patient.admission.pain.painPrior'/>
  </div>
  <div class='control'>
    <label>how was this pain dealt with? Has it:</label>
    <select
      ng-model='patient.admission.pain.painState'/>
      <option value='improved'>Improved</option>
      <option value='changed'>Changed</option>
      <option value='worse'>Got Worse</option>
      <option value='better'>Got Better</option>
    </select>
  </div>
  <div class='control'>
    <label>problem identified</label>
    <input type='checkbox' name='' value=''
      ng-model='patient.admission.pain.problemIdentified'/>
  </div>
  <button>Submit</button>
</form>
