<form>
  <div class='control'>
    <label>include ongoing health problems / birth history where relevant</label>
    <textarea></textarea>
  </div>
  <div class='control'>
    <label>Allergies</label>
    <input type='checkbox' name='' value='' />
  </div>
  <div class='control'>
    <label>If yes, please complete details below</label>
  </div>
  <div class='control'>
    <label>Allergen 1</label>
    <input type='text' name='' value='' />
  </div>
  <div class='control'>
    <label>Reaction 1</label>
    <input type='text' name='' value='' />
  </div>
  <div class='control'>
    <label>Corrective Measure 1</label>
    <input type='text' name='' value='' />
  </div>
  <div class='control'>
    <label>Allergen 2</label>
    <input type='text' name='' value='' />
  </div>
  <div class='control'>
    <label>Reaction 2</label>
    <input type='text' name='' value='' />
  </div>
  <div class='control'>
    <label>Corrective Measure 2</label>
    <input type='text' name='' value='' />
  </div>

  <div class='control'>
    <label>Immunisations up to date</label>
    <input type='checkbox' name='' value='' />
  </div>
  <div class='control'>
    <label>immunisations up to date – not applicable</label>
    <input type='checkbox' name='' value='' />
  </div>
  <button>Submit</button>
</form>
