<form>
  <div class='control'>
    <label>Brother / Sister 1</label>
    <input type='text' name='' value='' />
  </div>
  <div class='control'>
    <label>age</label>
    <input type='text' name='' value='' />
  </div>
  <div class='control'>
    <label>other relevant information (always ask)</label>
    <textarea></textarea>
  </div>
  <div class='control'>
    <label>Brother / Sister 2</label>
    <input type='text' name='' value='' />
  </div>
  <div class='control'>
    <label>age</label>
    <input type='text' name='' value='' />
  </div>
  <div class='control'>
    <label>other relevant information (always ask)</label>
    <textarea name=''></textarea>
  </div>
  <div class='control'>
    <label>Brother / Sister 3</label>
    <input type='text' name='' value='' />
  </div>
  <div class='control'>
    <label>age</label>
    <input type='text' name='' value='' />
  </div>
  <div class='control'>
    <label>other relevant information (always ask)</label>
    <textarea name=''></textarea>
  </div>
  <button>Submit</button>
</form>
