<form>
  <div class='control'>
    <label>Skin Intact</label>
    <input type='checkbox' name='' value='' />
  </div>
  <div class='control'>
    <label>If No, Please Specify</label>
    <input type='' name='' value='' />
  </div>
  <div class='control'>
    <label>Rashes</label>
    <input type='checkbox' name='' value='' />
  </div>
  <div class='control'>
    <label>Rashes – describe</label>
    <textarea></textarea>
  </div>
  <div class='control'>
    <label>Cuts / grazes – y</label>
    <input type='checkbox' name='' value='' />
  </div>
  <div class='control'>
    <label>Cuts / grazes – describe</label>
    <textarea></textarea>
  </div>
  <div class='control'>
    <label>Bruises</label>
    <input type='checkbox' name='' value='' />
  </div>
  <div class='control'>
    <label>Bruises – describe</label>
    <textarea name=''></textarea>
  </div>
  <div class='control'>
    <label>Pressure Sores</label>
    <input type='checkbox' name='' value='' />
  </div>
  <div class='control'>
    <label>Pressure Sores – describe</label>
    <textarea name=''></textarea>
  </div>
  <div class='control'>
    <label>Infestations, hair / skin</label>
    <input type='checkbox' name='' value='' />
  </div>
  <div class='control'>
    <label>Infestations, hair / skin - describe</label>
    <textarea name=''></textarea>
  </div>
  <div class='control'>
    <label>Maelor Score on Admission</label>
    <input type='text' name='' value='' />
  </div>
  <div class='control'>
    <label>Need For Special Mattress?</label>
    <input type='checkbox' name='' value='' />
  </div>
  <div class='control'>
    <label>Problem Identified – y</label>
    <input type='checkbox' name='' value='' />
  </div>
  <div class='control'>
    <label>Image of Child (front and back)</label>
    See admission form
  </div>
  <button>Submit</button>
</form>
