<form>
  <div class='control'>
    <label>Type of sample - midstream</label>
    <input type='checkbox' name='midstream'/>
  </div>
  <div class='control'>
    <label>Type of sample - clean catch</label>
    <input type='checkbox' name='cleanCatch'/>
  </div>
  <div class='control'>
    <label>Type of sample - nappy</label>
    <input type='checkbox' name='nappy'/>
  </div>
  <div class='control'>
    <label>Type of sample - catheter</label>
    <input type='checkbox' name='catheter'/>
  </div>
  <div class='control'>
    <label>Type of sample - other</label>
    <input type='string' name='other'/>
  </div>
  <div class='control'>
    <label>Ward test result</label>
    <input type='string' name='wardTestResult'/>
  </div>
  <div class='control'>
    <label>Leucocytes present</label>
    <input type='checkbox' name='leucocytesPresent'/>
  </div>
  <div class='control'>
    <label>Nitrates present</label>
    <input type='checkbox' name='nitratesPresent'/>
  </div>
  <div class='control'>
    <label>Sent for MC&amp;S</label>
    <input type='checkbox' name='sentForMC'/>
  </div>
  <div class='control'>
    <label>Repeat sample</label>
    <input type='checkbox' name='repeatSample'/>
  </div>
  <button>Submit</button>
</form>
