@import 'layout';
@import 'theme';

.admission {
  text-align:center;

  table.minimal {
    width:100%;
    background:transparent;
    border:none;

    tr {
      background:transparent;
      border:none;
    }

    td {
      text-align:center;
      font-size:1.2em;
    }
  }
}
