@import 'layout';
@import 'theme';

.admission {
  text-align:center;

  .title {
    margin-bottom:$gutter;
  }

  table.minimal {
    width:100%;
    background:transparent;
    border:none;

    tr {
      background:transparent;
      border:none;
    }

    td {
      text-align:center;
      font-size:1em;
      line-height:1.3em;
    }
  }
}
