@import 'layout';
@import 'theme';



.admit {
  background:#fff;
}

.admission {
  margin-top:$gutter * 2;
  white-space:nowrap;

  .small-4 {
    text-align:center;
  }
}

.auxillary.forms {
  .title {
    min-height:1em;
    min-width:1em;
  }

  .aux.form {
    display:block;
    float:left;
    margin-left:8px;
    margin-right:32px;
  }
}
