@import '../layout';
@import '../theme';

html {
  height:auto;
}

body {
  height:100%;
}

a, a:hover, a:active, a:focus {
  color:inherit;
}

.screen {
  @include overlay;
}

.splash {
  background:$primary;
}

.fill {
  @include fill;
}

.header {
  position:absolute;
  top:0;
  left:0;
  width:100%;
}

.footer {
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
}

.container {
  height:100%;
  padding-top:$header-height;
}

.scrollable {
  height:100%;
  overflow-y:scroll;
  background:#f3f3f3;
}

.pilled {
  display:inline-block;
  width:1em;
  height:1em;
  border-radius:4px;
  background:#888;
}

.height-fix {
  height:100%;
}

.drug.approval {
  .button {
    margin-bottom:0;
  }
}
