@import '../layout';
@import '../theme';

/* Render all checkboxes as yes/no */

@mixin active {
  background:$primary;
  color:white;
}

@mixin inactive {
  background:#ddd;
  color:#888;
}

@mixin pill {
  border-radius:4px;
  padding:8px 8px;
  font-size:1.3em;
  text-align:center;
}

input[type='checkbox'] {
  /* Hide the checkbox */
  width:0;
  /* Ensure that parents don't collapse */
  height:16px;

  cursor:pointer;
  margin-top:$gutter * 2;
  margin-bottom:1rem;
  height:34px;

  &:after {
    @include inactive;
    @include pill;
    content:'Yes';
  }

  &:before {
    @include active;
    @include pill;
    content:'No';
    margin-right:$gutter;
  }
}

input[type='checkbox']:checked {
  &:after {
    @include active;
  }

  &:before {
    @include inactive;
  }
}

/* Radio Buttons */

input[type='radio'] {
  width:0;
  /* Shame.css */
  margin-left:-$gutter;
  margin-bottom:1rem;
}

input[type='radio']+label {
  @include pill;
  display:inline-block;
  background:#ddd;
  color:#888;
  font-size:1em;
  margin:0;
  padding:5px;
  min-width:34px;
}

input[type='radio']:checked+label {
  background:$primary;
  color:white;
}

