@import '../theme';
@import '../layout';

.collection {
  height:100%;

  .item {
    min-height:1em;
    padding:$gutter;
    border-bottom:solid 1px #ddd;
    border-top:solid 1px #f9f9f9;
    cursor:pointer;
  }

  .item:hover {
    background:#f9f9f9;
  }
}
