@import 'layout';
@import 'theme';

input[type=text], textarea {
  border-radius:4px;
  border:none;
  background:$background-alt;
  box-shadow:none;
  /*border:solid 1px $primary;*/
}

input.error {
  border:solid 2px #ce2626;
  color:#ce2626;
  box-shadow-color:#ce2626;
}

.field {
  height:140px;
  line-height:140px;
  max-width:100%;
  max-height:140px;
  overflow:hidden;
}

.progress.circle {
  width:120px;
  height:120px;
  border:none;
  border-color:$primary;
  overflow:visible;
  background:transparent;
  display:inline-block;

  .surface {
    position:absolute;
    width:100%;
    height:100%;
    color:#ccc;
    font-size:2em;
    border-radius:100%;
    overflow:visible;
    background:#fff;
  }
}

.progress.circle.secondary {
  border-color:$secondary;
}

.progress.circle.tertiary {
  border-color:$tertiary;
}

button.alt {
  display:inline-block;
  background:white;
  color:$primary;
  width:3em;
  height:3em;
  line-height:3em;
  text-align:center;
  border-radius:100%;
  border:solid 1px $primary;
  padding:0;
}

.field {
  padding:$gutter * 2;
  color:#999;
  font-size:1.3em;
  border-bottom:solid 1px #ddd;
}

form {
  padding-top:$gutter * 4;

  label {
    color:$primary;
    font-size:1.2em;
  }

  .control {
    overflow:hidden;
  }
}
