@import 'layout';
@import 'theme';

.glyph {
  position:relative;
  display:inline-block;
  border-radius:4px;
  height:$glyph-height;
  width:$glyph-height;
  line-height:$glyph-height;
  font-size:32pt;
  text-align:center;
  color:#fff;
  overflow:hidden;

  i {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    line-height:$glyph-height;
    text-align:center;
    background:transparent !important;
  }

  .gender {
    /* Overrides will break glyphs */
    font-size:$glyph-height !important;
  }

  .subject {
    /* Overrides will break glyphs */
    font-size:$glyph-height / 2 !important;
  }

  /* Icon specific rules */
  .gender.icon-gender-f + * {
    margin-top:-6px;
  }
  .gender.icon-gender-m + * {
    margin-left:-6px;
  }
  .icon-baby {
    font-size:14pt;
  }
}

.pew.pill {
  height:$glyph-height;
  border-radius:4px;
  font-size:12pt;
  text-align:center;
  background:$tertiary;
  color:white;
  padding:$gutter 0;
  margin:0 auto;
  margin-bottom:$gutter;
  padding-top:$gutter * 3;
  font-weight:bold;

  .fa {
    color:$tertiary-highlight;
    display:block;
    font-size:0.6em;
  }
}
