@import 'layout';
@import 'theme';

.glyph {
  position:relative;
  display:inline-block;
  border-radius:4px;
  height:$glyph-height;
  width:$glyph-height;
  line-height:$glyph-height;
  font-size:28pt;
  text-align:center;
  color:#fff;
  overflow:hidden;

  i {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    line-height:$glyph-height;
    text-align:center;
    background:transparent !important;
  }

  .gender {
    /* Overrides will break glyphs */
    font-size:$glyph-height - 8px !important;
  }

  .subject {
    /* Overrides will break glyphs */
    font-size:$glyph-height / 2 - 4px !important;
  }

  /* Icon specific rules */
  .gender.icon-gender-f + * {
    margin-top:-6px;
  }
  .gender.icon-gender-m + * {
    margin-left:-3px;
    margin-top:3px;
  }
  .icon-baby {
    font-size:12pt !important;
  }
}

.glyph.palette-1 {
  border-bottom:solid 3px #128F76;
}
.glyph.palette-2 {
  border-bottom:solid 3px #18994F;
}
.glyph.palette-3 {
  border-bottom:solid 3px #236FA2;
}
.glyph.palette-4 {
  border-bottom:solid 3px #7A4491;
}
.glyph.palette-5 {
  border-bottom:solid 3px #CEA810;
}
.glyph.palette-6 {
  border-bottom:solid 3px #b9392b;
}
.glyph.palette-7 {
  border-bottom:solid 3px #ddd;
}

.pew.pill {
  height:$glyph-height;
  border-radius:4px;
  font-size:12pt;
  text-align:center;
  background:$tertiary;
  color:white;
  padding:$gutter 0;
  margin:0 auto;
  margin-bottom:$gutter;
  padding-top:$gutter * 3;
  font-weight:bold;
  border-bottom:solid 3px #cc7017;

  .fa {
    color:rgba(255, 255, 255, 0.5);
    display:block;
    font-size:0.6em;
  }
}

.pew.high {
  background:$palette-6 !important;
  border-color:#b9392b !important;
}

.pew.low {
  background:$palette-2 !important;
  border-color:#1f9651 !important;
}
