@import '../layout';
@import '../theme';

/* Grid Layout 
Generates a set of 12 column grids with no margins
only padding that can be overriden.
*/

$columns:12;

@for $i from 0 through $columns - 1 {
  .grid.col-#{$i + 1} {
    width:floor((($columns - $i) / $columns) * 100%);
    box-sizing:border-box;
    float:left;
    padding:$gutter;
  }
}
