@import 'layout';
@import 'theme';

.label {
  font-size:1em;
  border-radius:4px;
  background:#e7fafd;
  color:$primary-shade;

  &.dull {
    background:#f1f1f1;
    color:#888;
  }

  &.bold {
    background:$primary-shade;
    color:white;
  }

  &.warning {
    color:#ca7d32;
    background:#fedebe;
  }

  &.danger {
    color:#dd5555;
    background:#ffe1df;
  }

  &.success {
    color:#348f59;
    background:#dbebd8;
  }
}
