@import 'layout';
@import 'theme';

.overlay {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0, 0, 0, 0.5);
  z-index:10;
}

.overlay.hidden {
  display:none;
}

.modal {
  @include rounded;
  margin:2em;
  padding:1em;
  background:#f3f3f3;
  overflow:hidden;
  position:relative;

  .exit {
    position:absolute;
    top:1em;
    right:1em;
    color:#aaa;
    cursor:pointer;

    &:hover {
      color:#888;
    }
  }

  .title {
    text-align:center;
    border-bottom:solid 1px #ddd;
    margin-bottom:1em;
    padding-bottom:0.5em;
    color:#555;
  }

  .option {
    @include rounded;
    font-size:1.2em;
    padding:0.2em;
    border:solid 1px #eee;
    border-bottom:solid 3px #eee;
    background:#fff;
    display:inline-block;
    color:#444;
    text-align:center;

    .name {
      font-size:0.5em;
    }
  }
}
