@import 'layout';
@import 'theme';

$navigation-bar-height:48px;

.navigation.bar {
  height:$navigation-bar-height;
  line-height:$navigation-bar-height;
  background:$primary;
  color:white;
  font-size:2.5em;

  .fa-square-o {
    font-size:0.8em;
  }

  i {
    padding:0 0.5em;
  }
}
