@import '../layout';
@import '../theme';


.notifications.list {

  .unread.notification {
    .type {
      color:$primary;
      font-weight:bold;
    }
  }

  .notification {
    overflow:hidden;
    padding:0.5em 0;
    border-bottom:solid 1px #eee;
    background:#f8f8f8;

    .type {
      color:#aaa;
      font-size:8pt;

      i {
        font-size:2em;
      }
    }

    .content {

      b  {
        color:$primary-shade;
      }
    }

  }
}
