@import '../layout';
@import '../theme';


.notifications.list {
  margin:0.5em;

  .unread.notification {
    .type {
      color:$primary;
      font-weight:bold;
    }
  }

  .notification {
    overflow:hidden;
    padding:0.5em 0;
    background:#fff;
    margin-bottom:0.5em;
    border:solid 1px #eee;
    border-bottom:solid 3px #eee;

    .type {
      color:#aaa;
      font-size:8pt;

      i {
        font-size:2em;
      }
    }

    .content {

      b  {
        color:$primary-shade;
      }
    }

  }
}
