@import '../layout';
@import '../theme';

.notifications.bar {
  background:$primary;
  height:$notifications-bar-height;
  line-height:$notifications-bar-height;
  font-size:1.5em;
  color:$primary-highlight;

  a {
    padding:0 8px;
    color:$primary-highlight;
  }

  a:hover {
    color:white;
  }

  .notification {
    position:relative;

    .count {
      position:absolute;
      bottom:0;
      left:-5px;
      font-size:10pt;
      line-height:10pt;
      background:$primary-shade;
      padding:2px;
      border-radius:2px;
    }

    .count.active {
      background:$tertiary;
      color:$tertiary-highlight;
    }
  }

}
