@import '../layout';
@import '../theme';

.notifications.bar {
  height:$notifications-bar-height;
  line-height:$notifications-bar-height;
  background:$primary;

  .icon {
    height:32px;
  }

  i {
    color:$primary-highlight;
  }

  .button {
    background:$primary;
    border:none;

    &:hover i {
      color:white;
    }
  }
}

.notification {
  position:relative;
  overflow:visible;
  display:inline-block;
  font-size:1.6em;
  margin:0 $gutter * 2;
  cursor:pointer;

  .count {
    font-size:0.5em;
    position:absolute;
    bottom:6px;
    right:-6px;
    color:white;
    background:red;
    width:14px;
    height:14px;
    line-height:12px;
    border-radius:2px;
  }

  &:hover i {
    color:white;
  }
}
