@import 'layout';
@import 'theme';

$track-width:128px;
$tab-height:$track-width;

.nurse.dash {
  @include fill;

  .tracks {
    position:relative;
    max-width:100%;
    min-height:100%;
    overflow-x:scroll;
    overflow-y:hidden;
    white-space:nowrap;
    background:#f1f1f1;

    .track.transparent {
      background:rgba(72, 160, 178, 0.1);
      position:absolute;
      right:0;

      .tab {
        border:none;
        color:white;
      }
    }

    .track.right {
      float:none !important;
      position:absolute;
      left:0;
      top:0;
    }

    .track {
      display:inline-block;
      white-space:nowrap;
      width:$track-width;
      min-height:100%;
      height:100%;
      background:rgba(255, 255, 255, 0.5);
      border-right:solid 1px #eee;
      text-align:center;
      margin-right:-4px;

      .tab {
        position:absolute;
        top:0;
        width:$track-width;
        background:$primary;
        height:$tab-height;
        text-align:center;
        font-size:1.8em;
        color:#fff;
        padding-top:16px;
      }


      .lane {
        font-size:2.4em;
        height:100%;
      }
    }
  }

  .track.transparent {
    overflow:visible;
    text-align:right;

    .tab {
      background:$primary-shade;
      z-index:10;
    }

    .time.block {
      float:left;
      left:0;
      text-align:left;
      font-size:0.5em;
      height:64px;
      color:$primary-shade;
      padding-left:$track-width / 4;
      border-top:solid 1px #ddd;
      /* Super Hacks */
      width:10000%;

      .time {
        margin-top:-0.5em;
      }
    }

    .time.block.half {
      border-top:dashed 1px #ccc;
    }
  }

  .title.bar {
    position:absolute;
  }

  .container {
    height:100%;
    padding-top:$title-bar-height;
  }
}
