@import '../layout';
@import '../theme';

$task-height:48px;


.vertical.task-radar {
  .main.tray {
    height:280px;
    background:$background-light;
    text-align:center;
    font-size:1.5em;
  }
  .end.tray {
    position:relative;
    height:60px;
    background:$background-alt;
    text-align:center;
    padding:$gutter * 3;
    color:$primary;

    .overdue, .timer {
      color:#777;
      display:block;
      position:absolute;
      top:$gutter;
    }

    .overdue { left: $gutter; }
    .timer { right: $gutter; }
  }
}

.tasks {
  padding-bottom:$actions-bar-height;
  height:100%;
  overflow-x:hidden;
  overflow-y:scroll;

  .radar {
    position:relative;
    font-size:1em;
    min-height:1em;
    background:$background-light;
    padding:$gutter;
    line-height:1em;
    overflow:visible;
    
    i {
      position:absolute;
      top:$gutter;
    }

    .selected {
      /* Override element style */
      color:$primary !important;
    }
  }

  .expired.task {
    opacity:0.3;
  }

  .task {
    min-height:$task-height;
    line-height:$task-height;
    border-bottom:solid 1px #ddd;
    border-top:solid 1px #f6f6f6;
    font-size:0.8em;
    font-weight:300;
    cursor:pointer;
    position:relative;

    .progress {
      -webkit-transition-duration:1s;
      -webkit-transition-timing-function: linear;
      height:$gutter;
      border:none;
      position:absolute;
      top:0;
      left:0;
      margin:0;
    }

    i {
      width:32px;
      text-align:center;
      -webkit-transition-duration:0.3s;
    }

    .due {
      color:#aaa;
    }

    .selected .meta {
      display:block;
    }

    .meta {
      padding:$gutter $gutter * 2;
      display:none;
      overflow:hidden;
      line-height:1.8em;
      border-left:solid $gutter $secondary;
      background:#f9f9f9;
      color:#555;

      .times {
        border:solid 1px #ddd;
        display:inline-block;
        padding:0 $gutter;
        border-radius:4px;
      }

      .time-set:after {
        content:'-';
        margin-left:$gutter;
      }

      .times:hover {
        background:#fff;
        .time-set { color: $primary }
        .time-due { color: $tertiary }
      }

    }
  }

  .task:not(.selected):hover {
    background:#f9f9f9;
    border-top:solid 1px #fff;
    font-weight:bold;

    i {
      font-size:1.5em;
      -webkit-transition-duration:0.3s;
    }
  }

  .task.selected {
    background:#f9f9f9;
    .meta {
      display:block;
    }
  }

}

.actions.bar {
  background:$background-dark;
  height:$actions-bar-height;
  line-height:$actions-bar-height;

  .action {
    display:inline-block;
    cursor:pointer;

    &:hover i {
      background:$primary-highlight;
    }

    i {
      min-width:3em;
      min-height:3em;
      background:$primary;
      color:white;
      padding:1em;
      border-radius:100%;
      text-align:center;
    }
  }
}
