<div class='title bar'>
  <div class='center'>
    Patient Data
  </div>
</div>

<div class='field'>
  <a href='#/admission/components/nameAddress'>
    <div class='large-2 small-3 columns'>
      <div class='circle progress' radial-progress='0.6'>
        <div class='surface'>
          <i class='fa fa-folder'></i>
        </div>
      </div>
    </div>

    <div class='large-8 small-5 columns'>
      <div class='title'>Name & Address</div>
    </div>

    <div class='large-1 small-2 columns'>
      <button class='alt'>
        <i class='fa fa-check'></i>
      </button>
    </div>

    <div class='large-1 small-2 columns'>
      <button class='alt'>
        <i class='fa fa-arrow-right'></i>
      </button>
    </div>
  </a>
</div>

<div class='field'>
  <a href='#/admission/components/parentInformation'>
    <div class='large-2 small-3 columns'>
      <div class='circle progress' radial-progress='0.6'>
        <div class='surface'>
          <i class='fa fa-folder'></i>
        </div>
      </div>
    </div>

    <div class='large-8 small-5 columns'>
      <div class='title'>Parent Information</div>
    </div>

    <div class='large-1 small-2 columns'>
      <button class='alt'>
        <i class='fa fa-check'></i>
      </button>
    </div>

    <div class='large-1 small-2 columns'>
      <button class='alt'>
        <i class='fa fa-arrow-right'></i>
      </button>
    </div>
  </a>
</div>

<div class='field'>
  <a href='#/admission/components/nextOfKin'>
    <div class='large-2 small-3 columns'>
      <div class='circle progress' radial-progress='0.6'>
        <div class='surface'>
          <i class='fa fa-folder'></i>
        </div>
      </div>
    </div>

    <div class='large-8 small-5 columns'>
      <div class='title'>Next of Kin</div>
    </div>

    <div class='large-1 small-2 columns'>
      <button class='alt'>
        <i class='fa fa-check'></i>
      </button>
    </div>

    <div class='large-1 small-2 columns'>
      <button class='alt'>
        <i class='fa fa-arrow-right'></i>
      </button>
    </div>
  </a>
</div>

<div class='field'>
  <a href='#/admission/components/siblings'>
    <div class='large-2 small-3 columns'>
      <div class='circle progress' radial-progress='0.6'>
        <div class='surface'>
          <i class='fa fa-folder'></i>
        </div>
      </div>
    </div>

    <div class='large-8 small-5 columns'>
      <div class='title'>Siblings</div>
    </div>

    <div class='large-1 small-2 columns'>
      <button class='alt'>
        <i class='fa fa-check'></i>
      </button>
    </div>

    <div class='large-1 small-2 columns'>
      <button class='alt'>
        <i class='fa fa-arrow-right'></i>
      </button>
    </div>
  </a>
</div>
