<div class='title bar'>
  <div class='center'>
    Patient Data
  </div>
</div>

<div class='field'>
    <div class='large-2 small-3 columns'>
      <a href='#/admission/components/nameAddress'>
        <div class='circle progress' radial-progress='0.6'>
          <div class='surface'>
            <i class='fa fa-folder'></i>
          </div>
        </div>
      </a>
    </div>

    <div class='large-8 small-5 columns'>
      <div class='title'>Name and Address</div>
    </div>
    <div class='large-1 small-2 columns'>
      <button class='alt'>
        <i class='fa fa-check'></i>
      </button>
    </div>

    <div class='large-1 small-2 columns'>
      <button class='alt'>
        <i class='fa fa-arrow-right'></i>
      </button>
    </div>
</div>

<div class='field'>
    <div class='large-2 small-3 columns'>
      <a href='#/admission/components/patientInformation'>
        <div class='circle progress' radial-progress='0.6'>
          <div class='surface'>
            <i class='fa fa-folder'></i>
          </div>
        </div>
      </a>
    </div>

    <div class='large-8 small-5 columns'>
      <div class='title'>Patient Information</div>
    </div>
    <div class='large-1 small-2 columns'>
      <button class='alt'>
        <i class='fa fa-check'></i>
      </button>
    </div>

    <div class='large-1 small-2 columns'>
      <button class='alt'>
        <i class='fa fa-arrow-right'></i>
      </button>
    </div>
</div>

<div class='field'>
    <div class='large-2 small-3 columns'>
      <a href='#/admission/components/nextOfKin'>
        <div class='circle progress' radial-progress='0.6'>
          <div class='surface'>
            <i class='fa fa-folder'></i>
          </div>
        </div>
      </a>
    </div>

    <div class='large-8 small-5 columns'>
      <div class='title'>Next of Kin</div>
    </div>
    <div class='large-1 small-2 columns'>
      <button class='alt'>
        <i class='fa fa-check'></i>
      </button>
    </div>

    <div class='large-1 small-2 columns'>
      <button class='alt'>
        <i class='fa fa-arrow-right'></i>
      </button>
    </div>
</div>

<div class='field'>
    <div class='large-2 small-3 columns'>
      <a href='#/admission/components/siblings'>
        <div class='circle progress' radial-progress='0.6'>
          <div class='surface'>
            <i class='fa fa-folder'></i>
          </div>
        </div>
      </a>
    </div>

    <div class='large-8 small-5 columns'>
      <div class='title'>Siblings</div>
    </div>
    <div class='large-1 small-2 columns'>
      <button class='alt'>
        <i class='fa fa-check'></i>
      </button>
    </div>

    <div class='large-1 small-2 columns'>
      <button class='alt'>
        <i class='fa fa-arrow-right'></i>
      </button>
    </div>
</div>
