<div class='title bar'>
  <div class='center'>
    Medical History
  </div>
</div>

<div class='field'>
  <a ui-sref='app.admit.history'>
    <div class='large-2 small-4 columns'>
      <div class='circle progress secondary' radial-progress='0.6'>
        <div class='surface'>
          <i class='icon icon-medical-history'></i>
        </div>
      </div>
    </div>

    <div class='large-8 small-8 columns'>
      <div class='title'>Medical History</div>
    </div>

  </a>
</div>

<div class='field'>
  <a ui-sref='app.admit.allergies'>
    <div class='large-2 small-4 columns'>
      <div class='circle progress secondary' radial-progress='0.6'>
        <div class='surface'>
          <i class='icon icon-allergies'></i>
        </div>
      </div>
    </div>

    <div class='large-8 small-8 columns'>
      <div class='title'>Allergies</div>
    </div>
  </a>
</div>

<div class='field'>
  <a ui-sref='app.admit.medications'>
    <div class='large-2 small-4 columns'>
      <div class='circle progress secondary' radial-progress='0.6'>
        <div class='surface'>
          <i class='icon-medications'></i>
        </div>
      </div>
    </div>

    <div class='large-8 small-8 columns'>
      <div class='title'>Medications</div>
    </div>
  </a>
</div>

<div class='small-12 large-12 columns'>
  <a ui-sref='app.admit.dash' class='button'>
    <i class='fa fa-arrow-left'></i>Back
  </a>
</div>
