<div class='title bar'>
  <div class='center'>
    Safety
  </div>
</div>

<div class='field'>
  <a href='#/admission/components/communityInvolvement'>
    <div class='large-2 small-4 columns'>
      <div class='circle progress tertiary' radial-progress='0.6'>
        <div class='surface'>
          <i class='fa fa-cubes'></i>
        </div>
      </div>
    </div>

    <div class='large-8 small-8 columns'>
      <div class='title'>Community Involvement</div>
    </div>
  </a>
</div>

<div class='field'>
  <a href='#/admission/components/safeguardingChildren'>
    <div class='large-2 small-4 columns'>
      <div class='circle progress tertiary' radial-progress='0.6'>
        <div class='surface'>
          <i class='fa fa-child'></i>
        </div>
      </div>
    </div>

    <div class='large-8 small-8 columns'>
      <div class='title'>Safeguarding Children</div>
    </div>

  </a>
</div>

<div class='field'>
  <a href='#/admission/components/manualHandling'>
    <div class='large-2 small-4 columns'>
      <div class='circle progress tertiary' radial-progress='0.6'>
        <div class='surface'>
          <i class='fa fa-warning'></i>
        </div>
      </div>
    </div>

    <div class='large-8 small-8 columns'>
      <div class='title'>Manual Handling</div>
    </div>

  </a>
</div>

<div class='small-12 large-12 columns'>
  <a href='#/admission' class='button'>
    <i class='fa fa-arrow-left'></i>Back
  </a>
</div>
