<div class='title bar'>
  <div class='center'>
    Urine/Pain/Skin
  </div>
</div>

<div class='field'>
  <a href='#/admission/components/urinalysis'>
    <div class='large-2 small-3 columns'>
      <div class='circle progress' radial-progress='0.6'>
        <div class='surface'>
          <i class='fa fa-folder'></i>
        </div>
      </div>
    </div>

    <div class='large-8 small-5 columns'>
      <div class='title'>Urinalysis</div>
    </div>

    <div class='large-1 small-2 columns'>
      <button class='alt'>
        <i class='fa fa-check'></i>
      </button>
    </div>

    <div class='large-1 small-2 columns'>
      <button class='alt'>
        <i class='fa fa-arrow-right'></i>
      </button>
    </div>
  </a>
</div>

<div class='field'>
  <a href='#/admission/components/painAssessment'>
    <div class='large-2 small-3 columns'>
      <div class='circle progress' radial-progress='0.6'>
        <div class='surface'>
          <i class='fa fa-folder'></i>
        </div>
      </div>
    </div>

    <div class='large-8 small-5 columns'>
      <div class='title'>Pain Assessment</div>
    </div>

    <div class='large-1 small-2 columns'>
      <button class='alt'>
        <i class='fa fa-check'></i>
      </button>
    </div>

    <div class='large-1 small-2 columns'>
      <button class='alt'>
        <i class='fa fa-arrow-right'></i>
      </button>
    </div>
  </a>
</div>

<div class='field'>
  <a href='#/admission/components/skinIntegrity'>
    <div class='large-2 small-3 columns'>
      <div class='circle progress' radial-progress='0.6'>
        <div class='surface'>
          <i class='fa fa-folder'></i>
        </div>
      </div>
    </div>

    <div class='large-8 small-5 columns'>
      <div class='title'>Skin Integrity 1</div>
    </div>

    <div class='large-1 small-2 columns'>
      <button class='alt'>
        <i class='fa fa-check'></i>
      </button>
    </div>

    <div class='large-1 small-2 columns'>
      <button class='alt'>
        <i class='fa fa-arrow-right'></i>
      </button>
    </div>
  </a>
</div>

<div class='field'>
  <a href='#/admission/components/skinIntegrity2'>
    <div class='large-2 small-3 columns'>
      <div class='circle progress' radial-progress='0.6'>
        <div class='surface'>
          <i class='fa fa-folder'></i>
        </div>
      </div>
    </div>

    <div class='large-8 small-5 columns'>
      <div class='title'>Skin Integrity 2</div>
    </div>

    <div class='large-1 small-2 columns'>
      <button class='alt'>
        <i class='fa fa-check'></i>
      </button>
    </div>

    <div class='large-1 small-2 columns'>
      <button class='alt'>
        <i class='fa fa-arrow-right'></i>
      </button>
    </div>
  </a>
</div>
