$gutter:4px;
$bar-height:32px;

$status-bar-height:32px;
$notifications-bar-height:48px;
$title-bar-height:32px;

$header-height:$status-bar-height + $notifications-bar-height;
$footer-height:0;

$glyph-height:60px;

@mixin fill {
  width:100%;
  height:100%;
}

@mixin overlay {
  @include fill;
  position:absolute;
  top:0;
  left:0;
}

@mixin circular {
  border-radius:100%;
}

@mixin rounded {
  border-radius:$gutter;
}
