$primary:#4fd1e7;
$primary-highlight:#b7f1fb;
$primary-shade:#48a0b2;
$secondary:#685ab2;
$tertiary:#b27d5a;

$background:#f1f1f1;
$background-dark:#222222;
$background-light:#e0e0e0;

$default-font:'Open Sans', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
$text-color:#333;
