@import 'layout';
@import 'theme';

@import 'modules/base';
@import 'modules/button';
@import 'modules/bar';
@import 'modules/checkbox';
@import 'modules/form';
@import 'modules/label';
@import 'modules/radial-progress';
@import 'modules/system-bar';
@import 'modules/notifications-bar';
@import 'modules/notifications';
@import 'modules/navigation-bar';
@import 'modules/title-bar';
@import 'modules/radial-progress';
@import 'modules/splash';
@import 'modules/login';
@import 'modules/nurse-dash';
@import 'modules/palette';
@import 'modules/patients';
@import 'modules/patient';
@import 'modules/glyph';
@import 'modules/admit';
@import 'modules/messages';
@import 'modules/message-board';
@import 'modules/obs-table';

html, body  {
  background:$background;
  font-family:$default-font;
  overflow:hidden;
  height:100%;
  overflow-x:hidden;
  min-height:100%;
}

