@import 'layout';
@import 'theme';

@import 'modules/base';
@import 'modules/grid';
@import 'modules/systembar';
@import 'modules/button';
@import 'modules/checkbox';
@import 'modules/modal';
@import 'modules/form';
@import 'modules/label';
@import 'modules/notifications';
@import 'modules/tasks';
@import 'modules/task-editor';
@import 'modules/icon-editor';
@import 'modules/collection';
@import 'modules/chat';
@import 'modules/splash';
@import 'modules/radial-progress';
@import 'modules/admission-dash';
@import 'modules/nurse-dash';
@import 'modules/patients';
@import 'modules/patient';

html, body  {
  background:$background;
  font-family:$default-font;
  overflow:hidden;
  height:100%;
  overflow-x:hidden;
}

