<div class='title bar'>
  <div class='center'>Communication</div>
</div>

<form ng-controller="AdmissionController">
  <div class="control">
    <div class="large-2 small-4 columns"><label>Speech</label>
    </div><div class="large-10 small-8 columns"><input type="checkbox" name="" value="" ng-model="patient.admission.communication.speech"/>
  </div></div>
  <div class="control">
    <textarea ng-model="patient.admission.communication.speechDetails">
    </textarea>
  <div class="large-2 small-4 columns"><label>Speech – details</label>
    </div></div>
  <div class="control">
    <div class="large-2 small-4 columns"><label>Hearing</label>
    </div><div class="large-10 small-8 columns"><input type="checkbox" name="" value="" ng-model="patient.admission.communication.hearing"/>
  </div></div>
  <div class="control">
    <textarea ng-model="patient.admission.communication.hearingDetails">
    </textarea>
  <div class="large-2 small-4 columns"><label>Hearing – details</label>
    </div></div>
  <div class="control">
    <div class="large-2 small-4 columns"><label>Vision</label>
    </div><div class="large-10 small-8 columns"><input type="checkbox" name="" value="" ng-model="patient.admission.communication.vision"/>
  </div></div>
  <div class="control">
    <textarea ng-model="patient.admission.communication.visionDetails">
    </textarea>
  <div class="large-2 small-4 columns"><label>Vision – details</label>
    </div></div>
</form>
