<div class='title bar'>
  <div class='center'>Community Involvement</div>
</div>

<form ng-controller='AdmissionController'>
  Organisation – GP Contact Name
  <div class='control'>
    <label>Address line 1</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.community.gp.address[0]'/>
  </div>
  <div class='control'>
    <label>Address line 2</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.community.gp.address[1]'/>
  </div>
  <div class='control'>
    <label>Address line 3</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.community.gp.address[2]'/>
  </div>
  <div class='control'>
    <label>Post Code</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.community.gp.postcode'/>
  </div>
  <div class='control'>
    <label>Tel number</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.community.gp.telephone'/>
  </div>
  Organisation – Health Visitor Contact Name
  <div class='control'>
    <label>Address line 1</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.community.healthVisitor.address[0]'/>
  </div>
  <div class='control'>
    <label>Address line 2</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.community.healthVisitor.address[1]'/>
  </div>
  <div class='control'>
    <label>Address line 3</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.community.healthVisitor.address[2]'/>
  </div>
  <div class='control'>
    <label>Post Code</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.community.healthVisitor.postcode'/>
  </div>
  <div class='control'>
    <label>Tel number</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.community.healthVisitor.telephone'/>
  </div>
  Organisation – Midwife  Contact Name
  <div class='control'>
    <label>Address line 1</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.community.midwife.address[0]'/>
  </div>
  <div class='control'>
    <label>Address line 2</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.community.midwife.address[1]'/>
  </div>
  <div class='control'>
    <label>Address line 3</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.community.midwife.address[2]'/>
  </div>
  <div class='control'>
    <label>Post Code</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.community.midwife.postcode'/>
  </div>
  <div class='control'>
    <label>Tel number</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.community.midwife.telephone'/>
  </div>
  Organisation – Social Worker  Contact Name
  <div class='control'>
    <label>Address line 1</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.community.socialWorker.address[0]'/>
  </div>
  <div class='control'>
    <label>Address line 2</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.community.socialWorker.address[1]'/>
  </div>
  <div class='control'>
    <label>Address line 3</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.community.socialWorker.address[2]'/>
  </div>
  <div class='control'>
    <label>Post Code</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.community.socialWorker.postcode'/>
  </div>
  <div class='control'>
    <label>Tel number</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.community.socialWorker.telephone'/>
  </div>
  Organisation – CAMHS  Contact Name
  <div class='control'>
    <label>Address line 1</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.community.camhs.address[0]'/>
  </div>
  <div class='control'>
    <label>Address line 2</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.community.camhs.address[1]'/>
  </div>
  <div class='control'>
    <label>Address line 3</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.community.camhs.address[2]'/>
  </div>
  <div class='control'>
    <label>Post Code</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.community.camhs.postcode'/>
  </div>
  <div class='control'>
    <label>Tel number</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.community.camhs.telephone'/>
  </div>
  Organisation – Com Children's Nurse Contact Name
  <div class='control'>
    <label>Address line 1</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.community.camhs.address[0]'/>
  </div>
  <div class='control'>
    <label>Address line 2</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.community.camhs.address[1]'/>
  </div>
  <div class='control'>
    <label>Address line 3</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.community.camhs.address[2]'/>
  </div>
  <div class='control'>
    <label>Post Code</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.community.camhs.postcode'/>
  </div>
  <div class='control'>
    <label>Tel number</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.community.camhs.telephone'/>
  </div>
  Organisation - Looked After Child's Nurse Contact Name
  <div class='control'>
    <label>Address line 1</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.community.nurse.address[0]'/>
  </div>
  <div class='control'>
    <label>Address line 2</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.community.nurse.address[1]'/>
  </div>
  <div class='control'>
    <label>Address line 3</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.community.nurse.address[2]'/>
  </div>
  <div class='control'>
    <label>Post Code</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.community.nurse.postcode'/>
  </div>
  <div class='control'>
    <label>Tel number</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.community.nurse.telephone'/>
  </div>
  Organisation - Youth Worker Contact Name
  <div class='control'>
    <label>Address line 1</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.community.youthWorker.address[0]'/>
  </div>
  <div class='control'>
    <label>Address line 2</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.community.youthWorker.address[1]'/>
  </div>
  <div class='control'>
    <label>Address line 3</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.community.youthWorker.address[2]'/>
  </div>
  <div class='control'>
    <label>Post Code</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.community.youthWorker.postcode'/>
  </div>
  <div class='control'>
    <label>Tel number</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.community.youthWorker.telephone'/>
  </div>
  Organisation – other  Contact Name
  <div class='control'>
    <label>Address line 1</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.community.other.address[0]'/>
  </div>
  <div class='control'>
    <label>Address line 2</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.community.other.address[1]'/>
  </div>
  <div class='control'>
    <label>Address line 3</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.community.other.address[2]'/>
  </div>
  <div class='control'>
    <label>Post Code</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.community.other.postcode'/>
  </div>
  <div class='control'>
    <label>Tel number</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.community.other.telephone'/>
  </div>
  Organisation
  <div class='control'>
    <label>Name of School</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.community.schoolName'/>
  </div>
  <div class='control'>
    <label>Name of Nursery</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.community.nurseryName'/>
  </div>
  <button>Submit</button>
</form>
