<div class='title bar'>
  <div class='center'>Communication</div>
</div>

<form>
  <div class='control'>
    <label>Speech</label>
    <input type='checkbox' name='' value=''
      ng-model='patient.admission.communication.speech'/>
  </div>
  <div class='control'>
    <label>Speech – details</label>
    <textarea
      ng-model='patient.admission.communication.speechDetails'>
    </textarea>
  </div>
  <div class='control'>
    <label>Hearing</label>
    <input type='checkbox' name='' value=''
      ng-model='patient.admission.communication.hearing'/>
  </div>
  <div class='control'>
    <label>Hearing – details</label>
    <textarea
      ng-model='patient.admission.communication.hearingDetails'>
    </textarea>
  </div>
  <div class='control'>
    <label>Vision</label>
    <input type='checkbox' name='' value=''
      ng-model='patient.admission.communication.vision'/>
  </div>
  <div class='control'>
    <label>Vision – details</label>
    <textarea
      ng-model='patient.admission.communication.visionDetails'>
    </textarea>
  </div>
</form>
