<div class='title bar'>
  <div class='center'>
    Hygiene 
  </div>
</div>

<form ng-controller='AdmissionController'>
  <div class='control'>
    <label>Washing / Dressing</label>
    <input type='checkbox' name='' value=''
      ng-model='patient.admission.hygiene.washingDressing'/>
  </div>
  <div class='control'>
    <label>Dependent</label>
    <input type='checkbox' name='' value=''
      ng-model='patient.admission.hygiene.dependent'/>
  </div>
  <div class='control'>
    <label>Needs Assistance</label>
    <input type='checkbox' name='' value=''
      ng-model='patient.admission.hygiene.needsAssistance'/>
  </div>
  <div class='control'>
    <label>Independent</label>
    <input type='checkbox' name='' value=''
      ng-model='patient.admission.hygiene.independent'/>
  </div>
  <div class='control'>
    <label>Uses nappies</label>
    <input type='checkbox' name='' value=''
      ng-model='patient.admission.hygiene.usesNappies'/>
  </div>
  <div class='control'>
    <label>Toilet training</label>
    <input type='checkbox' name='' value=''
      ng-model='patient.admission.hygiene.toiletTraining'/>
  </div>
  </div>
  <div class='control'>
    <label>Continent – day</label>
    <input type='checkbox' name='' value=''
      ng-model='patient.admission.hygiene.continentDay'/>
  </div>
  <div class='control'>
    <label>continent – night</label>
    <input type='checkbox' name='' value=''
      ng-model='patient.admission.hygiene.continentNight'/>
  </div>
  <div class='control'>
    <label>normal pattern 1</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.hygiene.normalPattern[0]'/>
  </div>
  <div class='control'>
    <label>altered pattern / problems 1</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.hygiene.alteredPattern[0]'/>
  </div>
  <div class='control'>
    <label>normal pattern 2</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.hygiene.normalPattern[1]'/>
  </div>
  <div class='control'>
    <label>altered pattern / problems 2</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.hygiene.alteredPattern[1]'/>
  </div>
  <div class='control'>
    <label>normal pattern 3</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.hygiene.normalPattern[2]'/>
  </div>
  <div class='control'>
    <label>altered pattern / problems 3</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.hygiene.alteredPattern[2]'/>
  </div>
  <div class='control'>
    <label>normal pattern 4</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.hygiene.normalPattern[3]'/>
  </div>
  <div class='control'>
    <label>altered pattern / problems 4</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.hygiene.alteredPattern[3]'/>
  </div>
  <div class='control'>
    <label>problem identified</label>
    <input type='checkbox' name='' value=''
      ng-model='patient.admission.hygiene.problemIdentified'/>
  </div>
</form>
