<div class='title bar'>
  <div class='center'>
    Hygiene 
  </div>
</div>

<form ng-controller="AdmissionController">
  <div class="control">
    <div class="large-2 small-4 columns"><label>Washing / Dressing</label>
    </div><div class="large-10 small-8 columns"><input type="checkbox" name="" value="" ng-model="patient.admission.hygiene.washingDressing"/>
  </div></div>
  <div class="control">
    <div class="large-2 small-4 columns"><label>Dependent</label>
    </div><div class="large-10 small-8 columns"><input type="checkbox" name="" value="" ng-model="patient.admission.hygiene.dependent"/>
  </div></div>
  <div class="control">
    <div class="large-2 small-4 columns"><label>Needs Assistance</label>
    </div><div class="large-10 small-8 columns"><input type="checkbox" name="" value="" ng-model="patient.admission.hygiene.needsAssistance"/>
  </div></div>
  <div class="control">
    <div class="large-2 small-4 columns"><label>Independent</label>
    </div><div class="large-10 small-8 columns"><input type="checkbox" name="" value="" ng-model="patient.admission.hygiene.independent"/>
  </div></div>
  <div class="control">
    <div class="large-2 small-4 columns"><label>Uses nappies</label>
    </div><div class="large-10 small-8 columns"><input type="checkbox" name="" value="" ng-model="patient.admission.hygiene.usesNappies"/>
  </div></div>
  <div class="control">
    <div class="large-2 small-4 columns"><label>Toilet training</label>
    </div><div class="large-10 small-8 columns"><input type="checkbox" name="" value="" ng-model="patient.admission.hygiene.toiletTraining"/>
  </div></div>
  <div class="control">
    <div class="large-2 small-4 columns"><label>Continent – day</label>
    </div><div class="large-10 small-8 columns"><input type="checkbox" name="" value="" ng-model="patient.admission.hygiene.continentDay"/>
  </div></div>
  <div class="control">
    <div class="large-2 small-4 columns"><label>continent – night</label>
    </div><div class="large-10 small-8 columns"><input type="checkbox" name="" value="" ng-model="patient.admission.hygiene.continentNight"/>
  </div></div>
  <div class="control">
    <div class="large-2 small-4 columns"><label>normal pattern 1</label>
    </div><div class="large-10 small-8 columns"><input type="text" name="" value="" ng-model="patient.admission.hygiene.normalPattern[0]"/>
  </div></div>
  <div class="control">
    <div class="large-2 small-4 columns"><label>altered pattern / problems 1</label>
    </div><div class="large-10 small-8 columns"><input type="text" name="" value="" ng-model="patient.admission.hygiene.alteredPattern[0]"/>
  </div></div>
  <div class="control">
    <div class="large-2 small-4 columns"><label>normal pattern 2</label>
    </div><div class="large-10 small-8 columns"><input type="text" name="" value="" ng-model="patient.admission.hygiene.normalPattern[1]"/>
  </div></div>
  <div class="control">
    <div class="large-2 small-4 columns"><label>altered pattern / problems 2</label>
    </div><div class="large-10 small-8 columns"><input type="text" name="" value="" ng-model="patient.admission.hygiene.alteredPattern[1]"/>
  </div></div>
  <div class="control">
    <div class="large-2 small-4 columns"><label>normal pattern 3</label>
    </div><div class="large-10 small-8 columns"><input type="text" name="" value="" ng-model="patient.admission.hygiene.normalPattern[2]"/>
  </div></div>
  <div class="control">
    <div class="large-2 small-4 columns"><label>altered pattern / problems 3</label>
    </div><div class="large-10 small-8 columns"><input type="text" name="" value="" ng-model="patient.admission.hygiene.alteredPattern[2]"/>
  </div></div>
  <div class="control">
    <div class="large-2 small-4 columns"><label>normal pattern 4</label>
    </div><div class="large-10 small-8 columns"><input type="text" name="" value="" ng-model="patient.admission.hygiene.normalPattern[3]"/>
  </div></div>
  <div class="control">
    <div class="large-2 small-4 columns"><label>altered pattern / problems 4</label>
    </div><div class="large-10 small-8 columns"><input type="text" name="" value="" ng-model="patient.admission.hygiene.alteredPattern[3]"/>
  </div></div>
  <div class="control">
    <div class="large-2 small-4 columns"><label>problem identified</label>
    </div><div class="large-10 small-8 columns"><input type="checkbox" name="" value="" ng-model="patient.admission.hygiene.problemIdentified"/>
  </div></div>
</form>
