<div class="title bar">
 <div class="center">
  Hygiene
 </div>
</div>

<form ng-controller="AdmissionController">
 <div class="control">
  <div class="large-2 small-8 columns">
   <label>
    Washing / Dressing
   </label>
  </div>
  <div class="large-10 small-4 columns">
   <input name="" ng-model="patient.admission.hygiene.washingDressing" type="checkbox" value=""/>
  </div>
 </div>
 <div class="control">
  <div class="large-2 small-8 columns">
   <label>
    Dependent
   </label>
  </div>
  <div class="large-10 small-4 columns">
   <input name="" ng-model="patient.admission.hygiene.dependent" type="checkbox" value=""/>
  </div>
 </div>
 <div class="control">
  <div class="large-2 small-8 columns">
   <label>
    Needs Assistance
   </label>
  </div>
  <div class="large-10 small-4 columns">
   <input name="" ng-model="patient.admission.hygiene.needsAssistance" type="checkbox" value=""/>
  </div>
 </div>
 <div class="control">
  <div class="large-2 small-8 columns">
   <label>
    Independent
   </label>
  </div>
  <div class="large-10 small-4 columns">
   <input name="" ng-model="patient.admission.hygiene.independent" type="checkbox" value=""/>
  </div>
 </div>
 <div class="control">
  <div class="large-2 small-8 columns">
   <label>
    Uses nappies
   </label>
  </div>
  <div class="large-10 small-4 columns">
   <input name="" ng-model="patient.admission.hygiene.usesNappies" type="checkbox" value=""/>
  </div>
 </div>
 <div class="control">
  <div class="large-2 small-8 columns">
   <label>
    Toilet training
   </label>
  </div>
  <div class="large-10 small-4 columns">
   <input name="" ng-model="patient.admission.hygiene.toiletTraining" type="checkbox" value=""/>
  </div>
 </div>
 <div class="control">
  <div class="large-2 small-8 columns">
   <label>
    Continent – day
   </label>
  </div>
  <div class="large-10 small-4 columns">
   <input name="" ng-model="patient.admission.hygiene.continentDay" type="checkbox" value=""/>
  </div>
 </div>
 <div class="control">
  <div class="large-2 small-8 columns">
   <label>
    Continent – night
   </label>
  </div>
  <div class="large-10 small-4 columns">
   <input name="" ng-model="patient.admission.hygiene.continentNight" type="checkbox" value=""/>
  </div>
 </div>

 <div class='control'>
  <h3>Pattern</h3>
  <div class='divider'></div>
 </div>
 <div class="control">
  <div class="large-2 small-5 columns">
   <label>
    Normal
   </label>
  </div>
  <div class="large-10 small-7 columns">
   <input name="" ng-model="patient.admission.hygiene.normalPattern" type="text" value=""/>
  </div>
 </div>
 <div class="control">
  <div class="large-2 small-5 columns">
   <label>
    Altered
   </label>
  </div>
  <div class="large-10 small-7 columns">
   <input name="" ng-model="patient.admission.hygiene.alteredPattern" type="text" value=""/>
  </div>
 </div>
 <div class="control">
  <div class="large-2 small-8 columns">
   <label>
    Problem Identified
   </label>
  </div>
  <div class="large-10 small-4 columns">
   <input name="" ng-model="patient.admission.hygiene.problemIdentified" type="checkbox" value=""/>
  </div>
 </div>
</form>

<div class='small-12 columns'>
  <div class='divider'></div>
  <a ui-sref='app.admit.nutrition' class='button'>
    Previous
  </a>
  <a ui-sref='app.admit.sleeping' class='button'>
    Next
  </a>
</div>
