
 
  <div class="title bar">
   <div class="center">
    Information Checklist
   </div>
  </div>
  <form>
   <div class="control">
    <div class="large-2 small-4 columns">
     <label>
      Introduction to staff
     </label>
    </div>
    <div class="large-10 small-8 columns">
     <input name="" type="checkbox" value=""/>
    </div>
   </div>
   <div class="control">
    <div class="large-2 small-4 columns">
     <label>
      Ward Orientation
     </label>
    </div>
    <div class="large-10 small-8 columns">
     <input name="" type="checkbox" value=""/>
    </div>
   </div>
   <div class="control">
    <div class="large-2 small-4 columns">
     <label>
      Explain security / safety
     </label>
    </div>
    <div class="large-10 small-8 columns">
     <input name="" type="checkbox" value=""/>
    </div>
   </div>
   <div class="control">
    <div class="large-2 small-4 columns">
     <label>
      explain use of mobile phone
     </label>
    </div>
    <div class="large-10 small-8 columns">
     <input name="" type="checkbox" value=""/>
    </div>
   </div>
   <div class="control">
    <div class="large-2 small-4 columns">
     <label>
      explain car parking
     </label>
    </div>
    <div class="large-10 small-8 columns">
     <input name="" type="checkbox" value=""/>
    </div>
   </div>
   <div class="control">
    <div class="large-2 small-4 columns">
     <label>
      Give parent information booklet
     </label>
    </div>
    <div class="large-10 small-8 columns">
     <input name="" type="checkbox" value=""/>
    </div>
   </div>
   <div class="control">
    <div class="large-2 small-4 columns">
     <label>
      patient identity bracelet attached
     </label>
    </div>
    <div class="large-10 small-8 columns">
     <input name="" type="checkbox" value=""/>
    </div>
   </div>
   <div class="control">
    <div class="large-2 small-4 columns">
     <label>
      notes ordered
     </label>
    </div>
    <div class="large-10 small-8 columns">
     <input name="" type="checkbox" value=""/>
    </div>
   </div>
   <div class="control">
    <div class="large-2 small-4 columns">
     <label>
      investigations explained
     </label>
    </div>
    <div class="large-10 small-8 columns">
     <input name="" type="checkbox" value=""/>
    </div>
   </div>
   <div class="control">
    <div class="large-2 small-4 columns">
     <label>
      consent obtained as appropriate
     </label>
    </div>
    <div class="large-10 small-8 columns">
     <input name="" type="checkbox" value=""/>
    </div>
   </div>
   <div class="control">
    <div class="large-2 small-4 columns">
     <label>
      distraction offered
     </label>
    </div>
    <div class="large-10 small-8 columns">
     <input name="" type="checkbox" value=""/>
    </div>
   </div>
   <div class="control">
    <div class="large-2 small-4 columns">
     <label>
      EMLA / AMETOP administered
     </label>
    </div>
    <div class="large-10 small-8 columns">
     <input name="" type="checkbox" value=""/>
    </div>
   </div>
   <div class="control">
    <div class="large-2 small-4 columns">
     <label>
      EMLA / AMETOP administered – if used state time
     </label>
    </div>
    <div class="large-10 small-8 columns">
     <input name="" type="checkbox" value=""/>
    </div>
   </div>
   <div class="control">
    <div class="large-2 small-4 columns">
     <label>
      Nursing care plan initiated and complete within 6 hours
     </label>
    </div>
    <div class="large-10 small-8 columns">
     <input name="" type="checkbox" value=""/>
    </div>
   </div>
  </form>
 
