<div class='title bar'>
  <div class='center'>Information Checklist</div>
</div>

<form>
  <div class='control'>
    <label>Introduction to staff</label>
    <input type='checkbox' name='' value='' />
  </div>
  <div class='control'>
    <label>Ward Orientation</label>
    <input type='checkbox' name='' value='' />
  </div>
  <div class='control'>
    <label>Explain security / safety</label>
    <input type='checkbox' name='' value='' />
  </div>
  <div class='control'>
    <label>explain use of mobile phone</label>
    <input type='checkbox' name='' value='' />
  </div>
  <div class='control'>
    <label>explain car parking</label>
    <input type='checkbox' name='' value='' />
  </div>
  <div class='control'>
    <label>Give parent information booklet</label>
    <input type='checkbox' name='' value='' />
  </div>
  <div class='control'>
    <label>patient identity bracelet attached</label>
    <input type='checkbox' name='' value='' />
  </div>
  <div class='control'>
    <label>notes ordered</label>
    <input type='checkbox' name='' value='' />
  </div>
  <div class='control'>
    <label>investigations explained</label>
    <input type='checkbox' name='' value='' />
  </div>
  <div class='control'>
    <label>consent obtained as appropriate</label>
    <input type='checkbox' name='' value='' />
  </div>
  <div class='control'>
    <label>distraction offered</label>
    <input type='checkbox' name='' value='' />
  </div>
  <div class='control'>
    <label>EMLA / AMETOP administered</label>
    <input type='checkbox' name='' value='' />
  </div>
  <div class='control'>
    <label>EMLA / AMETOP administered – if used state time</label>
    <input type='checkbox' name='' value='' />
  </div>
  <div class='control'>
    <label>Nursing care plan initiated and complete within 6 hours</label>
    <input type='checkbox' name='' value='' />
  </div>
</form>
