  <div class="title bar">
   <div class="center">
    Information Checklist
   </div>
  </div>
  <form>
   <div class="control">
    <div class="large-3 small-4 columns">
     <label>
      Introduction to staff
     </label>
    </div>
    <div class="large-9 small-8 columns">
     <input name="" type="checkbox" value=""/>
    </div>
   </div>
   <div class="control">
    <div class="large-3 small-4 columns">
     <label>
      Ward Orientation
     </label>
    </div>
    <div class="large-9 small-8 columns">
     <input name="" type="checkbox" value=""/>
    </div>
   </div>
   <div class="control">
    <div class="large-3 small-4 columns">
     <label>
      Explain security / safety
     </label>
    </div>
    <div class="large-9 small-8 columns">
     <input name="" type="checkbox" value=""/>
    </div>
   </div>
   <div class="control">
    <div class="large-3 small-4 columns">
     <label>
      Explain use of mobile phone
     </label>
    </div>
    <div class="large-9 small-8 columns">
     <input name="" type="checkbox" value=""/>
    </div>
   </div>
   <div class="control">
    <div class="large-3 small-4 columns">
     <label>
      Explain car parking
     </label>
    </div>
    <div class="large-9 small-8 columns">
     <input name="" type="checkbox" value=""/>
    </div>
   </div>
   <div class="control">
    <div class="large-3 small-4 columns">
     <label>
      Give parent information booklet
     </label>
    </div>
    <div class="large-9 small-8 columns">
     <input name="" type="checkbox" value=""/>
    </div>
   </div>
   <div class="control">
    <div class="large-3 small-4 columns">
     <label>
      Patient identity bracelet attached
     </label>
    </div>
    <div class="large-9 small-8 columns">
     <input name="" type="checkbox" value=""/>
    </div>
   </div>
   <div class="control">
    <div class="large-3 small-4 columns">
     <label>
      Notes ordered
     </label>
    </div>
    <div class="large-9 small-8 columns">
     <input name="" type="checkbox" value=""/>
    </div>
   </div>
   <div class="control">
    <div class="large-3 small-4 columns">
     <label>
      Investigations explained
     </label> </div>
    <div class="large-9 small-8 columns">
     <input name="" type="checkbox" value=""/>
    </div>
   </div>
   <div class="control">
    <div class="large-3 small-4 columns">
     <label>
      Consent obtained as appropriate
     </label>
    </div>
    <div class="large-9 small-8 columns">
     <input name="" type="checkbox" value=""/>
    </div>
   </div>
   <div class="control">
    <div class="large-3 small-4 columns">
     <label>
      Distraction offered
     </label>
    </div>
    <div class="large-9 small-8 columns">
     <input name="" type="checkbox" value=""/>
    </div>
   </div>
   <div class="control">
    <div class="large-3 small-4 columns">
     <label>
      EMLA / AMETOP administered
     </label>
    </div>
    <div class="large-9 small-8 columns">
     <input name="" type="checkbox" value=""/>
    </div>
   </div>
   <div class="control">
    <div class="large-3 small-4 columns">
     <label>
      EMLA / AMETOP administered – if used state time
     </label>
    </div>
    <div class="large-9 small-8 columns">
     <input name="" type="checkbox" value=""/>
    </div>
   </div>
   <div class="control">
    <div class="large-3 small-4 columns">
     <label>
      Nursing care plan initiated and complete within 6 hours
     </label>
    </div>
    <div class="large-9 small-8 columns">
     <input name="" type="checkbox" value=""/>
    </div>
   </div>
  </form>

  <div class='small-12 columns'>
    <div class='divider'></div>
    <a href='#/admission/' class='button'>
      Previous
    </a>
    <a href='#/admission/' class='button'>
      Next
    </a>
  </div>
