
 
  <div class="title bar">
   <div class="center">
    Manual Handling Risk Assessment
   </div>
  </div>
  <form>
   <div class="control">
    <div class="large-2 small-4 columns">
     <label>
      Whilst Attending To This Patient Is There A Risk Of Injury
     </label>
    </div>
    <div class="large-10 small-8 columns">
     <input name="" ng-model="patient.admission.manualHandling.riskOfInjury" type="checkbox" value=""/>
    </div>
   </div>
   <div class="control">
    <div class="large-2 small-4 columns">
     <label>
      If Yes Please Complete A Full WMH Manual Handling Risk Assessment Form detailing risks and methods to be used in caring for this patient
     </label>
    </div>
    <div class="large-10 small-8 columns">
    </div>
   </div>
   <div class="control">
    <div class="large-2 small-4 columns">
     <label>
      Problem Identified
     </label>
    </div>
    <div class="large-10 small-8 columns">
     <input name="" ng-model="patient.admission.manualHandling.problemIdentified" type="checkbox" value=""/>
    </div>
   </div>
  </form>
 
