<div class="title bar">
 <div class="center">
  Manual Handling Risk Assessment
 </div>
</div>

<form ng-controller="AdmissionController">
 <div class="control">
  <div class="large-2 small-8 columns">
   <label>
    Risk Of Injury?
   </label>
  </div>
  <div class="large-10 small-4 columns">
   <input name="" ng-model="patient.admission.manualHandling.riskOfInjury" type="checkbox" value=""/>
  </div>
 </div>
 <div class="control" 
   ng-show='patient.admission.manualHandling.riskOfInjury'>
  <div class="large-12 small-12 columns">
    <div class='divider'></div>
     <p class='hint'>
      Please Complete A Full WMH Manual Handling Risk Assessment Form detailing risks and methods to be used in caring for this patient
     </p>
    <div class='divider'></div>
  </div>
 </div>
 <div class="control">
  <div class="large-2 small-8 columns">
   <label>
    Problem Identified
   </label>
  </div>
  <div class="large-10 small-4 columns">
   <input name="" ng-model="patient.admission.manualHandling.problemIdentified" type="checkbox" value=""/>
  </div>
 </div>
</form>

<div class='small-12 columns'>
  <div class='divider'></div>
  <a href='#/admission/components/safeguardingChildren' class='button'>
    Previous
  </a>
  <a href='#/admission/safety' class='button'>
    Next
  </a>
</div> 
