<div class='title bar'>
  <div class='center'>Medication</div>
</div>

<form>
  <h3>Recent Medication</h3>
  <div class='control'>
    <label>Medication Prescribed / over counter</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.medication.recent.prescribed'/>
  </div>
  <div class='control'>
    <label>Dose</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.medication.recent.dose'/>
  </div>
  <div class='control'>
    <label>Strength – if Known</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.medication.recent.strength'/>
  </div>
  <div class='control'>
    <label>Last Given</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.medication.recent.lastGiven'/>
  </div>
  <div class='control'>
    <label>Frequency, Or times when given</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.medication.recent.frequency'/>
  </div>

  <h3>Regular Medication</h3>
  <div class='control'>
    <label>Medication Prescribed / over counter</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.medication.regular.prescribed'/>
  </div>
  <div class='control'>
    <label>Dose</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.medication.regular.dose'/>
  </div>
  <div class='control'>
    <label>Strength – if Known</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.medication.regular.strength'/>
  </div>
  <div class='control'>
    <label>Last Given</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.medication.regular.lastGiven'/>
  </div>
  <div class='control'>
    <label>Frequency, Or times when given</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.medication.regular.frequency'/>
  </div>
</form>

