<div class='title bar'>
  <div class='center'>Mobility</div>
</div>

<form>
  <div class='control'>
    <label>Crawling</label>
    <input type='checkbox' name='' value=''
      ng-model='patient.admission.mobility.crawling'/>
  </div>
  <div class='control'>
    <label>Walking</label>
    <input type='checkbox' name='' value=''
      ng-model='patient.admission.mobility.walking'/>
  </div>
  <div class='control'>
    <label>Needs Assistance</label>
    <input type='checkbox' name='' value=''
      ng-model='patient.admission.mobility.needsAssistance'/>
  </div>
  <div class='control'>
    <label>Unable to Walk</label>
    <input type='checkbox' name='' value=''
      ng-model='patient.admission.mobility.unableToWalk'/>
  </div>
  <div class='control'>
    <label>Wheel Chair</label>
    <input type='checkbox' name='' value=''
      ng-model='patient.admission.mobility.wheelChair'/>
  </div>
  <div class='control'>
    <label>Normal Ability 1</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.mobility.normalAbility[0]'/>
  </div>
  <div class='control'>
    <label>Altered Ability / Problem 1</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.mobility.alteredAbility[0]'/>
  </div>
  <div class='control'>
    <label>Normal Ability 2</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.mobility.normalAbility[1]'/>
  </div>
  <div class='control'>
    <label>Altered Ability / Problem 2</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.mobility.alteredAbility[1]'/>
  </div>
  <div class='control'>
    <label>Normal Ability 3</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.mobility.normalAbility[2]'/>
  </div>
  <div class='control'>
    <label>Altered Ability / Problem 3</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.mobility.alteredAbility[2]'/>
  </div>
  <div class='control'>
    <label>Problem Identified</label>
    <input type='checkbox' name='' value=''
      ng-model='patient.admission.mobility.problemIdentified'/>
  </div>
  <button>Submit</button>
</form>
