<div class='title bar'>
  <div class='center'>Mobility</div>
</div>

<form>
  <div class="control">
    <div class="large-2 small-4 columns"><label>Crawling</label>
    </div><div class="large-10 small-8 columns"><input type="checkbox" name="" value="" ng-model="patient.admission.mobility.crawling"/>
  </div></div>
  <div class="control">
    <div class="large-2 small-4 columns"><label>Walking</label>
    </div><div class="large-10 small-8 columns"><input type="checkbox" name="" value="" ng-model="patient.admission.mobility.walking"/>
  </div></div>
  <div class="control">
    <div class="large-2 small-4 columns"><label>Needs Assistance</label>
    </div><div class="large-10 small-8 columns"><input type="checkbox" name="" value="" ng-model="patient.admission.mobility.needsAssistance"/>
  </div></div>
  <div class="control">
    <div class="large-2 small-4 columns"><label>Unable to Walk</label>
    </div><div class="large-10 small-8 columns"><input type="checkbox" name="" value="" ng-model="patient.admission.mobility.unableToWalk"/>
  </div></div>
  <div class="control">
    <div class="large-2 small-4 columns"><label>Wheel Chair</label>
    </div><div class="large-10 small-8 columns"><input type="checkbox" name="" value="" ng-model="patient.admission.mobility.wheelChair"/>
  </div></div>
  <div class="control">
    <div class="large-2 small-4 columns"><label>Normal Ability 1</label>
    </div><div class="large-10 small-8 columns"><input type="text" name="" value="" ng-model="patient.admission.mobility.normalAbility[0]"/>
  </div></div>
  <div class="control">
    <div class="large-2 small-4 columns"><label>Altered Ability / Problem 1</label>
    </div><div class="large-10 small-8 columns"><input type="text" name="" value="" ng-model="patient.admission.mobility.alteredAbility[0]"/>
  </div></div>
  <div class="control">
    <div class="large-2 small-4 columns"><label>Normal Ability 2</label>
    </div><div class="large-10 small-8 columns"><input type="text" name="" value="" ng-model="patient.admission.mobility.normalAbility[1]"/>
  </div></div>
  <div class="control">
    <div class="large-2 small-4 columns"><label>Altered Ability / Problem 2</label>
    </div><div class="large-10 small-8 columns"><input type="text" name="" value="" ng-model="patient.admission.mobility.alteredAbility[1]"/>
  </div></div>
  <div class="control">
    <div class="large-2 small-4 columns"><label>Normal Ability 3</label>
    </div><div class="large-10 small-8 columns"><input type="text" name="" value="" ng-model="patient.admission.mobility.normalAbility[2]"/>
  </div></div>
  <div class="control">
    <div class="large-2 small-4 columns"><label>Altered Ability / Problem 3</label>
    </div><div class="large-10 small-8 columns"><input type="text" name="" value="" ng-model="patient.admission.mobility.alteredAbility[2]"/>
  </div></div>
  <div class="control">
    <div class="large-2 small-4 columns"><label>Problem Identified</label>
    </div><div class="large-10 small-8 columns"><input type="checkbox" name="" value="" ng-model="patient.admission.mobility.problemIdentified"/>
  </div></div>
  <button>Submit</button>
</form>
