<form>
  <div class='control'>
    <label>Forename</label>
    <input type='text'
      ng-model='patient.admission.data.forename'/>
  </div>
  <div class='control'>
    <label>Surname</label>
    <input type='text'
      ng-model='patient.admission.data.surname'/>
  </div>
  <div class='control'>
    <label>Preferred Name</label>
    <input type='text'
      ng-model='patient.admission.data.preferredName'/>
  </div>
  <div class='control'>
    <label>Address</label>
    <textarea
      ng-model='patient.admission.data.address'>
    </textarea>
  </div>
  <div class='control'>
    <label>Postcode</label>
    <input type='text'
      ng-model='patient.admission.data.postcode'/>
  </div>
</form>
