<div class='title bar'>
  <div class='center'>
    Next of Kin
  </div>
</div>

<form ng-controller='AdmissionController'>
  <div class='control'>
    <div class='large-2 small-4 columns'>
      <label>Next of kin</label>
    </div>
    <div class='large-10 small-8 columns'>
      <input type='text' name='nextOfKin'
        ng-model='patient.admission.data.nextOfKin'/>
    </div>
  </div>
  <div class='control'>
    <div class='large-2 small-4 columns'>
      <label>Relationship</label>
    </div>
    <div class='large-10 small-8 columns'>
      <input type='text' name='relationship'
        ng-model='patient.admission.data.relationship'/>
    </div>
  </div>
  <div class='control'>
    <div class='large-2 small-4 columns'>
      <label>Home telephone number</label>
    </div>
    <div class='large-10 small-8 columns'>
      <input type='text' name='homeTelephoneNumber'
        ng-model='patient.admission.data.homeTelephone'/>
    </div>
  </div>
  <div class='control'>
    <div class='large-2 small-4 columns'>
      <label>Mobile number</label>
    </div>
    <div class='large-10 small-8 columns'>
      <input type='text' name='mobileNumber'
        ng-model='patient.admission.data.mobileTelephone'/>
    </div>
  </div>
  <div class='control'>
    <div class='large-2 small-4 columns'>
      <label>Other contact number</label>
    </div>
    <div class='large-10 small-8 columns'>
      <input type='text' name='otherContactNumber'
        ng-model='patient.admission.data.otherContactTelephone'/>
    </div>
  </div>
  <div class='control'>
    <div class='large-2 small-4 columns'>
      <label>Other contact name</label>
    </div>
    <div class='large-10 small-8 columns'>
      <input type='text' name='otherContactName'
        ng-model='patient.admission.data.otherContactName'/>
    </div>
  </div>
  <div class='control'>
    <div class='large-2 small-4 columns'>
      <label>Address</label>
    </div>
    <div class='large-10 small-8 columns'>
      <textarea
        ng-model='patient.admission.data.address'>
      </textarea>
    </div>
  </div>
</form>
