<form>
  <div class='control'>
    <label>Next of kin</label>
    <input type='text' name='nextOfKin'
      ng-model='patient.admission.data.nextOfKin'/>
  </div>
  <div class='control'>
    <label>Relationship</label>
    <input type='text' name='relationship'
      ng-model='patient.admission.data.relationship'/>
  </div>
  <div class='control'>
    <label>Home telephone number</label>
    <input type='text' name='homeTelephoneNumber'
      ng-model='patient.admission.data.homeTelephone'/>
  </div>
  <div class='control'>
    <label>Mobile number</label>
    <input type='text' name='mobileNumber'
      ng-model='patient.admission.data.mobileTelephone'/>
  </div>
  <div class='control'>
    <label>Other contact number</label>
    <input type='text' name='otherContactNumber'
      ng-model='patient.admission.data.otherContactTelephone'/>
  </div>
  <div class='control'>
    <label>Other contact name</label>
    <input type='text' name='otherContactName'
      ng-model='patient.admission.data.otherContactName'/>
  </div>
  <div class='control'>
    <label>Address</label>
    <input type='text' name='address'
      ng-model='patient.admission.data.address'/>
  </div>
</form>
