<form>
  <div class='control'>
    <label>Breast fed</label>
    <input type='checkbox' name='' value=''
      ng-model='patient.admission.nutrition.breastFed'/>
  </div>
  <div class='control'>
    <label>Bottle fed</label>
    <input type='checkbox' name='' value=''
      ng-model='patient.admission.nutrition.bottleFed'/>
  </div>
  <div class='control'>
    <label>Dummy used to pacify</label>
    <input type='checkbox' name='' value=''
      ng-model='patient.admission.nutrition.dummy'/>
  </div>
  <div class='control'>
    <label>Feeder beaker</label>
    <input type='checkbox' name='' value=''
      ng-model='patient.admission.nutrition.feederBeaker'/>
  </div>
  <div class='control'>
    <label>Assistance with feeding</label>
    <input type='checkbox' name='' value=''
      ng-model='patient.admission.nutrition.feedingAssistance'/>
  </div>
  <div class='control'>
    <label>Usual dietary intake 1</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.nutrition.usualDietaryIntake[0]'/>
  </div>
  <div class='control'>
    <label>Altered diet / problems 1</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.nutrition.alteredDiet[0]'/>
  </div>
  <div class='control'>
    <label>Usual dietary intake 2</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.nutrition.usualDietaryIntake[1]'/>
  </div>
  <div class='control'>
    <label>Altered diet / problems 2</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.nutrition.alteredDiet[1]'/>
  </div>
  <div class='control'>
    <label>Usual dietary intake 3</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.nutrition.usualDietaryIntake[2]'/>
  </div>
  <div class='control'>
    <label>Altered diet / problems 3</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.nutrition.alteredDiet[2]'/>
  </div>
  <div class='control'>
    <label>Usual dietary intake 4</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.nutrition.usualDietaryIntake[3]'/>
  </div>
  <div class='control'>
    <label>Altered diet / problems 4</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.nutrition.alteredDiet[3]'/>
  </div>
  <div class='control'>
    <label>Usual dietary intake 5</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.nutrition.usualDietaryIntake[4]'/>
  </div>
  <div class='control'>
    <label>Altered diet / problems 5</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.nutrition.alteredDiet[4]'/>
  </div>
  <div class='control'>
    <label>Any dietary restrictions / special diet</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.nutrition.specialDiet'/>
  </div>
  <div class='control'>
    <label>Problem identified</label>
    <input type='checkbox' name='' value=''
      ng-model='patient.admission.nutrition.problemIdentified'/>
  </div>
</form>
