
 
  <div class="title bar">
   <div class="center">
    Observations
   </div>
  </div>
  <form>
   <div class="control">
    <div class="large-2 small-4 columns">
     <label>
      Blood Pressure 1
     </label>
    </div>
    <div class="large-10 small-8 columns">
     <input name="bloodPressureOne" ng-model="patient.admission.observations.bloodPressureOne" type="text"/>
    </div>
    <div class="large-10 small-8 columns">
     <span class="unit">
      mmol
     </span>
    </div>
   </div>
   <div class="control">
    <div class="large-2 small-4 columns">
     <label>
      Blood Pressure 2
     </label>
    </div>
    <div class="large-10 small-8 columns">
     <input name="bloodPressureTwo" ng-model="patient.admission.observations.bloodPressureTwo" type="text"/>
    </div>
    <div class="large-10 small-8 columns">
     <span class="unit">
      mmol
     </span>
    </div>
   </div>
   <div class="control">
    <div class="large-2 small-4 columns">
     <label>
      O2 sats (air)
     </label>
    </div>
    <div class="large-10 small-8 columns">
     <input name="o2Sats" ng-model="patient.admission.observations.o2SatsAir" type="text"/>
    </div>
    <div class="large-10 small-8 columns">
     <span class="unit">
      ltrs
     </span>
    </div>
   </div>
   <div class="control">
    <div class="large-2 small-4 columns">
     <label>
      O2 sats (air) in ltrs
     </label>
    </div>
    <div class="large-10 small-8 columns">
     <input name="o2SatsLitres" ng-model="patient.admission.observations.o2SatsLitres" type="text"/>
    </div>
    <div class="large-10 small-8 columns">
     <span class="unit">
      ltrs
     </span>
    </div>
   </div>
   <div class="control">
    <div class="large-2 small-4 columns">
     <label>
      Blood Sugar BM
     </label>
    </div>
    <div class="large-10 small-8 columns">
     <input name="bloodSugarBM" ng-model="patient.admission.observations.bloodSugarBM" type="text"/>
    </div>
    <div class="large-10 small-8 columns">
     <span class="unit">
      BM
     </span>
    </div>
   </div>
   <div class="control">
    <div class="large-2 small-4 columns">
     <label>
      Capillary Refill – less than 2 seconds
     </label>
    </div>
    <div class="large-10 small-8 columns">
     <input name="lessThan2Seconds" ng-model="patient.admission.observations.capillaryRefillLt2s" type="checkbox"/>
    </div>
   </div>
   <div class="control">
    <div class="large-2 small-4 columns">
     <label>
      Capillary Refill – more than 2 seconds
     </label>
    </div>
    <div class="large-10 small-8 columns">
     <input name="moreThan2Seconds" ng-model="patient.admission.observations.capillaryRefillGt2s" type="checkbox"/>
    </div>
   </div>
  </form>
 
