<div class='title bar'>
  <div class='center'>
    Observations
  </div>
</div>

<form>
  <div class="control">
    <div class="large-2 small-4 columns"><label>Peak Flow</label>
    </div><div class="large-10 small-8 columns"><input type="text" name="peakFlow" ng-model="patient.admission.observations.peakFlow"/>
  </div></div>
  <div class="control">
    <div class="large-2 small-4 columns"><label>AVPU</label>
    </div><div class="large-10 small-8 columns"><input type="text" name="avpu" ng-model="patient.admission.observations.avpu"/>
  </div></div>
  <div class="control">
    <div class="large-2 small-4 columns"><label>PEARL</label>
    </div><div class="large-10 small-8 columns"><input type="text" name="pearl" ng-model="patient.admission.observations.pearl"/>
  </div></div>
  <div class="control">
    <div class="large-2 small-4 columns"><label>Height / Length</label>
    </div><div class="large-10 small-8 columns"><input type="text" name="height" ng-model="patient.admission.observations.height"/>
  </div></div>
</form>
