<div class='title bar'>
  <div class='center'>
    Observations
  </div>
</div>

<form>
  <div class='control'>
    <label>Peak Flow</label>
    <input type='text' name='peakFlow'
      ng-model='patient.admission.observations.peakFlow'/>
  </div>
  <div class='control'>
    <label>AVPU</label>
    <input type='text' name='avpu'
      ng-model='patient.admission.observations.avpu'/>
  </div>
  <div class='control'>
    <label>PEARL</label>
    <input type='text' name='pearl'
      ng-model='patient.admission.observations.pearl'/>
  </div>
  <div class='control'>
    <label>Height / Length</label>
    <input type='text' name='height'
      ng-model='patient.admission.observations.height'/>
  </div>
</form>
