
 
  <div class="title bar">
   <div class="center">
    Pain Assessment
   </div>
  </div>
  <form>
   <div class="control">
    <div class="large-2 small-4 columns">
     <label>
      Is the Child Pain free on Admission
     </label>
    </div>
    <div class="large-10 small-8 columns">
     <input name="" ng-model="patient.admission.pain.painFree" type="checkbox" value=""/>
    </div>
   </div>
   <div class="control">
    <div class="large-2 small-4 columns">
     <label>
      if no, implement an age appropriate pain assessment tool
     </label>
    </div>
    <div class="large-10 small-8 columns">
     <input name="" ng-model="patient.admission.pain.painTool" type="" value=""/>
    </div>
   </div>
   <div class="control">
    <div class="large-2 small-4 columns">
     <label>
      smiley faces 1 - 5
     </label>
    </div>
    <div class="large-10 small-8 columns">
     <input name="" ng-model="patient.admission.pain.smiley" type="text" value=""/>
    </div>
   </div>
   <div class="control">
    <div class="large-2 small-4 columns">
     <label>
      pain score on admission
     </label>
    </div>
    <div class="large-10 small-8 columns">
     <input name="" ng-model="patient.admission.pain.score" type="text" value=""/>
    </div>
   </div>
   <div class="control">
    <div class="large-2 small-4 columns">
     <label>
      time
     </label>
    </div>
    <div class="large-10 small-8 columns">
     <input name="" ng-model="patient.admission.pain.time" type="text" value=""/>
    </div>
   </div>
   <div class="control">
    <div class="large-2 small-4 columns">
     <label>
      intervention provide (state what e.g. Medication hot / cold pack)
     </label>
    </div>
    <div class="large-10 small-8 columns">
     <input name="" ng-model="patient.admission.pain.intervention" type="text" value=""/>
    </div>
   </div>
   <div class="control">
    <div class="large-2 small-4 columns">
     <label>
      pain experienced and dealt with prior to admission
     </label>
    </div>
    <div class="large-10 small-8 columns">
     <input name="" ng-model="patient.admission.pain.painPrior" type="checkbox" value=""/>
    </div>
   </div>
   <div class="control">
    <div class="large-2 small-4 columns">
     <label>
      how was this pain dealt with? Has it:
     </label>
    </div>
    <div class="large-10 small-8 columns">
     <select ng-model="patient.admission.pain.painState">
      <option value="improved">
       Improved
      </option>
      <option value="changed">
       Changed
      </option>
      <option value="worse">
       Got Worse
      </option>
      <option value="better">
       Got Better
      </option>
     </select>
    </div>
   </div>
   <div class="control">
    <div class="large-2 small-4 columns">
     <label>
      problem identified
     </label>
    </div>
    <div class="large-10 small-8 columns">
     <input name="" ng-model="patient.admission.pain.problemIdentified" type="checkbox" value=""/>
    </div>
   </div>
  </form>
 
