
 
  <div class="title bar">
   <div class="center">
    Past Medical History
   </div>
  </div>
  <form>
   <div class="control">
    <div class="large-2 small-4 columns">
     <label>
      include ongoing health problems / birth history where relevant
     </label>
    </div>
    <div class="large-10 small-8 columns">
     <textarea ng-model="patient.admission.medicalHistory.ongoingProblems">
     </textarea>
    </div>
   </div>
   <div class="control">
    <div class="large-2 small-4 columns">
     <label>
      Immunisations up to date
     </label>
    </div>
    <div class="large-10 small-8 columns">
     <input name="" ng-model="patient.admission.medicalHistory.immunisationsUpToDate" type="checkbox" value=""/>
    </div>
   </div>
  </form>
 
