
 
  <div class="title bar">
   <div class="center">
    Safeguarding Children
   </div>
  </div>
  <form>
   <div class="control">
    <div class="large-2 small-4 columns">
     <label>
      Concerns on admission
     </label>
    </div>
    <div class="large-10 small-8 columns">
     <input name="" ng-model="patient.admission.safeguarding.concerns" type="checkbox" value=""/>
    </div>
   </div>
   <div class="control">
    <div class="large-2 small-4 columns">
     <label>
      Register Check
     </label>
    </div>
    <div class="large-10 small-8 columns">
     <input name="" ng-model="patient.admission.safeguarding.registerCheck" type="checkbox" value=""/>
    </div>
   </div>
   <div class="control">
    <div class="large-2 small-4 columns">
     <label>
      Parent Informed of Concerns
     </label>
    </div>
    <div class="large-10 small-8 columns">
     <input name="" ng-model="patient.admission.safeguarding.parentInformed" type="checkbox" value=""/>
    </div>
   </div>
   <div class="control">
    <div class="large-2 small-4 columns">
     <label>
      Social Services Contacted
     </label>
    </div>
    <div class="large-10 small-8 columns">
     <input name="" ng-model="patient.admission.safeguarding.socialServicesContacted" type="checkbox" value=""/>
    </div>
   </div>
   <div class="control">
    <div class="large-2 small-4 columns">
     <label>
      Parent Informed of Social Services Involvement
     </label>
    </div>
    <div class="large-10 small-8 columns">
     <input name="" ng-model="patient.admission.safeguarding.parentInformedSocialServices" type="checkbox" value=""/>
    </div>
   </div>
   <div class="control">
    <div class="large-2 small-4 columns">
     <label>
      Trust Named Nurse Safeguarding Children Informed
     </label>
    </div>
    <div class="large-10 small-8 columns">
     <input name="" ng-model="patient.admission.safeguarding.nurseSafeguarding" type="checkbox" value=""/>
    </div>
   </div>
   <div class="control">
    <div class="large-2 small-4 columns">
     <label>
      NB Any Child in Need / Child Protection Concerns Identified Now or Later Should Be Dealt With According To Policy And Events, Action Taken And Contacts Fully Recorded Within This Multidisciplinary Document.
     </label>
    </div>
    <div class="large-10 small-8 columns">
     <input name="" ng-model="patient.admission.safeguarding.childProtectionConcernsIdentified" type="checkbox" value=""/>
    </div>
   </div>
   <div class="control">
    <div class="large-2 small-4 columns">
     <label>
      Problem Identified
     </label>
    </div>
    <div class="large-10 small-8 columns">
     <input name="" ng-model="patient.admission.safeguarding.problemIdentified" type="checkbox" value=""/>
    </div>
   </div>
   <div class="control">
    <div class="large-2 small-4 columns">
     <label>
      Problems / Concerns
     </label>
    </div>
    <div class="large-10 small-8 columns">
     <input name="" type="checkbox" value=""/>
    </div>
   </div>
  </form>
 
