<div class='title bar'>
  <div class='center'>
    Safeguarding Children
  </div>
</div>

<form>
  <div class='control'>
    <label>Concerns on admission</label>
    <input type='checkbox' name='' value=''
      ng-model='patient.admission.safeguarding.concerns'>
  </div>
  <div class='control'>
    <label>Register Check</label>
    <input type='checkbox' name='' value=''
      ng-model='patient.admission.safeguarding.registerCheck'>
  </div>
  <div class='control'>
    <label>Parent Informed of Concerns</label>
    <input type='checkbox' name='' value=''
      ng-model='patient.admission.safeguarding.parentInformed'>
  </div>
  <div class='control'>
    <label>Social Services Contacted</label>
    <input type='checkbox' name='' value=''
      ng-model='patient.admission.safeguarding.socialServicesContacted'>
  </div>
  <div class='control'>
    <label>Parent Informed of Social Services Involvement</label>
    <input type='checkbox' name='' value=''
      ng-model='patient.admission.safeguarding.parentInformedSocialServices'>
  </div>
  <div class='control'>
    <label>Trust Named Nurse Safeguarding Children Informed</label>
    <input type='checkbox' name='' value=''
      ng-model='patient.admission.safeguarding.nurseSafeguarding'>
  </div>
  <div class='control'>
    <label>NB Any Child in Need / Child Protection Concerns Identified Now or Later Should Be Dealt With According To Policy And Events, Action Taken And Contacts Fully Recorded Within This Multidisciplinary Document.</label>
    <input type='checkbox' name='' value=''
      ng-model='patient.admission.safeguarding.childProtectionConcernsIdentified'>
  </div>
  <div class='control'>
    <label>Problem Identified</label>
    <input type='checkbox' name='' value=''
      ng-model='patient.admission.safeguarding.problemIdentified'>
  </div>
  <div class='control'>
    <label>Problems / Concerns</label>
    <input type='checkbox' name='' value='' />
  </div>
</form>
