<div class="title bar">
 <div class="center">
  Safeguarding Children
 </div>
</div>

<form ng-controller="AdmissionController">
 <div class="control">
  <div class="large-3 small-4 columns">
   <label>
    Concerns on admission
   </label>
  </div>
  <div class="large-9 small-8 columns">
   <input name="" ng-model="patient.admission.safeguarding.concerns" type="checkbox" value=""/>
  </div>
 </div>
 <div class="control">
  <div class="large-3 small-4 columns">
   <label>
    Register Check
   </label>
  </div>
  <div class="large-9 small-8 columns">
   <input name="" ng-model="patient.admission.safeguarding.registerCheck" type="checkbox" value=""/>
  </div>
 </div>
 <div class="control">
  <div class="large-3 small-4 columns">
   <label>
    Parent Informed of Concerns
   </label>
  </div>
  <div class="large-9 small-8 columns">
   <input name="" ng-model="patient.admission.safeguarding.parentInformed" type="checkbox" value=""/>
  </div>
 </div>
 <div class="control">
  <div class="large-3 small-4 columns">
   <label>
    Social Services Contacted
   </label>
  </div>
  <div class="large-9 small-8 columns">
   <input name="" ng-model="patient.admission.safeguarding.socialServicesContacted" type="checkbox" value=""/>
  </div>
 </div>
 <div class="control">
  <div class="large-3 small-4 columns">
   <label>
    Parent Informed of Social Services Involvement
   </label>
  </div>
  <div class="large-9 small-8 columns">
   <input name="" ng-model="patient.admission.safeguarding.parentInformedSocialServices" type="checkbox" value=""/>
  </div>
 </div>
 <div class="control">
  <div class="large-3 small-4 columns">
   <label>
    Trust Named Nurse Safeguarding Children Informed
   </label>
  </div>
  <div class="large-9 small-8 columns">
   <input name="" ng-model="patient.admission.safeguarding.nurseSafeguarding" type="checkbox" value=""/>
  </div>
 </div>
 <div class="control">
  <div class="large-3 small-4 columns">
   <label>
    Problem Identified
   </label>
  </div>
  <div class="large-9 small-8 columns">
   <input name="" ng-model="patient.admission.safeguarding.problemIdentified" type="checkbox" value=""/>
  </div>
 </div>
 <div class='control'>
   <div class='large-12 small-12 columns'>
    <p class='hint'>
      Any child in need / child protection concerns identified now or later should be dealt with according to Policy and events, action taken and contacts fully recorded within this multidisciplinary document
    </p>
  </div>
 </div>
</form>

<div class='small-12 columns'>
  <div class='divider'></div>
  <a href='#/admission/communityInvolvement' class='button'>
    Previous
  </a>
  <a href='#/admission/components/manualHandling' class='button'>
    Next
  </a>
</div>
