<div class='title bar'>
  <div class='center'>
    Siblings
  </div>
</div>

<form>
  <div class='control'>
    <div class='large-2 small-4 columns'>
      <label>Brother / Sister 1</label>
    </div>
    <div class='large-10 small-8 columns'>
      <input type='text' name='' value=''
        ng-model='patient.admission.data.siblings[0].name'>
    </div>
  </div>
  <div class='control'>
    <div class='large-2 small-4 columns'>
      <label>Age</label>
    </div>
    <div class='large-10 small-8 columns'>
      <input type='text' name='' value=''
        ng-model='patient.admission.data.siblings[0].age'>
    </div>
  </div>
  <div class='control'>
    <div class='large-2 small-4 columns'>
      <label>Other relevant information</label>
    </div>
    <div class='large-10 small-8 columns'>
      <textarea
        ng-model='patient.admission.data.siblings[0].information'>
      </textarea>
    </div>
  </div>
  <div class='control'>
    <div class='large-2 small-4 columns'>
      <label>Brother / Sister 2</label>
    </div>
    <div class='large-10 small-8 columns'>
      <input type='text' name='' value=''
        ng-model='patient.admission.data.siblings[1].name'>
    </div>
  </div>
  <div class='control'>
    <div class='large-2 small-4 columns'>
      <label>Age</label>
    </div>
    <div class='large-10 small-8 columns'>
      <input type='text' name='' value=''
        ng-model='patient.admission.data.siblings[1].age'>
    </div>
  </div>
  <div class='control'>
    <div class='large-2 small-4 columns'>
      <label>Other relevant information</label>
    </div>
    <div class='large-10 small-8 columns'>
      <textarea
        ng-model='patient.admission.data.siblings[1].information'>
      </textarea>
    </div>
  </div>
  <div class='control'>
    <div class='large-2 small-4 columns'>
      <label>Brother / Sister 3</label>
    </div>
    <div class='large-10 small-8 columns'>
      <input type='text' name='' value=''
        ng-model='patient.admission.data.siblings[2].name'>
    </div>
  </div>
  <div class='control'>
    <div class='large-2 small-4 columns'>
      <label>Age</label>
    </div>
    <div class='large-10 small-8 columns'>
      <input type='text' name='' value=''
        ng-model='patient.admission.data.siblings[2].age'>
    </div>
  </div>
  <div class='control'>
    <div class='large-2 small-4 columns'>
      <label>Other relevant information</label>
    </div>
    <div class='large-10 small-8 columns'>
      <textarea
        ng-model='patient.admission.data.siblings[2].information'>
      </textarea>
    </div>
  </div>
</form>
