<div class='title bar'>
<div class='center'>
  Skin Integrity
</div>
</div>

<form ng-controller="AdmissionController">
<div class='control'>
  <div class="large-3 small-4 columns">
   <label>Maelor Score on Admission</label>
  </div>
  <div class="large-9 small-8 columns">
    <input type='text' name='' value=''
      ng-model='patient.admission.skinIntegrity.maelorScore'\>
  </div>
</div>
<div class='control'>
  <div class="large-3 small-4 columns">
    <label>Need For Special Mattress?</label>
  </div>
  <div class="large-9 small-8 columns">
    <input type='checkbox' name='' value=''
      ng-model='patient.admission.skinIntegrity.specialMattress'\>
  </div>
</div>
<div class='control'>
  <div class="large-3 small-4 columns">
    <label>Problem Identified</label>
  </div>
  <div class="large-9 small-8 columns">
    <input type='checkbox' name='' value=''
      ng-model='patient.admission.skinIntegrity.problemIdentified'\>
  </div>
</div>
<div class='control'>
  <div class="large-3 small-4 columns">
    <label>Image of Child (front and back)</label>
  </div>
  <div class="large-9 small-8 columns">
    See admission form
  </div>
</div>
</form>

<div class='small-12 columns'>
<div class='divider'></div>
<a href='#/admission/components/skinIntegrity1' class='button'>
  Previous
</a>
<a href='#/admission/urinePainSkin' class='button'>
  Next
</a>
</div>
