<div class='title bar'>
  <div class='center'>
    Skin Integrity
  </div>
</div>

<form>
  <div class='control'>
    <label>Skin Intact</label>
    <input type='checkbox' name='' value=''
      ng-model='patient.admission.skinIntegrity.intact'/>
  </div>
  <div class='control'>
    <label>If No, Please Specify</label>
  </div>
  <div class='control'>
    <label>Rashes</label>
    <input type='checkbox' name='' value=''
      ng-model='patient.admission.skinIntegrity.rashes'/>
  </div>
  <div class='control'>
    <label>Rashes – describe</label>
    <textarea
      ng-model='patient.admission.skinIntegrity.rashDescription'>
    </textarea>
  </div>
  <div class='control'>
    <label>Cuts / grazes</label>
    <input type='checkbox' name='' value=''
      ng-model='patient.admission.skinIntegrity.cutsOrGrazes'/>
  </div>
  <div class='control'>
    <label>Cuts / grazes – describe</label>
    <textarea
      ng-model='patient.admission.skinIntegrity.cutsDescription'>
    </textarea>
  </div>
  <div class='control'>
    <label>Bruises</label>
    <input type='checkbox' name='' value=''
      ng-model='patient.admission.skinIntegrity.bruises'/>
  </div>
  <div class='control'>
    <label>Bruises – describe</label>
    <textarea
      ng-model='patient.admission.skinIntegrity.bruiseDescription'>
    </textarea>
  </div>
  <div class='control'>
    <label>Pressure Sores</label>'/>
    <input type='checkbox' name='' value=''
      ng-model='patient.admission.skinIntegrity.pressureSores'/>
  </div>
  <div class='control'>
    <label>Pressure Sores – describe</label>
    <textarea
      ng-model='patient.admission.skinIntegrity.pressureSoresDescription'>
    </textarea>
  </div>
  <div class='control'>
    <label>Infestations, hair / skin</label>
    <input type='checkbox' name='' value=''
      ng-model='patient.admission.skinIntegrity.infestations'/>
  </div>
  <div class='control'>
    <label>Infestations, hair / skin - describe</label>
    <textarea
      ng-model='patient.admission.skinIntegrity.infestationDescription'>
    </textarea>
  </div>
  <button>Submit</button>
</form>
