<div class='title bar'>
  <div class='center'>
    Skin Integrity
  </div>
</div>

<form>
  <div class="control">
    <div class="large-2 small-4 columns"><label>Skin Intact</label>
    </div><div class="large-10 small-8 columns"><input type="checkbox" name="" value="" ng-model="patient.admission.skinIntegrity.intact"/>
  </div></div>
  <div class="control">
    <div class="large-2 small-4 columns"><label>If No, Please Specify</label>
  </div></div>
  <div class="control">
    <div class="large-2 small-4 columns"><label>Rashes</label>
    </div><div class="large-10 small-8 columns"><input type="checkbox" name="" value="" ng-model="patient.admission.skinIntegrity.rashes"/>
  </div></div>
  <div class="control">
    <div class="large-2 small-4 columns"><label>Rashes – describe</label>
    </div><div class="large-10 small-8 columns"><textarea ng-model="patient.admission.skinIntegrity.rashDescription">
    </textarea>
  </div></div>
  <div class="control">
    <div class="large-2 small-4 columns"><label>Cuts / grazes</label>
    </div><div class="large-10 small-8 columns"><input type="checkbox" name="" value="" ng-model="patient.admission.skinIntegrity.cutsOrGrazes"/>
  </div></div>
  <div class="control">
    <div class="large-2 small-4 columns"><label>Cuts / grazes – describe</label>
    </div><div class="large-10 small-8 columns"><textarea ng-model="patient.admission.skinIntegrity.cutsDescription">
    </textarea>
  </div></div>
  <div class="control">
    <div class="large-2 small-4 columns"><label>Bruises</label>
    </div><div class="large-10 small-8 columns"><input type="checkbox" name="" value="" ng-model="patient.admission.skinIntegrity.bruises"/>
  </div></div>
  <div class="control">
    <div class="large-2 small-4 columns"><label>Bruises – describe</label>
    </div><div class="large-10 small-8 columns"><textarea ng-model="patient.admission.skinIntegrity.bruiseDescription">
    </textarea>
  </div></div>
  <div class="control">
    <div class="large-2 small-4 columns"><label>Pressure Sores</label>'/&gt;
    </div><div class="large-10 small-8 columns"><input type="checkbox" name="" value="" ng-model="patient.admission.skinIntegrity.pressureSores"/>
  </div></div>
  <div class="control">
    <div class="large-2 small-4 columns"><label>Pressure Sores – describe</label>
    </div><div class="large-10 small-8 columns"><textarea ng-model="patient.admission.skinIntegrity.pressureSoresDescription">
    </textarea>
  </div></div>
  <div class="control">
    <div class="large-2 small-4 columns"><label>Infestations, hair / skin</label>
    </div><div class="large-10 small-8 columns"><input type="checkbox" name="" value="" ng-model="patient.admission.skinIntegrity.infestations"/>
  </div></div>
  <div class="control">
    <div class="large-2 small-4 columns"><label>Infestations, hair / skin - describe</label>
    </div><div class="large-10 small-8 columns"><textarea ng-model="patient.admission.skinIntegrity.infestationDescription">
    </textarea>
  </div></div>
  <button>Submit</button>
</form>
