<div class='title bar'>
  <div class='center'>
    Skin Integrity
  </div>
</div>

<form>
  <div class='control'>
    <label>Maelor Score on Admission</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.skinIntegrity.maelorScore'\>
  </div>
  <div class='control'>
    <label>Need For Special Mattress?</label>
    <input type='checkbox' name='' value=''
      ng-model='patient.admission.skinIntegrity.specialMattress'\>
  </div>
  <div class='control'>
    <label>Problem Identified – y</label>
    <input type='checkbox' name='' value=''
      ng-model='patient.admission.skinIntegrity.problemIdentified'\>
  </div>
  <div class='control'>
    <label>Image of Child (front and back)</label>
    See admission form
  </div>
</form>

<div class='small-12 columns'>
  <a href='#/admission/components/skinIntegrity1' class='button'>
    Previous
  </a>
  <a href='#/admission/urinePainSkin' class='button'>
    Next
  </a>
</div>
