<form>
  <div class='control'>
    <label>Cot</label>
    <input type='checkbox' name='' value=''
      ng-model='patient.admission.sleeping.cot'>
  </div>
  <div class='control'>
    <label>Bed</label>
    <input type='checkbox' name='' value=''
      ng-model='patient.admission.sleeping.bed'>
  </div>
  <div class='control'>
    <label>Pillows</label>
    <input type='checkbox' name='' value=''
      ng-model='patient.admission.sleeping.pillows'>
  </div>
  <div class='control'>
    <label>Time Settles</label>
    Time
  </div>
  <div class='control'>
    <label>Time Wakes</label>
    Time
  </div>
  <div class='control'>
    <label>Naps</label>
    <input type='checkbox' name='' value=''
      ng-model='patient.admission.sleeping.naps'>
  </div>
  <div class='control'>
    <label>(when?)</label>
    Time
  </div>
  <div class='control'>
    <label>Normal Pattern 1</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.sleeping.normalPattern[0]'>
  </div>
  <div class='control'>
    <label>Altered Pattern / Problems 1</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.sleeping.alteredPattern[0]'>
  </div>
  <div class='control'>
    <label>Normal Pattern 2</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.sleeping.normalPattern[1]'>
  </div>
  <div class='control'>
    <label>Altered Pattern / Problems 2</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.sleeping.alteredPattern[1]'>
  </div>
  <div class='control'>
    <label>Normal Pattern 3</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.sleeping.normalPattern[2]'>
  </div>
  <div class='control'>
    <label>Altered Pattern / Problems 3</label>
    <input type='text' name='' value=''
      ng-model='patient.admission.sleeping.alteredPattern[2]'>
  </div>
  <div class='control'>
    <label>Bedrails Assessment</label>
    <input type='checkbox' name='' value=''
      ng-model='patient.admission.sleeping.bedrailsAssessment'>
  </div>
  <div class='control'>
    <label>(document reason for bedrails / alternatives where appropriate)</label>
    <textarea></textarea>
  </div>
  <div class='control'>
    <label>Problem Identified</label>
    <input type='checkbox' name='' value=''
      ng-model='patient.admission.sleeping.problemIdentified'>
  </div>
</form>
