

 
  <div class="title bar">
   <div class="center">
    Sleeping
   </div>
  </div>
  <form>
   <div class="control">
    <div class="large-2 small-4 columns">
     <label>
      Cot
     </label>
    </div>
    <div class="large-10 small-8 columns">
     <input name="" ng-model="patient.admission.sleeping.cot" type="checkbox" value=""/>
    </div>
   </div>
   <div class="control">
    <div class="large-2 small-4 columns">
     <label>
      Bed
     </label>
    </div>
    <div class="large-10 small-8 columns">
     <input name="" ng-model="patient.admission.sleeping.bed" type="checkbox" value=""/>
    </div>
   </div>
   <div class="control">
    <div class="large-2 small-4 columns">
     <label>
      Pillows
     </label>
    </div>
    <div class="large-10 small-8 columns">
     <input name="" ng-model="patient.admission.sleeping.pillows" type="checkbox" value=""/>
    </div>
   </div>
   <div class="control">
    <div class="large-2 small-4 columns">
     <label>
      Time Settles
     </label>
    </div>
    <div class="large-10 small-8 columns">
     Time
    </div>
   </div>
   <div class="control">
    <div class="large-2 small-4 columns">
     <label>
      Time Wakes
     </label>
    </div>
    <div class="large-10 small-8 columns">
     Time
    </div>
   </div>
   <div class="control">
    <div class="large-2 small-4 columns">
     <label>
      Naps
     </label>
    </div>
    <div class="large-10 small-8 columns">
     <input name="" ng-model="patient.admission.sleeping.naps" type="checkbox" value=""/>
    </div>
   </div>
   <div class="control" ng-show='patient.admission.sleeping.naps'>
    <div class="large-2 small-4 columns">
     <label>
      When?
     </label>
    </div>
    <div class="large-10 small-8 columns">
     Time
    </div>
   </div>
   <div class="control">
    <div class="large-2 small-4 columns">
     <label>
      Normal Pattern
     </label>
    </div>
    <div class="large-10 small-8 columns">
     <input name="" ng-model="patient.admission.sleeping.normalPattern" type="text" value=""/>
    </div>
   </div>
   <div class="control">
    <div class="large-2 small-4 columns">
     <label>
      Altered Pattern / Problems
     </label>
    </div>
    <div class="large-10 small-8 columns">
     <input name="" ng-model="patient.admission.sleeping.alteredPattern" type="text" value=""/>
    </div>
   </div>
   <div class="control">
    <div class="large-2 small-4 columns">
     <label>
      Bedrails Assessment
     </label>
    </div>
    <div class="large-10 small-8 columns">
     <input name="" ng-model="patient.admission.sleeping.bedrailsAssessment" type="checkbox" value=""/>
    </div>
   </div>
   <div class="control" ng-show='patient.admission.sleeping.bedrailsAssessment'>
    <div class="large-2 small-4 columns">
     <label>
      Document reason for bedrails
     </label>
    </div>
    <div class="large-10 small-8 columns">
     <textarea
       ng-model='patient.admission.sleeping.bedrailsReason'>
     </textarea>
    </div>
   </div>
   <div class="control">

    <div class="large-2 small-4 columns">
     <label>
      Problem Identified
     </label>
    </div>
    <div class="large-10 small-8 columns">
     <input name="" ng-model="patient.admission.sleeping.problemIdentified" type="checkbox" value=""/>
    </div>
   </div>
  </form>
 
  <div class='small-12 columns'>
    <div class='divider'></div>
    <a href='#/admission/components/hygiene' class='button'>
      Previous
    </a>
    <a href='#/admission/living' class='button'>
      Next
    </a>
  </div>
