<div class='title bar'>
  <div class='center'>
    Social Development
  </div>
</div>

<form>
  <div class='control'>
    <label>Problems / Concerns</label>
    <input type='checkbox' name='' value=''
      ng-model='patient.admission.social.problems'>
  </div>
  <div class='control'>
    <label>Details</label>
    <textarea
      ng-model='patient.admission.social.details'>
    </textarea>
  </div>
  <div class='control'>
    <label>Favourite Toys / Hobbies</label>
    <textarea
      ng-model='patient.admission.social.toysHobbies'>
    </textarea>
  </div>
</form>
