<div class='title bar'>
  <div class='center'>
    Urinalysis
  </div>
</div>

<form>
  <div class="control">
    <div class="large-2 small-4 columns"><label>Type of sample - midstream</label>
    </div><div class="large-10 small-8 columns"><input type="checkbox" name="midstream" ng-model="patient.admission.urinalisis.midstream"/>
  </div></div>
  <div class="control">
    <div class="large-2 small-4 columns"><label>Type of sample - clean catch</label>
    </div><div class="large-10 small-8 columns"><input type="checkbox" name="cleanCatch" ng-model="patient.admission.urinalisis.cleanCatch"/>
  </div></div>
  <div class="control">
    <div class="large-2 small-4 columns"><label>Type of sample - nappy</label>
    </div><div class="large-10 small-8 columns"><input type="checkbox" name="nappy" ng-model="patient.admission.urinalisis.nappy"/>
  </div></div>
  <div class="control">
    <div class="large-2 small-4 columns"><label>Type of sample - catheter</label>
    </div><div class="large-10 small-8 columns"><input type="checkbox" name="catheter" ng-model="patient.admission.urinalisis.catheter"/>
  </div></div>
  <div class="control">
    <div class="large-2 small-4 columns"><label>Type of sample - other</label>
    </div><div class="large-10 small-8 columns"><input type="string" name="other" ng-model="patient.admission.urinalisis.other"/>
  </div></div>
  <div class="control">
    <div class="large-2 small-4 columns"><label>Ward test result</label>
    </div><div class="large-10 small-8 columns"><input type="string" name="wardTestResult" ng-model="patient.admission.urinalisis.wardTestResult"/>
  </div></div>
  <div class="control">
    <div class="large-2 small-4 columns"><label>Leucocytes present</label>
    </div><div class="large-10 small-8 columns"><input type="checkbox" name="leucocytesPresent" ng-model="patient.admission.urinalisis.leucocytesPresent"/>
  </div></div>
  <div class="control">
    <div class="large-2 small-4 columns"><label>Nitrates present</label>
    </div><div class="large-10 small-8 columns"><input type="checkbox" name="nitratesPresent" ng-model="patient.admission.urinalisis.nitratesPresent"/>
  </div></div>
  <div class="control">
    <div class="large-2 small-4 columns"><label>Sent for MC&amp;S</label>
    </div><div class="large-10 small-8 columns"><input type="checkbox" name="sentForMC" ng-model="patient.admission.urinalisis.sentForMC"/>
  </div></div>
  <div class="control">
    <div class="large-2 small-4 columns"><label>Repeat sample</label>
    </div><div class="large-10 small-8 columns"><input type="checkbox" name="repeatSample" ng-model="patient.admission.urinalisis.repeatSample"/>
  </div></div>
</form>
