<div class="title bar">
 <div class="center">
  Mobility
 </div>
</div>

<form ng-controller="AdmissionController">
 <div class="control">
  <div class="large-2 small-4 columns">
   <label>
    Crawling
   </label>
  </div>
  <div class="large-10 small-8 columns">
   <input name="" ng-model="patient.admission.mobility.crawling" type="checkbox" value=""/>
  </div>
 </div>
 <div class="control">
  <div class="large-2 small-4 columns">
   <label>
    Walking
   </label>
  </div>
  <div class="large-10 small-8 columns">
   <input name="" ng-model="patient.admission.mobility.walking" type="checkbox" value=""/>
  </div>
 </div>
 <div class="control">
  <div class="large-2 small-4 columns">
   <label>
    Needs Assistance
   </label>
  </div>
  <div class="large-10 small-8 columns">
   <input name="" ng-model="patient.admission.mobility.needsAssistance" type="checkbox" value=""/>
  </div>
 </div>
 <div class="control">
  <div class="large-2 small-4 columns">
   <label>
    Unable to Walk
   </label>
  </div>
  <div class="large-10 small-8 columns">
   <input name="" ng-model="patient.admission.mobility.unableToWalk" type="checkbox" value=""/>
  </div>
 </div>
 <div class="control">
  <div class="large-2 small-4 columns">
   <label>
    Wheel Chair
   </label>
  </div>
  <div class="large-10 small-8 columns">
   <input name="" ng-model="patient.admission.mobility.wheelChair" type="checkbox" value=""/>
  </div>
 </div>
 <div class="control">
  <div class="large-2 small-4 columns">
   <label>
    Normal Ability
   </label>
  </div>
  <div class="large-10 small-8 columns">
   <input name="" ng-model="patient.admission.mobility.normalAbility" type="text" value=""/>
  </div>
 </div>
 <div class="control">
  <div class="large-2 small-4 columns">
   <label>
    Altered Ability / Problem
   </label>
  </div>
  <div class="large-10 small-8 columns">
   <input name="" ng-model="patient.admission.mobility.alteredAbility" type="text" value=""/>
  </div>
 </div>
 <div class="control">
  <div class="large-2 small-4 columns">
   <label>
    Problem Identified
   </label>
  </div>
  <div class="large-10 small-8 columns">
   <input name="" ng-model="patient.admission.mobility.problemIdentified" type="checkbox" value=""/>
  </div>
 </div>
</form>

<div class='small-12 columns'>
  <div class='divider'></div>
  <a href='#/admission/components/socialDevelopment' class='button'>
    Previous
  </a>
  <a href='#/admission/development' class='button'>
    Next
  </a>
</div>
