<div class="title bar">
 <div class="center">
  Nutrition
 </div>
</div>

<form ng-controller="AdmissionController">
 <div class="control">
  <div class="large-3 small-4 columns">
   <label>
    Breast fed
   </label>
  </div>
  <div class="large-9 small-8 columns">
   <input name="" ng-model="patient.admission.nutrition.breastFed" type="checkbox" value=""/>
  </div>
 </div>
 <div class="control">
  <div class="large-3 small-4 columns">
   <label>
    Bottle fed
   </label>
  </div>
  <div class="large-9 small-8 columns">
   <input name="" ng-model="patient.admission.nutrition.bottleFed" type="checkbox" value=""/>
  </div>
 </div>
 <div class="control">
  <div class="large-3 small-4 columns">
   <label>
    Dummy used to pacify
   </label>
  </div>
  <div class="large-9 small-8 columns">
   <input name="" ng-model="patient.admission.nutrition.dummy" type="checkbox" value=""/>
  </div>
 </div>
 <div class="control">
  <div class="large-3 small-4 columns">
   <label>
    Feeder beaker
   </label>
  </div>
  <div class="large-9 small-8 columns">
   <input name="" ng-model="patient.admission.nutrition.feederBeaker" type="checkbox" value=""/>
  </div>
 </div>
 <div class="control">
  <div class="large-3 small-4 columns">
   <label>
    Assistance with feeding
   </label>
  </div>
  <div class="large-9 small-8 columns">
   <input name="" ng-model="patient.admission.nutrition.feedingAssistance" type="checkbox" value=""/>
  </div>
 </div>
 <div class="control">
  <div class="large-3 small-4 columns">
   <label>
    Usual dietary intake
   </label>
  </div>
  <div class="large-9 small-8 columns">
   <input name="" ng-model="patient.admission.nutrition.usualDietaryIntake" type="text" value=""/>
  </div>
 </div>
 <div class="control">
  <div class="large-3 small-4 columns">
   <label>
    Altered diet / problems
   </label>
  </div>
  <div class="large-9 small-8 columns">
   <input name="" ng-model="patient.admission.nutrition.alteredDiet" type="text" value=""/>
  </div>
 </div>
 <div class="control">
  <div class="large-3 small-4 columns">
   <label>
    Any dietary restrictions / special diet
   </label>
  </div>
  <div class="large-9 small-8 columns">
   <input name="" ng-model="patient.admission.nutrition.specialDiet" type="text" value=""/>
  </div>
 </div>
 <div class="control">
  <div class="large-3 small-4 columns">
   <label>
    Problem identified
   </label>
  </div>
  <div class="large-9 small-8 columns">
   <input name="" ng-model="patient.admission.nutrition.problemIdentified" type="checkbox" value=""/>
  </div>
 </div>
</form>

<div class='small-12 columns'>
  <div class='divider'></div>
  <a href='#/admission/living' class='button'>
    Previous
  </a>
  <a href='#/admission/components/hygiene' class='button'>
    Next
  </a>
</div>
