<div class="title bar">
 <div class="center">
  Siblings
 </div>
</div>

<form ng-controller="AdmissionController">
 <div class="control">
  <div class="large-2 small-4 columns">
   <label>
     Has siblings?
   </label>
  </div>
  <div class="large-10 small-8 columns">
   <input name="" type='checkbox'
   ng-model="patient.admission.data.hasSiblings" type="text" value=""/>
  </div>
 </div>
 <div class='conditional' ng-show='patient.admission.data.hasSiblings'>
   <div class='divider'></div>
   <div class="control">
    <div class="large-2 small-4 columns">
     <label>
     </label>
    </div>
    <div class="large-10 small-8 columns">
     <button class='button'
       ng-click='addSibling()'>
      Add Sibling
     </button>
    </div>
   </div>
   <div class="control">
    <div class="large-2 small-4 columns">
     <label>
     </label>
    </div>
    <div class="large-10 small-8 columns">
      <span ng-repeat='sibling in patient.admission.data.siblings'>
        <input type='radio' id='{{$index}}' name='sibling' value='{{$index}}'
          ng-bind='selectedSibling'/>
        <label for='{{$index}}' ng-bind='sibling.name'></label>
      </span>
    </div>
   </div>
   <div class='conditional' ng-hide='selectedSibling < 0'>
     <div class="control">
      <div class="large-2 small-4 columns">
       <label>
         Name
       </label>
      </div>
      <div class="large-10 small-8 columns">
       <input name="" ng-model="patient.admission.data.siblings[selectedSibling].name" type="text" value=""/>
      </div>
     </div>
     <div class="control">
      <div class="large-2 small-4 columns">
       <label>
        Brother / Sister
       </label>
      </div>
      <div class="large-10 small-8 columns">
       <input name="gender" id='male'
        ng-model="patient.admission.data.siblings[selectedSibling].gender" type="radio" value="male"/>
        <label for='male'><i class='fa fa-male'></i></label>
       <input name="gender" id='male'
        ng-model="patient.admission.data.siblings[selectedSibling].gender" type="radio" value="female"/>
        <label for='female'><i class='fa fa-female'></i></label>
      </div>
     </div>
     <div class="control">
      <div class="large-2 small-4 columns">
       <label>
        Age
       </label>
      </div>
      <div class="large-10 small-8 columns">
       <input name="" ng-model="patient.admission.data.siblings[selectedSibling].age" type="text" value=""/>
      </div>
     </div>
     <div class="control">
      <div class="large-2 small-4 columns">
       <label>
        Other relevant information
       </label>
      </div>
      <div class="large-10 small-8 columns">
       <textarea ng-model="patient.admission.data.siblings[selectedSibling].information">
       </textarea>
      </div>
     </div>
    </div>
 </div>
</form>

<div class='small-12 columns'>
  <div class='divider'></div>
  <a href='#/admission/nextOfKin' class='button'>
    Previous
  </a>
  <a href='#/admission/data' class='button'>
    Next
  </a>
</div>
