<div class='title bar'>
  <div class='center'>
    Patient Data
  </div>
</div>

<div class='field'>
  <div class='large-2 small-4 columns'>
    <a ui-sref='app.admit.nameAddress'
      progress-node
      node-name='data'
      node-links='["data.forename"]'
      node-value='0'>
      <div class='circle progress' radial-progress='0.8'>
        <div class='surface'>
          <i class='fa fa-folder'></i>
        </div>
      </div>
    </a>
  </div>

  <div class='large-8 small-8 columns'>
    <div class='title'>Name and Address</div>
  </div>
</div>

<div class='field'>
  <div class='large-2 small-4 columns'>
    <a ui-sref='app.admit.info'>
      <div class='circle progress' radial-progress='0.6'>
        <div class='surface'>
          <i class='fa fa-user'></i>
        </div>
      </div>
    </a>
  </div>

  <div class='large-8 small-8 columns'>
    <div class='title'>Patient Information</div>
  </div>
</div>

<div class='field'>
  <div class='large-2 small-4 columns'>
    <a ui-sref='app.admit.nextOfKin'>
      <div class='circle progress' radial-progress='0.6'>
        <div class='surface'>
          <i class='fa fa-users'></i>
        </div>
      </div>
    </a>
  </div>

  <div class='large-8 small-8 columns'>
    <div class='title'>Next of Kin</div>
  </div>
</div>

<div class='field'>
  <div class='large-2 small-4 columns'>
    <a ui-sref='app.admit.siblings'>
      <div class='circle progress' radial-progress='0.6'>
        <div class='surface'>
          <i class='icon icon-child'></i>
        </div>
      </div>
    </a>
  </div>

  <div class='large-8 small-8 columns'>
    <div class='title'>Siblings</div>
  </div>
</div>

<div class='small-12 large-12 columns'>
  <a ui-sref='app.admit.dash' class='button'>
    <i class='fa fa-arrow-left'></i>Back
  </a>
</div>
