<div class='title bar'>
  <div class='center'>
    Development
  </div>
</div>

<div class='field'>
  <div class='large-2 small-4 columns'>
    <a href='#/admission/components/communication'>
      <div class='circle progress secondary' radial-progress='0.6'>
        <div class='surface'>
          <i class='fa fa-comments'></i>
        </div>
      </div>
    </a>
  </div>

  <div class='large-8 small-8 columns'>
    <div class='title'>Communication</div>
  </div>
</div>

<div class='field'>
  <div class='large-2 small-4 columns'>
    <a href='#/admission/components/socialDevelopment'>
      <div class='circle progress secondary' radial-progress='0.6'>
        <div class='surface'>
          <i class='fa fa-group'></i>
        </div>
      </div>
    </a>
  </div>

  <div class='large-8 small-8 columns'>
    <div class='title'>Social Development</div>
  </div>

</div>

<div class='field'>
  <div class='large-2 small-4 columns'>
    <a href='#/admission/components/mobility'>
      <div class='circle progress secondary' radial-progress='0.6'>
        <div class='surface'>
          <i class='fa fa-wheelchair'></i>
        </div>
      </div>
    </a>
  </div>

  <div class='large-8 small-8 columns'>
    <div class='title'>Mobility</div>
  </div>

</div>

<div class='small-12 large-12 columns'>
  <a href='#/admission' class='button'>
    <i class='fa fa-arrow-left'></i>Back
  </a>
</div>
