<div class='title bar'>
  <div class='center'>
    Living
  </div>
</div>

<div class='field'>
  <a href='#/admission/components/nutrition'>
    <div class='large-2 small-4 columns'>
      <div class='circle progress secondary' radial-progress='0.6'>
        <div class='surface'>
          <i class='fa fa-coffee'></i>
        </div>
      </div>
    </div>

    <div class='large-8 small-8 columns'>
      <div class='title'>Nutrition</div>
    </div>

  </a>
</div>

<div class='field'>
  <a href='#/admission/components/hygiene'>
    <div class='large-2 small-4 columns'>
      <div class='circle progress secondary' radial-progress='0.6'>
        <div class='surface'>
          <i class='fa fa-folder'></i>
        </div>
      </div>
    </div>

    <div class='large-8 small-8 columns'>
      <div class='title'>Hygiene</div>
    </div>

  </a>
</div>

<div class='field'>
  <a href='#/admission/components/sleeping'>
    <div class='large-2 small-4 columns'>
      <div class='circle progress secondary' radial-progress='0.6'>
        <div class='surface'>
          <i class='icon icon-bed'></i>
        </div>
      </div>
    </div>

    <div class='large-8 small-8 columns'>
      <div class='title'>Sleeping</div>
    </div>

  </a>
</div>

<div class='small-12 large-12 columns'>
  <a href='#/admission' class='button'>
    <i class='fa fa-arrow-left'></i>Back
  </a>
</div>
