<div class='title bar'>
  <div class='center'>
    Medical History
  </div>
</div>

<div class='field'>
  <a href='#/admission/components/medicalHistory'>
    <div class='large-2 small-3 columns'>
      <div class='circle progress secondary' radial-progress='0.6'>
        <div class='surface'>
          <i class='icon icon-medical-history'></i>
        </div>
      </div>
    </div>

    <div class='large-8 small-5 columns'>
      <div class='title'>Medical History</div>
    </div>

    <div class='large-1 small-2 columns'>
      <button class='alt'>
        <i class='fa fa-check'></i>
      </button>
    </div>

    <div class='large-1 small-2 columns'>
      <button class='alt'>
        <i class='fa fa-arrow-right'></i>
      </button>
    </div>
  </a>
</div>

<div class='field'>
  <a href='#/admission/components/allergies'>
    <div class='large-2 small-3 columns'>
      <div class='circle progress secondary' radial-progress='0.6'>
        <div class='surface'>
          <i class='icon icon-allergies'></i>
        </div>
      </div>
    </div>

    <div class='large-8 small-5 columns'>
      <div class='title'>Allergies</div>
    </div>

    <div class='large-1 small-2 columns'>
      <button class='alt'>
        <i class='fa fa-check'></i>
      </button>
    </div>

    <div class='large-1 small-2 columns'>
      <button class='alt'>
        <i class='fa fa-arrow-right'></i>
      </button>
    </div>
  </a>
</div>

<div class='field'>
  <a href='#/admission/components/medication'>
    <div class='large-2 small-3 columns'>
      <div class='circle progress secondary' radial-progress='0.6'>
        <div class='surface'>
          <i class='icon-medications'></i>
        </div>
      </div>
    </div>

    <div class='large-8 small-5 columns'>
      <div class='title'>Medications</div>
    </div>

    <div class='large-1 small-2 columns'>
      <button class='alt'>
        <i class='fa fa-check'></i>
      </button>
    </div>

    <div class='large-1 small-2 columns'>
      <button class='alt'>
        <i class='fa fa-arrow-right'></i>
      </button>
    </div>
  </a>
</div>

<div class='field'>
  <a href='#/admission/components/medications'>
    <div class='large-2 small-3 columns'>
      <div class='circle progress secondary' radial-progress='0.6'>
        <div class='surface'>
          <i class='icon icon-list-of-meds'></i>
        </div>
      </div>
    </div>

    <div class='large-8 small-5 columns'>
      <div class='title'>List of Meds</div>
    </div>

    <div class='large-1 small-2 columns'>
      <button class='alt'>
        <i class='fa fa-check'></i>
      </button>
    </div>

    <div class='large-1 small-2 columns'>
      <button class='alt'>
        <i class='fa fa-arrow-right'></i>
      </button>
    </div>
  </a>
</div>

<div class='small-12 large-12 columns'>
  <a href='#/admission' class='button'>
    <i class='fa fa-arrow-left'></i>Back
  </a>
</div>
