<div class='title bar'>
  <div class='center'>
    Urine/Pain/Skin
  </div>
</div>

<div class='field'>
  <a ui-sref='app.admit.urine'>
    <div class='large-2 small-4 columns'>
      <div class='circle progress' radial-progress='0.6'>
        <div class='surface'>
          <i class='fa fa-tint'></i>
        </div>
      </div>
    </div>

    <div class='large-8 small-8 columns'>
      <div class='title'>Urinalysis</div>
    </div>
  </a>
</div>

<div class='field'>
  <a ui-sref='app.admit.pain'>
    <div class='large-2 small-4 columns'>
      <div class='circle progress' radial-progress='0.6'>
        <div class='surface'>
          <i class='fa fa-frown-o'></i>
        </div>
      </div>
    </div>

    <div class='large-8 small-8 columns'>
      <div class='title'>Pain Assessment</div>
    </div>

  </a>
</div>

<div class='field'>
  <a ui-sref='app.admit.skin'>
    <div class='large-2 small-4 columns'>
      <div class='circle progress' radial-progress='0.6'>
        <div class='surface'>
          <i class='fa fa-file-text-o'></i>
        </div>
      </div>
    </div>

    <div class='large-8 small-8 columns'>
      <div class='title'>Skin Integrity 1</div>
    </div>

  </a>
</div>

<div class='field'>
  <a ui-sref='app.admit.skin2'>
    <div class='large-2 small-4 columns'>
      <div class='circle progress' radial-progress='0.6'>
        <div class='surface'>
          <i class='fa fa-file-text-o'></i>
        </div>
      </div>
    </div>

    <div class='large-8 small-8 columns'>
      <div class='title'>Skin Integrity 2</div>
    </div>

  </a>
</div>

<div class='small-12 large-12 columns'>
  <a ui-sref='app.admit.dash' class='button'>
    <i class='fa fa-arrow-left'></i>Back
  </a>
</div>

