<div class='header'>
  <div class='system bar'>
    <div class='left'><i class='fa fa-clock-o'></i>12.39</div>
    <div class='center'>Thursday 17th July 2014</div>
    <div class='right'></div>
  </div>
  <div class='notifications bar' ng-controller='NotificationController'>

    <div class='left'>
      <a href='#/app/dash'>
        <i class='fa fa-home'></i>
      </a>
    </div>

    <div class='center'>
      <a ui-sref='.messages'>
        <span class='notification'>
          <i class='fa fa-envelope-o'></i>
          <span class='count'
            ng-class='{ active: messagesActive }'
            ng-show='messages'
            ng-bind='messages'></span>
        </span>
      </a>
      <a ui-sref='.patients'>
        <i class='fa fa-group'></i>
      </a>
      <a ui-sref='.notifications'>
        <span class='notification'>
          <i class='fa fa-bell'></i>
          <span class='count active'
            ng-class='{ active: notifyActive }'
            ng-show='notifications'
              ng-bind='notifications'></span>
        </span>
      </a>
    </div>

    <div class='right'>
      <a href='#/login'>
        <i class='fa fa-sign-out'></i>
      </a>
    </div>

  </div>
</div>

<div class='container'>
  <div class='scrollable' ui-view>
  </div>
</div>
