<div class='title bar'>
  <div class='center'>
    Blood
  </div>
</div>

<div class='patient profile'>

  <!--Profile Bar-->
  <div class='profile bar'>
    <div class='small-2 columns'>
      <div class='glyph palette-3'>
        <i class='icon icon-gender-f gender palette-5'></i>
        <i class='icon icon-child subject palette-4'></i>
      </div>
    </div>
    <div class='small-8 columns'>
      <div class='row'>
        <div class='small-12 columns'>
          <span class='name'>Becky Thomas</span>
        </div>
      </div>
      <div class='row'>
        <div class='small-3 columns'>
          <span class='age'>13/F</span>
        </div>
        <div class='small-3 columns'>
          <span class='bed'>Bed 5</span>
        </div>
        <div class='small-6 columns'>
          <span class='bed'>20th July 2014</span>
        </div>
      </div>
    </div>
    <div class='small-2 columns'>
      <div pew='2'></div>
    </div>
  </div>
  <!--/Profile Bar-->

  <div class='blood'>
    <div class='row'>
      <div class='info'>
        <i class='fa fa-tint icon palette-6'></i>
        Patient requires full blood count.
      </div>
    </div>

    <div class='checklist'>
      <div class='row done'>
        <div class='small-2 columns status'>
          <i class='fa fa-check'></i>
        </div>
        <div class='small-6 columns name'>
          Red Bottle
        </div>
        <div class='small-4 columns'>
          <input type='checkbox'/>
        </div>
      </div>
      <div class='row'>
        <div class='small-2 columns status'>
          1
        </div>
        <div class='small-6 columns name'>
          Brown Bottle
        </div>
        <div class='small-4 columns'>
          <input type='checkbox'/>
        </div>
      </div>
      <div class='row'>
        <div class='small-2 columns status'>
          1
        </div>
        <div class='small-6 columns name'>
          Blood Culture
        </div>
        <div class='small-4 columns'>
          <input type='checkbox'/>
        </div>
      </div>
    </div>

    <div class='row'>
      <div class='small-12 columns'>
        <a class='button'>
          <!--<i class='fa fa-print'></i>-->
          <i class='fa fa-refresh fa-spin'></i>
          Print Labels
        </a>
        <a class='button'>
          <i class='fa fa-check'></i>
          Complete
        </a>
        <a class='button'>
          <i class='fa fa-clock-o'></i>
        </a>
      </div>
    </div>
  </div>

</div>

