<div class='nurse dash' ng-init='init()'>
  <div class='status'>
    <div class='label bold {{timeOfDay()}}'>
      <i class='fa' ng-class='{ "fa-sun-o": morning() || afternoon() || evening(), "fa-moon-o": night() }'></i>
      Good <span ng-bind='timeOfDay()'></span>,
      <b ng-bind='staff.name.firstname'></b>
      <b ng-bind='staff.name.surname'></b>
    </div>
  </div>
  <div class='divider'></div>
  <a href='#/admission' class='button'>New AAU Notification</a>
  <a href='#/patients' class='button'>Patients</a>
</div>

