<div class='title bar'>
  <div class='center'>
    Administer Medication
  </div>
</div>

<div class='patient profile' ng-controller='PatientController'>

  <!--Profile Bar-->
  <patient-profile-bar patient='patient'></patient-profile-bar>
  <!--/Profile Bar-->

  <div class='row'>
    <div class='small-12 columns'>
      <div class='info label'>
        Each administration requires a second approval.
      </div>

      <table class='drug approval'>
        <tr>
          <th>Drug Name</th>
          <th>Second Approval</th>
          <th>Administered?</th>
        </tr>
        <tr>
          <td>Paracetamol (250mg)</td>
          <td><a class='button'>Approve</a></td>
          <td><input type='checkbox'/></td>
        </tr>
        <tr>
          <td>Flucloxacillin (120mg)</td>
          <td><a class='button'>Approve</a></td>
          <td><input type='checkbox'/></td>
        </tr>
        <tr>
          <td>Nexium (130mg)</td>
          <td><a class='button'>Approve</a></td>
          <td><input type='checkbox'/></td>
        </tr>
      </table>

      <div class='divider'></div>

      <a class='button' ui-sref='app.dash'>Done</a>

    </div>
  </div>


</div>

