<div class='title bar'>
  <div class='center'>
    Ward Message Board
  </div>
</div>

<div class='messages board' ng-controller='WardMessageController'>

  <div class='message' ng-repeat='message in messages'>
    <div class='small-2 columns'>
      <div class='meta'>
        <div class='avatar'>
          <glyph details='message.glyph' gender='message.glyph.gender'></glyph>
        </div>
        <div class='name' ng-bind='message.from'></div>
      </div>
    </div>
    <div class='small-10 columns'>
      <div class='bar'>
        <div class='left'>
          <i class='fa fa-clock-o'></i>
          <em time-since='message.time'></em>
          ago
        </div>
        <div class='right'>
          <i class='fa fa-calendar-o'></i>
          <em date='message.time'></em>
        </div>
      </div>
      <p ng-bind='message.body'></p>
    </div>
  </div>

  <div class='footer'>
    <div class='text entry'>
      <textarea placeholder='Ward message' ng-model='message'></textarea>
      <button class='button' ng-click='post()'>Post</button>
    </div>
  </div>
</div>

