<div class='title bar'>
  <div class='center'>
    Notes for Patient
  </div>
</div>

<div class='messages'>
  <div class='message'>
    <div class='small-3 columns'>
      <div class='meta'>
        <div class='avatar'>
          <i class='fa fa-user-md'></i>
        </div>
        <div class='name'>
          Jones
        </div>
      </div>

      <div class='divider'></div>
      <div class='flags'>
        <input type='checkbox' class='single' id='epoc'/>
        <label for='epoc'>
          <i class='fa fa-star'></i>
        </label>
        <input type='checkbox' class='single' id='handover'/>
        <label for='handover'>
          <i class='fa fa-h-square'></i>
        </label>
      </div>

    </div>
    <div class='small-9 columns'>
      <div class='bar'>
        <div class='left'>
          <i class='fa fa-clock-o'></i>
          <em>12:35</em>
        </div>
        <div class='right'>
          <i class='fa fa-calendar-o'></i>
          <em>6/10/14</em>
        </div>
      </div>
      <p>
        I used to hate taking notes, but now I can take notes on my phone.
        I think this is a great reason for the NHS to spend £40,000 on 
        this app. Don't you agree?
      </p>
    </div>
  </div>
  <div class='message'>
    <div class='small-3 columns'>
      <div class='meta'>
        <div class='avatar'>
          <i class='fa fa-user-md'></i>
        </div>
        <div class='name'>
          Dr David
        </div>
      </div>

      <div class='divider'></div>
      <div class='flags'>
        <input type='checkbox' class='single' id='epoc'/>
        <label for='epoc'>
          <i class='fa fa-star'></i>
        </label>
        <input type='checkbox' class='single' id='handover'/>
        <label for='handover'>
          <i class='fa fa-h-square'></i>
        </label>
      </div>

    </div>
    <div class='small-9 columns'>
      <div class='bar'>
        <div class='left'>
          <i class='fa fa-clock-o'></i>
          <em>12:35</em>
        </div>
        <div class='right'>
          <i class='fa fa-calendar-o'></i>
          <em>6/10/14</em>
        </div>
      </div>
      <p>
        I used to hate taking notes, but now I can take notes on my phone.
        I think this is a great reason for the NHS to spend £40,000 on 
        this app. Don't you agree?
      </p>
    </div>
  </div>
  <div class='message'>
    <div class='small-3 columns'>
      <div class='meta'>
        <div class='avatar'>
          <i class='fa fa-user-md'></i>
        </div>
        <div class='name'>
          Jones
        </div>
      </div>

      <div class='divider'></div>
      <div class='flags'>
        <input type='checkbox' class='single' id='epoc'/>
        <label for='epoc'>
          <i class='fa fa-star'></i>
        </label>
        <input type='checkbox' class='single' id='handover'/>
        <label for='handover'>
          <i class='fa fa-h-square'></i>
        </label>
      </div>

    </div>
    <div class='small-9 columns'>
      <div class='bar'>
        <div class='left'>
          <i class='fa fa-clock-o'></i>
          <em>12:35</em>
        </div>
        <div class='right'>
          <i class='fa fa-calendar-o'></i>
          <em>6/10/14</em>
        </div>
      </div>
      <p>
        I used to hate taking notes, but now I can take notes on my phone.
        I think this is a great reason for the NHS to spend £40,000 on 
        this app. Don't you agree?
      </p>
    </div>
  </div>
</div>

<div class='footer'>
  <a class='button' href='#/notes/edit'>
    <i class='fa fa-pencil'></i>
  </a>
</div>
