<div class='title bar'>
  <div class='center'>
    Write Note
  </div>
</div>

<div class='message editor'>
  <div>
    <div class='small-1 columns'>
      <span class='subject'>
        For
      </span>
    </div>
    <div class='small-11 columns'>
      <input type='text'/>
    </div>
  </div>
  <div class='small-12 columns'>
    <textarea class='body'></textarea>
  </div>
</div>

<div class='footer'>
  <center>
    <a class='button' href='#/notes'>
      <i class='fa fa-check'></i>
    </a>
    <a class='button' href='#/notes'>
      <i class='fa fa-times'></i>
    </a>
  </center>
</div>
