<div class='title bar'>
  <div class='center'>
    Notifications
  </div>
</div>

<div class='notifications list'>

  <div class='unread notification'>
    <div class='small-1 columns type'>
      <i class='fa fa-envelope-o'></i>
      <div class='time'>22m ago</div>
    </div>
    <div class='small-2 columns'>
      <div class='glyph palette-3'>
        <i class='icon icon-gender-f gender palette-5'>
          <i class='icon fa fa-user-md subject palette-4'></i>
        </i>
        <i class='icon fa fa-circle palette-2'></i>
      </div>
    </div>
    <div class='small-2 columns'>
      <div class='glyph palette-2'>
        <i class='icon icon-gender-m gender palette-4'>
          <i class='icon fa fa-user-md subject palette-5'></i>
        </i>
        <i class='icon fa fa-circle palette-3'></i>
      </div>
    </div>
    <div class='small-7 columns content'>
      <b>Dr Smith</b> wrote on
      <b>Jim Finchley's</b> board.
    </div>
  </div>

  <div class='unread notification'>
    <div class='small-1 columns type'>
      <i class='fa fa-envelope-o'></i>
      <div class='time'>28m ago</div>
    </div>
    <div class='small-2 columns'>
      <div class='glyph palette-6'>
        <i class='icon icon-gender-m gender palette-3'>
          <i class='icon fa fa-user-md subject palette-5'></i>
        </i>
        <i class='icon fa fa-circle palette-2'></i>
      </div>
    </div>
    <div class='small-2 columns'>
      <div class='glyph palette-3'>
        <i class='icon icon-gender-m gender palette-6'>
          <i class='icon fa fa-user-md subject palette-6'></i>
        </i>
        <i class='icon fa fa-circle palette-1'></i>
      </div>
    </div>
    <div class='small-7 columns content'>
      <b>Dr Jones</b> wrote on
      <b>Jane Stevenson's</b> board.
    </div>
  </div>

  <div class='notification'>
    <div class='small-1 columns type'>
      <i class='fa fa-envelope-o'></i>
      <div class='time'>2h ago</div>
    </div>
    <div class='small-2 columns'>
      <div class='glyph palette-2'>
        <i class='icon icon-gender-m gender palette-3'>
          <i class='icon fa fa-user-md subject palette-4'></i>
        </i>
        <i class='icon fa fa-circle palette-1'></i>
      </div>
    </div>
    <div class='small-2 columns'>
      <div class='glyph palette-5'>
        <i class='icon icon-gender-m gender palette-3'>
          <i class='icon fa fa-user-md subject palette-6'></i>
        </i>
        <i class='icon fa fa-circle palette-2'></i>
      </div>
    </div>
    <div class='small-7 columns content'>
      <b>Dr Elsa</b> wrote on
      <b>Matt Escher's</b> board.
    </div>
  </div>

  <div class='notification'>
    <div class='small-1 columns type'>
      <i class='fa fa-envelope-o'></i>
      <div class='time'>3h ago</div>
    </div>
    <div class='small-2 columns'>
      <div class='glyph palette-7'>
        <i class='icon fa fa-medkit subject palette-7'></i>
        <i class='icon fa fa-circle palette-6'></i>
      </div>
    </div>
    <div class='small-2 columns'>
      <div class='glyph palette-5'>
        <i class='icon icon-gender-m gender palette-3'>
          <i class='icon fa fa-user-md subject palette-6'></i>
        </i>
        <i class='icon fa fa-circle palette-2'></i>
      </div>
    </div>
    <div class='small-7 columns content'>
      <b>ENT</b> wrote on
      <b>Matt Escher's</b> board.
    </div>
  </div>


</div>
