<div class='title bar'>
  <div class='center'>
    Paedriatic Observation Chart
  </div>
</div>


<table ng-controller='GraphController' class='obs'>

  <!-- Breathing -->
  <tr click-toggle-class='expanded'>
    <th>Breathing</th>
    <td>32</td>
    <td>26</td>
    <td>29</td>
    <td>30</td>
    <td>35</td>
    <td>31</td>
    <td>27</td>
  </tr>
  <tr class='reveal'>
    <td colspan='12'>
      <img src='images/respGraph.png'/>
    </td>
  </tr>

  <!-- O2 Saturation -->
  <tr click-toggle-class='expanded'>
    <th>O2 Saturation</th>
    <td>32</td>
    <td>26</td>
    <td>29</td>
    <td>30</td>
    <td>35</td>
    <td>31</td>
    <td>27</td>
  </tr>
  <tr class='reveal'>
    <td colspan='12'>
      <img src='images/bloodpressure.png'/>
    </td>
  </tr>

  <!-- O2 Concentration -->
  <tr click-toggle-class='expanded'>
    <th>O2 Saturation - L/Min</th>
    <td>32</td>
    <td>26</td>
    <td>29</td>
    <td>30</td>
    <td>35</td>
    <td>31</td>
    <td>27</td>
  </tr>
  <tr class='reveal'>
    <td colspan='12'>
      <img src='images/breathing.png'/>
    </td>
  </tr>

  <!-- Skin Colour -->
  <tr>
    <th>Skin Colour (P/C)</th>
    <td>32</td>
    <td>26</td>
    <td>29</td>
    <td>30</td>
    <td>35</td>
    <td>31</td>
    <td>27</td>
  </tr>

  <!-- Accessory Muscles -->
  <tr>
    <th>Accessory Muscles</th>
    <td>32</td>
    <td>26</td>
    <td>29</td>
    <td>30</td>
    <td>35</td>
    <td>31</td>
    <td>27</td>
  </tr>

  <!-- Intercostal Recession -->
  <tr>
    <th>Intercostal Recession</th>
    <td>32</td>
    <td>26</td>
    <td>29</td>
    <td>30</td>
    <td>35</td>
    <td>31</td>
    <td>27</td>
  </tr>

  <!-- Wheeze/Stridor/Grunting -->
  <tr>
    <th>Wheeze / Stridor / Grunting</th>
    <td>32</td>
    <td>26</td>
    <td>29</td>
    <td>30</td>
    <td>35</td>
    <td>31</td>
    <td>27</td>
  </tr>

  <!-- Mode of Delivery -->
  <tr>
    <th>Mode of Delivery</th>
    <td>32</td>
    <td>26</td>
    <td>29</td>
    <td>30</td>
    <td>35</td>
    <td>31</td>
    <td>27</td>
  </tr>

  <!-- Circulation -->
  <tr>
    <th>Circulation</th>
    <td>32</td>
    <td>26</td>
    <td>29</td>
    <td>30</td>
    <td>35</td>
    <td>31</td>
    <td>27</td>
  </tr>

  <!-- Capillary Refill -->
  <tr>
    <th>Capillary Refile Time</th>
    <td>32</td>
    <td>26</td>
    <td>29</td>
    <td>30</td>
    <td>35</td>
    <td>31</td>
    <td>27</td>
  </tr>

  <!-- Behaviour AVPU -->
  <tr>
    <th>Behaviour AVPU</th>
    <td>32</td>
    <td>26</td>
    <td>29</td>
    <td>30</td>
    <td>35</td>
    <td>31</td>
    <td>27</td>
  </tr>

  <!-- Behaviour BM -->
  <tr>
    <th>Behaviour BM</th>
    <td>32</td>
    <td>26</td>
    <td>29</td>
    <td>30</td>
    <td>35</td>
    <td>31</td>
    <td>27</td>
  </tr>

  <!-- Temperature -->
  <tr>
    <th>Temperature</th>
    <td>32</td>
    <td>26</td>
    <td>29</td>
    <td>30</td>
    <td>35</td>
    <td>31</td>
    <td>27</td>
  </tr>

  <!-- PEW Score -->
  <tr>
    <th>PEW Score</th>
    <td>32</td>
    <td>26</td>
    <td>29</td>
    <td>30</td>
    <td>35</td>
    <td>31</td>
    <td>27</td>
  </tr>

  <!-- Pain Score -->
  <tr>
    <th>Pain Score</th>
    <td>32</td>
    <td>26</td>
    <td>29</td>
    <td>30</td>
    <td>35</td>
    <td>31</td>
    <td>27</td>
  </tr>

</table>
