<div class='title bar'>
  <div class='left'>
    <i class='fa fa-user-md'></i>
  </div>
  <div class='center'>
    Patient Dashboard
  </div>
  <div class='right'>
    <span>ID:SE24</span>
  </div>
</div>

<div class='patient profile'>

  <!--Profile Bar-->
  <div class='profile bar'>
    <div class='small-2 columns'>
      <div class='glyph'>B</div>
    </div>
    <div class='small-8 columns'>
      <div class='row'>
        <div class='small-12 columns'>
          <span class='name'>Becky Thomas</span>
        </div>
      </div>
      <div class='row'>
        <div class='small-3 columns'>
          <span class='age'>13/F</span>
        </div>
        <div class='small-3 columns'>
          <span class='bed'>Bed 5</span>
        </div>
        <div class='small-6 columns'>
          <span class='bed'>20th July 2014</span>
        </div>
      </div>
    </div>
    <div class='small-2 columns'>
      <div class='pew pill'>
        3<i class='fa fa-arrow-up'></i>
      </div>
    </div>
  </div>
  <!--/Profile Bar-->

  <div>
    <!--Tasks List-->
    <div class='small-4 columns tasks'>
      <div class='header task'>Current Tasks</div>
      <div class='task'>
        <div class='icon palette-5'>
          <i class='fa fa-cutlery'></i>
          <div class='type'>Food</div>
        </div>
        <div class='name'>2m</div>
      </div>
      <div class='task active icon palette-6'>
        <i class='fa fa-tint'></i>
        <div class='type'>Take Blood</div>
        <div class='name'>30m</div>
      </div>
      <div class='task'>
        <div class='icon palette-2'>
          <i class='fa fa-bar-chart-o'></i>
          <div class='type'>Observations</div>
        </div>
        <div class='name'>3h</div>
      </div>
    </div>
    <!--/Tasks List-->

    <div class='small-8 columns main'>

      <!-- Alerts List -->
      <div class='alerts'>
        <div class='header row'>
          <div class='small-2 columns'>Alerts</div>
          <div class='small-8 columns'></div>
          <div class='small-2 columns'>+</div>
        </div>

        <div class='alert row'>
          <div class='small-1 columns icon palette-6'>
            <i class='fa fa-tint'></i>
          </div>
          <div class='small-10 columns'>
            <b>Blood Deficiency</b>
          </div>
          <div class='small-1 columns'></div>
        </div>

        <div class='alert row'>
          <div class='small-1 columns icon palette-5'>
            <i class='fa fa-cutlery'></i>
          </div>
          <div class='small-10 columns'>
            <b>Nil by mouth:</b>
            Until
          </div>
          <div class='small-1 columns'></div>
        </div>

        <div class='alert row'>
          <div class='small-1 columns icon palette-6'>
            <i class='fa fa-warning'></i>
          </div>
          <div class='small-10 columns'>
            <b>Fall Risk</b>
          </div>
          <div class='small-1 columns'></div>
        </div>

        <div class='alert row'>
          <div class='small-1 columns icon palette-3'>
            <i class='icon-medications'></i>
          </div>
          <div class='small-10 columns'>
            <b>Allergies:</b>
            Penecillin
          </div>
          <div class='small-1 columns'></div>
        </div>
      </div>
      <!--/Alerts List-->

      <!-- Notes List -->
      <div class='alerts'>
        <div class='header row'>
          <div class='small-2 columns'>Notes</div>
          <div class='small-8 columns'></div>
          <div class='small-2 columns'>+</div>
        </div>

        <div class='alert row'>
          <div class='small-1 columns icon palette-3'>
            <i class='fa fa-file-text'></i>
          </div>
          <div class='small-10 columns'>
            <b>Dr Williams:</b>
            Please ensure that you have...
          </div>
          <div class='small-1 columns'></div>
        </div>

        <div class='alert row'>
          <div class='small-1 columns icon palette-3'>
            <i class='fa fa-file-text'></i>
          </div>
          <div class='small-10 columns'>
            <b>Nurse Jones:</b>
            Patient will be transferred to new...
          </div>
          <div class='small-1 columns'></div>
        </div>

        <div class='alert row'>
          <div class='small-1 columns icon palette-3'>
            <i class='fa fa-file-text'></i>
          </div>
          <div class='small-10 columns'>
            <b>Dr Williams:</b>
            Didn't have enough time to see whether...
          </div>
          <div class='small-1 columns'></div>
        </div>


      </div>
      <!--/Notes List-->



      <div class='actions menu'>
        <div class='row'>
          <div class='small-4 columns'>
            <div class='action'>
              <i class='fa fa-tasks'></i>
              <div class='name'>Add Task</div>
            </div>
          </div>
          <div class='small-4 columns'>
            <div class='action'>
              <i class='fa fa-warning'></i>
              <div class='name'>Add Alert</div>
            </div>
          </div>
          <div class='small-4 columns'>
            <div class='action'>
              <i class='fa fa-file-text'></i>
              <div class='name'>Add Note</div>
            </div>
          </div>
        </div>

        <div class='row'>
          <div class='small-4 columns'>
            <div class='action'>
              <i class='fa fa-bar-chart-o'></i>
              <div class='name'>Observations</div>
            </div>
          </div>
          <div class='small-4 columns'>
            <div class='action'>
              <i class='fa fa-user'></i>
              <div class='name'>Admissions</div>
            </div>
          </div>
          <div class='small-4 columns'>
            <div class='action'>
              <i class='fa fa-database'></i>
              <div class='name'>Other Data</div>
            </div>
          </div>
        </div>

        <div class='row'>
          <div class='small-4 columns'>
            <div class='action'>
              <i class='fa fa-envelope-o'></i>
              <div class='name'>Messaging</div>
            </div>
          </div>
          <div class='small-4 columns'>
            <div class='action'>
              <i class='fa fa-sign-out'></i>
              <div class='name'>Check Out</div>
            </div>
          </div>
          <div class='small-4 columns'>
            <div class='action'>
              <i class='fa fa-mail-forward'></i>
              <div class='name'>Transfer</div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>

</div>

