<div class='title bar'>
  <div class='left'>
    <i class='fa fa-user-md'></i>
  </div>
  <div class='center'>
    Patient List
  </div>
  <div class='right'>
    <span>ID:SE24</span>
  </div>
</div>

<div class='filter bar'>
  <div class='center'>
    Sort by PEWS score
    <i class='fa fa-caret-down'></i>
  </div>
</div>

<div class='patients collection'>
  <div class='patient'>
    <a href='#/app/patient/001'>
      <div class='small-2 columns'>
        <div class='glyph'>D</div>
      </div>
      <div class='small-8 columns'>
        <div class='row'>
          <div class='small-8 columns'>
            <span class='name'>Dan Prince<span>
          </div>
          <div class='small-4 columns'>
          </div>
        </div>
        <div class='row status'>
          <div class='small-3 columns'>
            <div class='food'>
              <div>
                <i class='fa fa-cutlery'></i>
              </div>
              3 hours
            </div>
          </div>
          <div class='small-3 columns'>
            <div class='blood'>
              <div>
                <i class='fa fa-tint'></i>
              </div>
              2 hours
            </div>
          </div>
          <div class='small-3 columns'>
            <div class='medications'>
              <div>
                <i class='icon icon-medications'></i>
              </div>
              3 times
            </div>
          </div>
          <div class='small-3 columns'>
            <div class='observations'>
              <div>
                <i class='fa fa-bar-chart-o'></i>
              </div>
              In 4 hours
            </div>
          </div>
        </div>
      </div>
      <div class='small-2 columns'>
        <div class='pew pill'>
          3
          <i class='fa fa-arrow-down'></i>
        </div>
        <div class='pew pill bed'>
          4
          <i class='icon-bed'></i>
        </div>
      </div>
    </a>
  </div>
</div>
