<div class='title bar'>
  <div class='center'>
    Patient List
  </div>
</div>

<div class='filter bar'>
  <div class='center'>
    Sort by PEWS score
    <i class='fa fa-caret-down'></i>
  </div>
</div>

<div class='patients collection' ng-controller='PatientListController'>

  <!-- Patient -->
  <div class='patient' ng-repeat='(id, patient) in patients'>
    <a href='#/app/patient/{{id}}'>
      <div class='small-2 columns'>
        <glyph details='patient.glyph' gender='patient.gender' age='patient.age'></glyph>
      </div>

      <div class='small-8 columns'>
        <div class='row'>
          <div class='small-12 columns'>
            <span class='name' ng-bind='patient.name'></span>
          </div>
        </div>
        <div class='row'>
          <div class='small-3 columns'>
            <span class='age'>
              <span ng-bind='patient.age'></span>
              <span ng-bind='patient.gender'></span>
            </span>
          </div>
          <div class='small-3 columns'>
            <span class='bed'>Bed
              <span ng-bind='patient.bed'></span>
            </span>
          </div>
          <div class='small-6 columns'>
            <span class='bed' ng-bind='patient.admission.date'></span>
          </div>
        </div>
        <div class='row' ng-if='patient.condition'>
          <div class='small-12 columns'>
            <i class='fa fa-warning'></i>
            <span ng-bind='patient.condition'>
              Condition
            </span>
          </div>
        </div>
      </div>


      <div class='small-2 columns'>
        <div pew='patient.pew'></div>
      </div>
    </a>
  </div>

</div>
