<div class='title bar'>
  <div class='center'>
    Blood
  </div>
</div>

<div class='patient profile' ng-controller='PatientController'>

  <!--Profile Bar-->
  <patient-profile-bar patient='patient'></patient-profile-bar>
  <!--/Profile Bar-->

  <div class='blood' ng-controller='BloodController'>
    <div class='row'>
      <div class='small-12 columns'>
        <div class='row'>
          <div class='info'>
            <i class='fa fa-tint icon circular palette-6'></i>
            Patient requires full blood count.
          </div>
        </div>

        <div class='row'>
          <div class='small-12 columns'>
            <div>Apply Cream</div>
            <div class='divider'></div>
            <a class='button'>
              45m
            </a>
            <a class='button'>
              1h
            </a>
          </div>
        </div>

        <div class='checklist'>
          <div class='row' ng-class='{ done: red }'>
            <div class='small-2 columns status'>
              1
            </div>
            <div class='small-6 columns name'>
              Red Bottle
            </div>
            <div class='small-4 columns'>
              <input type='checkbox' ng-model='red'/>
            </div>
          </div>
          <div class='row' ng-class='{ done: brown }'>
            <div class='small-2 columns status'>
              1
            </div>
            <div class='small-6 columns name'>
              Brown Bottle
            </div>
            <div class='small-4 columns'>
              <input type='checkbox' ng-model='brown'/>
            </div>
          </div>
          <div class='row' ng-class='{ done: blood }'>
            <div class='small-2 columns status'>
              1
            </div>
            <div class='small-6 columns name'>
              Blood Culture
            </div>
            <div class='small-4 columns'>
              <input type='checkbox' ng-model='blood'/>
            </div>
          </div>
        </div>

        <div class='row'>
          <div class='small-12 columns'>
            <a class='button' ng-disabled='!synced'>
              <div ng-show='synced'>
                <i class='fa fa-print'></i>
                Print Labels
              </div>
              <div ng-hide='synced'>
                <i class='fa fa-refresh fa-spin'></i>
                Printer Syncing
              </div>
            </a>
            <a class='button'>
              <i class='fa fa-check'></i>
              Complete
            </a>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>

