<div class='messages collection'>
  <div class='item'>
    <div class='avatar'>D</div>
    <div class='meta'>
      <span class='user'>Dan Prince</span>
      <span class='sent'>3h ago</span>
    </div>
    <div class='body'>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut viverra lobortis nulla, pulvinar mollis ligula dignissim eu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a dignissim ante. Duis facilisis rutrum ultricies. Suspendisse ut neque in orci convallis pulvinar. Mauris purus elit, scelerisque vel cursus eget, rhoncus sed tellus. Duis aliquam, mi in suscipit porta, neque sem accumsan nibh, eu gravida mi mauris in orci. In fermentum erat et lacus hendrerit aliquam. Suspendisse nec mattis tortor. Cras ultrices pellentesque nisl, quis euismod erat luctus in. Suspendisse ut lacus leo. Sed vitae justo eu arcu mattis interdum laoreet et libero. Maecenas pharetra, leo at facilisis aliquam, turpis mauris iaculis odio, id euismod arcu metus eget lectus.
    </div>
  </div>
  <div class='item'>
    <div class='avatar'>L</div>
    <div class='meta'>
      <span class='user'>Liam Kurmos</span>
      <span class='sent'>3h ago</span>
    </div>
    <div class='body'>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut viverra lobortis nulla, pulvinar mollis ligula dignissim eu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a dignissim ante. Duis facilisis rutrum ultricies. Suspendisse ut neque in orci convallis pulvinar. Mauris purus elit, scelerisque vel cursus eget, rhoncus sed tellus. Duis aliquam, mi in suscipit porta, neque sem accumsan nibh, eu gravida mi mauris in orci. In fermentum erat et lacus hendrerit aliquam. Suspendisse nec mattis tortor. Cras ultrices pellentesque nisl, quis euismod erat luctus in. Suspendisse ut lacus leo. Sed vitae justo eu arcu mattis interdum laoreet et libero. Maecenas pharetra, leo at facilisis aliquam, turpis mauris iaculis odio, id euismod arcu metus eget lectus.
    </div>
  </div>

  <div class='footer'>
    <div class='input'>
      <div class='avatar'>D</div>
      <input type='text' class='entry'
        placeholder='Type your message'
        ng-model='message'/>
    </div>
    <div class='actions bar'>
      <div class='center'>
        <a class='button'>
          <i class='fa fa-check'></i>
        </a>
      </div>
    </div>
  </div>
</div>
