<div class='title bar'>
  <div class='center'>
    Inbox
  </div>
</div>

<div class='messages'>
  <div class='message'>
    <div class='small-2 columns'>
      <div class='meta'>
        <div class='avatar'>
          <i class='fa fa-user-md'></i>
        </div>
        <div class='name'>
          Dr Smith
        </div>
      </div>
    </div>
    <div class='small-10 columns'>
      <div class='bar'>
        <div class='left'>
          <i class='fa fa-clock-o'></i>
          <em>3 mins ago</em>
        </div>
        <div class='right'>
          <i class='fa fa-calendar-o'></i>
          <em>6/10/14</em>
        </div>
      </div>
      <p>
        I think you might have taken my stethoscope out of the hospital?
        I need it to listen to Heartbeats by Jose Gonzalez. Thanks!
      </p>
    </div>
  </div>
  <div class='message'>
    <div class='small-2 columns'>
      <div class='meta'>
        <div class='avatar'>
          <i class='fa fa-medkit'></i>
        </div>
        <div class='name'>
          ENT
        </div>
      </div>
    </div>
    <div class='small-10 columns'>
      <div class='bar'>
        <div class='left'>
          <i class='fa fa-clock-o'></i>
          <em>6 mins ago</em>
        </div>
        <div class='right'>
          <i class='fa fa-calendar-o'></i>
          <em>3/10/14</em>
        </div>
      </div>
      <p>
        Hi there, can we please get some further medical support
        from the ENT ward?
      </p>
    </div>
  </div>
  <div class='message'>
    <div class='small-2 columns'>
      <div class='meta'>
        <div class='avatar'>
          <i class='fa fa-plus'></i>
        </div>
        <div class='name'>
          A+E
        </div>
      </div>
    </div>
    <div class='small-10 columns'>
      <div class='bar'>
        <div class='left'>
          <i class='fa fa-clock-o'></i>
          <em>2 days ago</em>
        </div>
        <div class='right'>
          <i class='fa fa-calendar-o'></i>
          <em>1/10/14</em>
        </div>
      </div>
      <p>
      Just checking in to see whether the new messaging
      system works? It seems to work brilliantly well!
      I'm excited about the entirety of this app!
      </p>
    </div>
  </div>
</div>

<div class='footer'>
  <a class='button' href='#/message/new'>
    <i class='fa fa-pencil'></i>
  </a>
</div>
