<div class='title bar'>
  <div class='center'>
    Medications
  </div>
</div>

<div class='patient profile'>

  <!--Profile Bar-->
  <div class='profile bar'>
    <div class='small-2 columns'>
      <div class='glyph palette-3'>
        <i class='icon icon-gender-f gender palette-5'></i>
        <i class='icon icon-child subject palette-4'></i>
      </div>
    </div>
    <div class='small-8 columns'>
      <div class='row'>
        <div class='small-12 columns'>
          <span class='name'>Becky Thomas</span>
        </div>
      </div>
      <div class='row'>
        <div class='small-3 columns'>
          <span class='age'>13/F</span>
        </div>
        <div class='small-3 columns'>
          <span class='bed'>Bed 5</span>
        </div>
        <div class='small-6 columns'>
          <span class='bed'>20th July 2014</span>
        </div>
      </div>
    </div>
    <div class='small-2 columns'>
      <div pew='2'></div>
    </div>
  </div>
  <!--/Profile Bar-->

  <div class='medication frequency'>
    <div class='row'>
      <a href='' class='button'>Once Only</a>
    </div>
    <div class='row'>
      <a href='' class='button'>Regular</a>
    </div>
    <div class='row'>
      <a href='' class='button'>As Required</a>
    </div>
    <div class='row'>
      <a href='' class='button'>Infusions</a>
    </div>
  </div>

</div>

