<div class='title bar'>
  <div class='center'>
    Inbox
  </div>
</div>


<div class='sidebar'>
  <a href='#/message/new'>
    <i class='fa fa-pencil'></i>
  </a>
</div>

<div class='messages'>
  <div class='message'>
    <div class='small-2 columns'>
      <div class='meta'>
        <div class='avatar'>
          <i class='fa fa-user-md'></i>
        </div>
        <div class='name'>
          Dr Smith
        </div>
      </div>
    </div>
    <div class='small-10 columns'>
      <div class='bar'>
        <div class='left'>
          <i class='fa fa-clock-o'></i>
          <em>3 mins ago</em>
        </div>
        <div class='right'>
          <i class='fa fa-calendar-o'></i>
          <em>6/10/14</em>
        </div>
      </div>
      <p>
      Input at your finger tips means you can record directly into the patient record wherever you are on the ward.
      This saves a lot of running around and looking for paper notes.
      </p>
    </div>
  </div>
  <div class='message'>
    <div class='small-2 columns'>
      <div class='meta'>
        <div class='avatar'>
          <i class='fa fa-medkit'></i>
        </div>
        <div class='name'>
          ENT
        </div>
      </div>
    </div>
    <div class='small-10 columns'>
      <div class='bar'>
        <div class='left'>
          <i class='fa fa-clock-o'></i>
          <em>6 mins ago</em>
        </div>
        <div class='right'>
          <i class='fa fa-calendar-o'></i>
          <em>3/10/14</em>
        </div>
      </div>
      <p>
        Input at your finger tips means you can record directly into the patient record wherever you are on the ward.
        This saves a lot of running around and looking for paper notes.
      </p>
    </div>
  </div>
  <div class='message'>
    <div class='small-2 columns'>
      <div class='meta'>
        <div class='avatar'>
          <i class='fa fa-plus'></i>
        </div>
        <div class='name'>
          A+E
        </div>
      </div>
    </div>
    <div class='small-10 columns'>
      <div class='bar'>
        <div class='left'>
          <i class='fa fa-clock-o'></i>
          <em>2 days ago</em>
        </div>
        <div class='right'>
          <i class='fa fa-calendar-o'></i>
          <em>1/10/14</em>
        </div>
      </div>
      <p>
        Input at your finger tips means you can record directly into the patient record wherever you are on the ward.
        This saves a lot of running around and looking for paper notes.
      </p>
    </div>
  </div>
</div>
