<div class='title bar'>
  <div class='center'>
    Patient Message Board
  </div>
</div>

<div class='patient profile' ng-controller='PatientController'>

  <patient-profile-bar patient='patient'></patient-profile-bar>

  <div class='messages board'>

    <!-- Message -->
    <div class='message' ng-repeat='message in patient.messages'>
      <div class='small-2 columns'>
        <div class='meta'>
          <div class='avatar'>
            <div class='glyph palette-5'>
              <i class='icon icon-gender-f gender palette-6'>
                <i class='icon fa fa-user-md subject palette-4'></i>
              </i>
              <i class='icon fa fa-circle palette-2'></i>
            </div>
          </div>
          <div class='name' ng-bind='message.from'></div>
        </div>
      </div>
      <div class='small-10 columns'>
        <div class='bar'>
          <div class='left'>
            <i class='fa fa-clock-o'></i>
            <em ng-bind='message.time'></em>
            ago
          </div>
          <div class='right'>
            <i class='fa fa-calendar-o'></i>
            <em ng-bind='message.date'></em>
          </div>
        </div>
        <p ng-bind='message.body'></p>
      </div>
    </div>
    <!--/Message-->

    <div class='footer'>
      <div class='text entry'>
        <textarea placeholder='Ward message'></textarea>
        <button class='button'>Post</button>
      </div>
    </div>
  </div>

</div>

