<div class='nurse dash fill'>
  <div class='title bar'>
    <div class='left'>
      <i class='fa fa-user-md'></i>
    </div>
    <div class='center'>
      Nurse Dashboard
    </div>
    <div class='right'>
      <span>ID:SE24</span>
    </div>
  </div>

  <div class='container'>

    <div class='tracks full-scroll'>
      <div class='track right transparent'>
        <div class='tab'>
          <i class='fa fa-clock-o'></i>
        </div>
        <div class='lane'>
          <div class='time block'>
            <div class='time'>12:00</div>
          </div>
          <div class='time block half'>
            <div class='time'>13:00</div>
          </div>
          <div class='time block'>
            <div class='time'>14:00</div>
          </div>
          <div class='time block half'>
            <div class='time'>15:00</div>
          </div>
          <div class='time block'>
            <div class='time'>16:00</div>
          </div>
          <div class='time block half'>
            <div class='time'>17:00</div>
          </div>
          <div class='time block'>
            <div class='time'>18:00</div>
          </div>
          <div class='time block half'>
            <div class='time'>19:00</div>
          </div>
          <div class='time block'>
            <div class='time'>20:00</div>
          </div>
          <div class='time block half'>
            <div class='time'>21:00</div>
          </div>
          <div class='time block'>
            <div class='time'>22:00</div>
          </div>
          <div class='time block half'>
            <div class='time'>23:00</div>
          </div>
          <div class='time block'>
            <div class='time'>00:00</div>
          </div>
        </div>
      </div>

      <div class='track'>
        <div class='tab'>
          <a href='#/app/patient/001'>
            <div class='glyph'>
              <i class='icon icon-gender-f gender palette-5'></i>
              <i class='icon icon-child subject palette-4'></i>
            </div>
            <div class='pew pill'>
              <i class='fa fa-arrow-up'></i>
              <span class='number'>8</span>
            </div>
          </a>
        </div>
        <div class='lane'>
          <i class='fa fa-cutlery task icon palette-5'
            style='top:100px'></i>
          <i class='fa fa-tint task icon palette-6'
            style='top:230px'></i>
        </div>
      </div>
      <div class='track'>
        <div class='tab'>
          <a href='#/app/patient/001'>
            <div class='glyph palette-2'>
              <i class='icon icon-gender-m gender palette-1'></i>
              <i class='icon icon-toddler subject palette-3'></i>
            </div>
            <div class='pew pill'>
              <i class='fa fa-arrow-up'></i>
              <span class='number'>8</span>
            </div>
          </a>
        </div>
        <div class='lane'>
          <div>
            <i class='fa fa-bar-chart-o task icon palette-1'
              style='top:80px'></i>
          </div>
          <div>
            <i class='fa fa-tint task icon palette-6'
              style='top:120px'></i>
          </div>
          <div>
            <i class='fa fa-bar-chart-o task icon palette-1'
              style='top:140px'></i>
          </div>
          <div>
            <i class='fa fa-tint icon task palette-6'
              style='top:199px'></i>
          </div>
        </div>
      </div>
      <div class='track'>
        <div class='tab'>
          <a href='#/app/patient/001'>
            <div class='glyph palette-6'>
              <i class='icon icon-gender-f gender palette-5'></i>
              <i class='icon icon-toddler subject palette-4'></i>
            </div>
            <div class='pew pill'>
              <i class='fa fa-arrow-up'></i>
              <span class='number'>8</span>
            </div>
          </a>
        </div>
        <div class='lane'>
          <i class='fa fa-cutlery task icon palette-5'
            style='top:100px'></i>
          <i class='fa fa-tint task icon palette-6'
            style='top:230px'></i>
        </div>
      </div>

      <div class='track'>
        <div class='tab'>
          <a href='#/app/patient/001'>
            <div class='glyph palette-4'>
              <i class='icon icon-gender-f gender palette-3'></i>
              <i class='icon icon-baby subject palette-2'></i>
            </div>
            <div class='pew pill'>
              <i class='fa fa-arrow-up'></i>
              <span class='number'>8</span>
            </div>
          </a>
        </div>
        <div class='lane'>
          <i class='fa fa-cutlery task icon palette-5'
            style='top:100px'></i>
          <i class='fa fa-tint task icon palette-6'
            style='top:230px'></i>
        </div>
      </div>
      
      <div class='track'>
        <div class='tab'>
          <a href='#/app/patient/001'>
            <div class='glyph palette-3'>
              <i class='icon icon-gender-m gender palette-4'></i>
              <i class='icon icon-child subject palette-5'></i>
            </div>
            <div class='pew pill'>
              <i class='fa fa-arrow-up'></i>
              <span class='number'>8</span>
            </div>
          </a>
        </div>
        <div class='lane'>
          <i class='fa fa-cutlery task icon palette-5'
            style='top:100px'></i>
          <i class='fa fa-tint task icon palette-6'
            style='top:230px'></i>
        </div>
      </div>

    </div>
  </div>
</div>
