<div class='nurse dash'>
  <div class='title bar'>
    <div class='left'>
      <i class='fa fa-user-md'></i>
    </div>
    <div class='center'>
      Nurse Dashboard
    </div>
    <div class='right'>
      <span>ID:SE24</span>
    </div>
  </div>

  <div class='container'>
    <div class='tracks full-scroll'>
      <div class='track right transparent'>
        <div class='tab'>
          <i class='fa fa-3x fa-clock-o'></i>
        </div>
        <div class='lane'>
          <div class='time block'>
            <div class='time'>17:00</div>
          </div>
          <div class='time block half'>
            <div class='time'>16:30</div>
          </div>
          <div class='time block'>
            <div class='time'>16:00</div>
          </div>
          <div class='time block half'>
            <div class='time'>15:30</div>
          </div>
          <div class='time block'>
            <div class='time'>15:00</div>
          </div>
          <div class='time block half'>
            <div class='time'>14:30</div>
          </div>
          <div class='time block'>
            <div class='time'>14:00</div>
          </div>
          <div class='time block half'>
            <div class='time'>13:30</div>
          </div>
          <div class='time block'>
            <div class='time'>13:00</div>
          </div>
          <div class='time block half'>
            <div class='time'>12:30</div>
          </div>
          <div class='time block'>
            <div class='time'>12:00</div>
          </div>
          <div class='time block half'>
            <div class='time'>11:30</div>
          </div>
          <div class='time block'>
            <div class='time'>11:00</div>
          </div>
        </div>
      </div>

      <div class='track'>
        <div class='tab'>
          <div class='glyph'>D</div>
          <div class='pew pill'>
            <i class='fa fa-arrow-up'></i>
            <span class='number'>8</span>
          </div>
        </div>
        <div class='lane'>
          <div>
            <i class='fa fa-user icon palette-1'></i>
          </div>
          <div>
            <i class='fa fa-user icon palette-2'></i>
          </div>
          <div>
            <i class='fa fa-user icon palette-3'></i>
          </div>
          <div>
            <i class='fa fa-user icon palette-4'></i>
          </div>
        </div>
      </div>
      <div class='track'>
        <div class='tab'>
          <div class='glyph'>D</div>
          <div class='pew pill'>
            <i class='fa fa-arrow-up'></i>
            <span class='number'>8</span>
          </div>
        </div>
        <div class='lane'>
          <div>
            <i class='fa fa-user icon palette-1'></i>
          </div>
          <div>
            <i class='fa fa-user icon palette-2'></i>
          </div>
          <div>
            <i class='fa fa-user icon palette-3'></i>
          </div>
          <div>
            <i class='fa fa-user icon palette-4'></i>
          </div>
        </div>
      </div>
      <div class='track'>
        <div class='tab'>
          <div class='glyph'>D</div>
          <div class='pew pill'>
            <i class='fa fa-arrow-up'></i>
            <span class='number'>8</span>
          </div>
        </div>
        <div class='lane'>
          <div>
            <i class='fa fa-user icon palette-1'></i>
          </div>
          <div>
            <i class='fa fa-user icon palette-2'></i>
          </div>
          <div>
            <i class='fa fa-user icon palette-3'></i>
          </div>
          <div>
            <i class='fa fa-user icon palette-4'></i>
          </div>
        </div>
      </div>

      <div class='track'>
        <div class='tab'>
          <div class='glyph'>D</div>
          <div class='pew pill'>
            <i class='fa fa-arrow-up'></i>
            <span class='number'>8</span>
          </div>
        </div>
        <div class='lane'>
          <div>
            <i class='fa fa-user icon palette-1'></i>
          </div>
          <div>
            <i class='fa fa-user icon palette-2'></i>
          </div>
          <div>
            <i class='fa fa-user icon palette-3'></i>
          </div>
          <div>
            <i class='fa fa-user icon palette-4'></i>
          </div>
        </div>
      </div>
      
      <div class='track'>
        <div class='tab'>
          <div class='glyph'>D</div>
          <div class='pew pill'>
            <i class='fa fa-arrow-up'></i>
            <span class='number'>8</span>
          </div>
        </div>
        <div class='lane'>
          <div>
            <i class='fa fa-user icon palette-1'></i>
          </div>
          <div>
            <i class='fa fa-user icon palette-2'></i>
          </div>
          <div>
            <i class='fa fa-user icon palette-3'></i>
          </div>
          <div>
            <i class='fa fa-user icon palette-4'></i>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
