<div class='title bar'>
  <div class='center'>
    Patient Dashboard
  </div>
</div>

<div class='hidden overlay'>
  <div class='modal'>
    <div class='exit'>
      <i class='fa fa-times'></i>
    </div>
    <div class='title'>Medications</div>
    <a class='option' href='#/app/patient/001/medication/001'>
      <div class='glyph palette-1'>
        <i class='icon icon-medications subject palette-1'></i>
        <i class='icon fa fa-circle palette-7'></i>
      </div>
      <div class='name'>
        Oxygen
      </div>
    </a>
    <a class='option'>
      <div class='glyph palette-1'>
        <i class='icon icon-medications subject palette-1'></i>
        <i class='icon fa fa-circle palette-7'></i>
      </div>
      <div class='name'>
        Benadryl
      </div>
    </a>
  </div>
</div>

<div class='hidden overlay'>
  <div class='modal'>
    <div class='exit'>
      <i class='fa fa-times'></i>
    </div>
    <div class='title'>Medications</div>
    <div class='option'>
      <div class='glyph palette-7'>
        <i class='icon icon-medications subject palette-1'></i>
        <i class='icon fa fa-circle palette-7'></i>
      </div>
      <div class='name'>
        Once
      </div>
    </div>
    <div class='option'>
      <div class='glyph palette-7'>
        <i class='icon icon-medications subject palette-2'></i>
        <i class='icon fa fa-circle palette-7'></i>
      </div>
      <div class='name'>
        Regularly
      </div>
    </div>
    <div class='option'>
      <div class='glyph palette-7'>
        <i class='icon icon-medications subject palette-3'></i>
        <i class='icon fa fa-circle palette-7'></i>
      </div>
      <div class='name'>
        As Required
      </div>
    </div>
    <div class='option'>
      <div class='glyph palette-4'>
        <i class='icon icon-medications subject palette-1'></i>
        <i class='icon fa fa-circle palette-7'></i>
      </div>
      <div class='name'>
        Infusions
      </div>
    </div>
  </div>
</div>

<div class='hidden overlay'>
  <div class='modal'>
    <div class='exit'>
      <i class='fa fa-times'></i>
    </div>
    <div class='title'>Transfer to</div>
    <div class='option'>
      <div class='glyph palette-6'>
        <i class='icon fa fa-medkit subject palette-6'></i>
        <i class='icon fa fa-circle palette-7'></i>
      </div>
      <div class='name'>
        ENT
      </div>
    </div>
    <div class='option'>
      <div class='glyph palette-3'>
        <i class='icon icon-bed subject palette-3'></i>
        <i class='icon fa fa-circle palette-7'></i>
      </div>
      <div class='name'>
        Blue Ward
      </div>
    </div>
    <div class='option'>
      <div class='glyph palette-4'>
        <i class='icon fa fa-user-md subject palette-4'></i>
        <i class='icon fa fa-circle palette-7'></i>
      </div>
      <div class='name'>
        Handover
      </div>
    </div>
    <div class='option'>
      <div class='glyph palette-2'>
        <i class='icon fa fa-sign-out subject palette-2'></i>
        <i class='icon fa fa-circle palette-7'></i>
      </div>
      <div class='name'>
        Check Out
      </div>
    </div>
  </div>
</div>

<div class='patient profile'>

  <!--Profile Bar-->
  <div class='profile bar'>
    <div class='small-2 columns'>
      <div class='glyph palette-6'>
        <i class='icon icon-gender-f gender palette-4'>
          <i class='icon icon-toddler subject palette-5'></i>
        </i>
        <i class='icon fa fa-circle palette-3'></i>
      </div>
    </div>
    <div class='small-8 columns'>
      <div class='row'>
        <div class='small-12 columns'>
          <span class='name'>Becky Thomas</span>
        </div>
      </div>
      <div class='row'>
        <div class='small-3 columns'>
          <span class='age'>13/F</span>
        </div>
        <div class='small-3 columns'>
          <span class='bed'>Bed 5</span>
        </div>
        <div class='small-6 columns'>
          <span class='bed'>20th July 2014</span>
        </div>
      </div>
      <div class='row'>
        <div class='small-12 columns'>
          <span class='age'>Condition</span>
        </div>
      </div>
    </div>
    <div class='small-2 columns'>
      <div pew='2'></div>
    </div>
  </div>
  <!--/Profile Bar-->

  <!--Tasks List-->
  <div class='small-4 columns tasks'>
    <div class='timeline'></div>

    <div class='task icon palette-3'
      style='top:0px'>
      <i class='icon icon-medications'></i>
      <div class='name'>3h</div>
    </div>

    <div class='task icon palette-2'
      style='top:100px'>
      <i class='fa fa-bar-chart-o'></i>
      <div class='name'>3h</div>
    </div>

    <a class='task icon palette-6'
      href='#/app/patient/001/blood'
      style='top:210px'>
      <i class='fa fa-tint'></i>
      <div class='name'>30m</div>
    </a>

    <div class='task icon palette-5'
      style='top:300px'>
      <i class='fa fa-cutlery'></i>
      <div class='name'>2m</div>
    </div>

  </div>
  <!--/Tasks List-->

  <div class='small-8 columns main'>

    <!-- Alerts List -->
    <div class='alerts'>
      <div class='header row'>
        <div class='small-2 columns'>Alerts</div>
        <div class='small-8 columns'></div>
        <div class='small-2 columns'>+</div>
      </div>

      <div class='alert row'>
        <div class='small-1 columns icon palette-5'>
          <i class='fa fa-cutlery'></i>
        </div>
        <div class='small-10 columns'>
          <b>Nil by mouth:</b>
          Until
        </div>
        <div class='small-1 columns'></div>
      </div>

      <div class='alert row'>
        <div class='small-1 columns icon palette-6'>
          <i class='fa fa-warning'></i>
        </div>
        <div class='small-10 columns'>
          <b>Fall Risk</b>
        </div>
        <div class='small-1 columns'></div>
      </div>

      <div class='alert row'>
        <div class='small-1 columns icon palette-3'>
          <i class='icon-medications'></i>
        </div>
        <div class='small-10 columns'>
          <b>Allergies:</b>
          Penecillin
        </div>
        <div class='small-1 columns'></div>
      </div>
      <div class='alert row'>
        <div class='small-1 columns icon palette-6'>
          <i class='fa fa-tint'></i>
        </div>
        <div class='small-10 columns'>
          <b>Blood Deficiency</b>
        </div>
        <div class='small-1 columns'></div>
      </div>

      <div class='alert row'>
        <div class='small-1 columns icon palette-5'>
          <i class='fa fa-cutlery'></i>
        </div>
        <div class='small-10 columns'>
          <b>Nil by mouth:</b>
          Until
        </div>
        <div class='small-1 columns'></div>
      </div>

      <div class='alert row'>
        <div class='small-1 columns icon palette-6'>
          <i class='fa fa-warning'></i>
        </div>
        <div class='small-10 columns'>
          <b>Fall Risk</b>
        </div>
        <div class='small-1 columns'></div>
      </div>

      <div class='alert row'>
        <div class='small-1 columns icon palette-3'>
          <i class='icon-medications'></i>
        </div>
        <div class='small-10 columns'>
          <b>Allergies:</b>
          Penecillin
        </div>
        <div class='small-1 columns'></div>
      </div>
    </div>
    <!--/Alerts List-->

    <div class='actions menu'>
      <div class='row'>
        <div class='small-4 columns'>
          <a>
            <div class='action'>
              <i class='fa fa-tasks'></i>
            </div>
          </a>
        </div>
        <div class='small-4 columns'>
          <a>
            <div class='action'>
              <i class='fa fa-warning'></i>
            </div>
          </a>
        </div>
        <div class='small-4 columns'>
          <a href='#/app/patient/001/notes'>
            <div class='action'>
              <i class='fa fa-file-text'></i>
            </div>
          </a>
        </div>
      </div>

      <div class='row'>
        <div class='small-4 columns'>
          <a href='#/app/admit/obs'>
            <div class='action'>
              <i class='fa fa-bar-chart-o'></i>
            </div>
          </a>
        </div>
        <div class='small-4 columns'>
          <a href='#/app/admit/dash'>
            <div class='action'>
              <i class='fa fa-user'></i>
            </div>
          </a>
        </div>
        <div class='small-4 columns'>
          <a ui-sref='app.other'>
            <div class='action'>
              <i class='fa fa-database'></i>
            </div>
          </a>
        </div>
      </div>

      <div class='row'>
        <div class='small-4 columns'>
          <a href='#/app/patient/001/board'>
            <div class='action'>
              <i class='fa fa-envelope-o'></i>
            </div>
          </a>
        </div>
        <div class='small-4 columns'>
          <a href='#/app/patient/001/medications'>
            <div class='action'>
              <i class='icon icon-medications'></i>
            </div>
          </a>
        </div>
        <div class='small-4 columns'>
          <a>
            <div class='action'>
              <i class='fa fa-mail-forward'></i>
            </div>
          </a>
        </div>
      </div>
    </div>


  </div>

</div>

