<div class='title bar'>
  <div class='center'>
    Patient List
  </div>
</div>

<div class='filter bar'>
  <div class='center'>
    Sort by PEWS score
    <i class='fa fa-caret-down'></i>
  </div>
</div>

<div class='patients collection'>
  <!-- Patient -->
  <div class='patient'>
    <a href='#/app/patient/001'>
      <div class='small-2 columns'>
        <div class='glyph palette-3'>
          <i class='icon icon-gender-f gender palette-5'></i>
          <i class='icon icon-child subject palette-4'></i>
        </div>
      </div>
      <div class='small-8 columns'>
        <div class='row'>
          <div class='small-8 columns'>
            <span class='name'>Becky Thomas<span>
          </div>
          <div class='small-4 columns'>
          </div>
        </div>
        <div class='row status'>
          <div class='small-3 columns'>
            <div class='icon'>
              <div>
                <i class='icon-bed icon palette-2'></i>
              </div>
              Bed 1
            </div>
          </div>
          <div class='small-3 columns'>
            <div class='food'>
              <div>
                <i class='fa fa-cutlery'></i>
              </div>
              3 hours
            </div>
          </div>
          <div class='small-3 columns'>
            <div class='blood'>
              <div>
                <i class='fa fa-tint'></i>
              </div>
              2 hours
            </div>
          </div>
          <div class='small-3 columns'>
            <div class='observations'>
              <div>
                <i class='fa fa-bar-chart-o'></i>
              </div>
              3 hours
            </div>
          </div>
        </div>
      </div>
      <div class='small-2 columns'>
        <div pew='3'></div>
      </div>
    </a>
  </div>

  <!-- Patient -->
  <div class='patient'>
    <a href='#/app/patient/001'>
      <div class='small-2 columns'>
        <div class='glyph palette-2'>
          <i class='icon icon-gender-m gender palette-1'></i>
          <i class='icon icon-baby subject palette-5'></i>
        </div>
      </div>
      <div class='small-8 columns'>
        <div class='row'>
          <div class='small-8 columns'>
            <span class='name'>Amy Pond<span>
          </div>
          <div class='small-4 columns'>
          </div>
        </div>
        <div class='row status'>
          <div class='small-3 columns'>
            <div class='icon'>
              <div>
                <i class='icon-bed icon palette-2'></i>
              </div>
              Bed 2
            </div>
          </div>
          <div class='small-3 columns'>
            <div class='food'>
              <div>
                <i class='fa fa-cutlery'></i>
              </div>
              4 hours
            </div>
          </div>
          <div class='small-3 columns'>
            <div class='blood'>
              <div>
                <i class='fa fa-tint'></i>
              </div>
              1 hours
            </div>
          </div>
          <div class='small-3 columns'>
            <div class='observations'>
              <div>
                <i class='fa fa-bar-chart-o'></i>
              </div>
              7 hours
            </div>
          </div>
        </div>
      </div>
      <div class='small-2 columns'>
        <div pew='1'></div>
      </div>
    </a>
  </div>
  <!-- Patient -->
  <div class='patient'>
    <a href='#/app/patient/001'>
      <div class='small-2 columns'>
        <div class='glyph palette-1'>
          <i class='icon icon-gender-m gender palette-5'></i>
          <i class='icon icon-toddler subject palette-6'></i>
        </div>
      </div>
      <div class='small-8 columns'>
        <div class='row'>
          <div class='small-8 columns'>
            <span class='name'>Rose Tyler<span>
          </div>
          <div class='small-4 columns'>
          </div>
        </div>
        <div class='row status'>
          <div class='small-3 columns'>
            <div class='icon'>
              <div>
                <i class='icon-bed icon palette-2'></i>
              </div>
              Bed 3
            </div>
          </div>
          <div class='small-3 columns'>
            <div class='food'>
              <div>
                <i class='fa fa-cutlery'></i>
              </div>
              2 hours
            </div>
          </div>
          <div class='small-3 columns'>
            <div class='blood'>
              <div>
                <i class='fa fa-tint'></i>
              </div>
              1 hours
            </div>
          </div>
          <div class='small-3 columns'>
            <div class='observations'>
              <div>
                <i class='fa fa-bar-chart-o'></i>
              </div>
              5 hours
            </div>
          </div>
        </div>
      </div>
      <div class='small-2 columns'>
        <div pew='5'></div>
      </div>
    </a>
  </div>
  <!-- Patient -->
  <div class='patient'>
    <a href='#/app/patient/001'>
      <div class='small-2 columns'>
        <div class='glyph palette-2'>
          <i class='icon icon-gender-f gender palette-5'></i>
          <i class='icon icon-child subject palette-3'></i>
        </div>
      </div>
      <div class='small-8 columns'>
        <div class='row'>
          <div class='small-8 columns'>
            <span class='name'>Donna Noble<span>
          </div>
          <div class='small-4 columns'>
          </div>
        </div>
        <div class='row status'>
          <div class='small-3 columns'>
            <div class='icon'>
              <div>
                <i class='icon-bed icon palette-2'></i>
              </div>
              Bed 4
            </div>
          </div>
          <div class='small-3 columns'>
            <div class='food'>
              <div>
                <i class='fa fa-cutlery'></i>
              </div>
              6 hours
            </div>
          </div>
          <div class='small-3 columns'>
            <div class='blood'>
              <div>
                <i class='fa fa-tint'></i>
              </div>
              3 hours
            </div>
          </div>
          <div class='small-3 columns'>
            <div class='observations'>
              <div>
                <i class='fa fa-bar-chart-o'></i>
              </div>
              4 hours
            </div>
          </div>
        </div>
      </div>
      <div class='small-2 columns'>
        <div pew='4'></div>
      </div>
    </a>
  </div>
  <!-- Patient -->
  <div class='patient'>
    <a href='#/app/patient/001'>
      <div class='small-2 columns'>
        <div class='glyph palette-6'>
          <i class='icon icon-gender-m gender palette-5'></i>
          <i class='icon icon-child subject palette-4'></i>
        </div>
      </div>
      <div class='small-8 columns'>
        <div class='row'>
          <div class='small-8 columns'>
            <span class='name'>Martha Jones<span>
          </div>
          <div class='small-4 columns'>
          </div>
        </div>
        <div class='row status'>
          <div class='small-3 columns'>
            <div class='icon'>
              <div>
                <i class='icon-bed icon palette-2'></i>
              </div>
              Bed 5
            </div>
          </div>
          <div class='small-3 columns'>
            <div class='food'>
              <div>
                <i class='fa fa-cutlery'></i>
              </div>
              1 hours
            </div>
          </div>
          <div class='small-3 columns'>
            <div class='blood'>
              <div>
                <i class='fa fa-tint'></i>
              </div>
              7 hours
            </div>
          </div>
          <div class='small-3 columns'>
            <div class='observations'>
              <div>
                <i class='fa fa-bar-chart-o'></i>
              </div>
              1 hours
            </div>
          </div>
        </div>
      </div>
      <div class='small-2 columns'>
        <div pew='6'></div>
      </div>
    </a>
  </div>
</div>
