@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?neo0hx');
	src:url('../fonts/icomoon.eot?#iefixneo1hx') format('embedded-opentype'),
		url('../fonts/icomoon.woff?neo1hx') format('woff'),
		url('../fonts/icomoon.ttf?neo1hx') format('truetype'),
		url('../fonts/icomoon.svg?neo1hx#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-allergies:before {
	content: "\e602";
}
.icon-baby:before {
	content: "\e603";
}
.icon-bed:before {
	content: "\e600";
}
.icon-child:before {
	content: "\e604";
}
.icon-clinical-observations:before {
	content: "\e605";
}
.icon-concern:before {
	content: "\e606";
}
.icon-cot:before {
	content: "\e607";
}
.icon-doctor:before {
	content: "\e608";
}
.icon-gender-colours:before {
	content: "\e609";
}
.icon-information-checklist:before {
	content: "\e60a";
}
.icon-list-of-meds:before {
	content: "\e60b";
}
.icon-living:before {
	content: "\e60c";
}
.icon-medical-history:before {
	content: "\e60d";
}
.icon-medications:before {
	content: "\e60e";
}
.icon-microphone:before {
	content: "\e601";
}
.icon-nap-time:before {
	content: "\e60f";
}
.icon-no-concern:before {
	content: "\e610";
}
.icon-nurse:before {
	content: "\e611";
}
.icon-pillow:before {
	content: "\e612";
}
.icon-porter:before {
	content: "\e613";
}
.icon-safety:before {
	content: "\e614";
}
.icon-toddler:before {
	content: "\e615";
}
.icon-urine-pain-skin:before {
	content: "\e616";
}
