<div class='icon editor'>
  <div class='preview'>
    <i class='{{icon.glyph}}' style='color:{{icon.color}}'></i> 
  </div> 
  <div class='shelves'>
    <div class='shelf'>
      <div class='swatch' ng-repeat='(name, color) in resources.colors'
        style='background:{{color}}' ng-click='changeColor(color)'>
      </div>
    </div>
    <div class='icons shelf'>
      <div class='icon' ng-repeat='(name, icon) in resources.icons'>
        <i class='{{icon}}' title='{{name}}'
          ng-click='changeGlyph(icon)'></i>
      </div>
    </div>
  </div>
</div>
