<div class='task editor'>
  <input type='text' placeholder='Title'
    ng-model='task.title'/>

  <div icon-editor icon='task.icon'></div>

  <textarea class='description' placeholder='Description'
    ng-model='task.description'></textarea>

  <input type='text' placeholder='Duration in minutes'
    ng-model='task.duration'/>

  <div class='footer'>
    <center>
      <a class='button' ng-click='cancel()'>
        <i class='fa fa-ban'></i>
      </a>
      <a class='button' ng-click='create()'>
        <i class='fa fa-check'></i>
      </a>
    </div>
  </center>
</div>
