html {
  height: auto; }

body {
  height: 100%; }

a, a:hover, a:active, a:focus {
  color: inherit; }

.screen {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

.splash {
  background: #4fd1e7; }

.fill {
  width: 100%;
  height: 100%; }

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; }

.container {
  height: 100%;
  padding-top: 80px; }

.scrollable {
  height: 100%;
  overflow-y: scroll;
  background: #f3f3f3; }

.pilled {
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 4px;
  background: #888; }

.button {
  background: white;
  color: #4fd1e7;
  border-radius: 4px;
  border: solid 1px #4fd1e7;
  padding: 0.5em 1em; }

.button.round {
  background: #4fd1e7;
  color: white;
  border-radius: 100%;
  min-width: 3em;
  min-height: 3em;
  padding: 1em; }

.button:hover {
  background: #4fd1e7; }

.button:focus {
  background: #4fd1e7; }

.button[disabled] {
  background: #e0e0e0;
  color: #777;
  border-color: #e0e0e0; }

.button[disabled]:hover {
  background: #e0e0e0;
  color: #777; }

button.alt {
  display: inline-block;
  background: white;
  color: #4fd1e7;
  width: 3em;
  height: 3em;
  line-height: 3em;
  text-align: center;
  border-radius: 100%;
  border: solid 1px #4fd1e7;
  padding: 0; }
  button.alt:hover {
    background: #4fd1e7;
    color: #fff; }

.bar {
  width: 100%;
  position: relative; }
  .bar .center {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center; }
  .bar .left {
    position: absolute;
    left: 4px;
    z-index: 5; }
  .bar .right {
    position: absolute;
    right: 4px;
    z-index: 5; }

/* Render all checkboxes as yes/no */
input[type='checkbox'] {
  /* Hide the checkbox */
  width: 0;
  /* Ensure that parents don't collapse */
  height: 16px;
  cursor: pointer;
  margin-top: 8px; }
  input[type='checkbox']:after {
    background: #ddd;
    color: #888;
    border-radius: 4px;
    padding: 8px 8px;
    font-size: 1.3em;
    text-align: center;
    content: 'Yes'; }
  input[type='checkbox']:before {
    background: #4fd1e7;
    color: white;
    border-radius: 4px;
    padding: 8px 8px;
    font-size: 1.3em;
    text-align: center;
    content: 'No';
    margin-right: 4px; }

input[type='checkbox']:checked:after {
  background: #4fd1e7;
  color: white; }
input[type='checkbox']:checked:before {
  background: #ddd;
  color: #888; }

/* Radio Buttons */
input[type='radio'] {
  width: 0;
  /* Shame.css */
  margin-left: -4px;
  margin-bottom: 1rem; }

input[type='radio'] + label {
  border-radius: 4px;
  padding: 8px 8px;
  font-size: 1.3em;
  text-align: center;
  display: inline-block;
  background: #ddd;
  color: #888;
  font-size: 1em;
  margin: 0;
  padding: 5px;
  min-width: 34px; }

input[type='radio']:checked + label {
  background: #4fd1e7;
  color: white; }

input[type=checkbox].single {
  display: none; }
  input[type=checkbox].single:before {
    display: none; }
  input[type=checkbox].single:after {
    display: none; }
  input[type=checkbox].single + label {
    border-radius: 4px;
    padding: 8px 8px;
    font-size: 1.3em;
    text-align: center;
    background: #ddd;
    color: #888;
    margin: 0;
    line-height: 1em; }
  input[type=checkbox].single:checked + label {
    background: #4fd1e7;
    color: white; }

input[type=text], input[type=tel], input[type=number], textarea {
  border-radius: 4px;
  border: none;
  background: #f1f1f1;
  box-shadow: none;
  border-color: #4fd1e7; }
  input[type=text]:focus, input[type=tel]:focus, input[type=number]:focus, textarea:focus {
    box-shadow: none;
    background: #f1f1f1;
    border: solid 1px #4fd1e7; }

input.error {
  border: solid 2px #ce2626;
  color: #ce2626;
  box-shadow-color: #ce2626; }

.field {
  height: 110px;
  line-height: 110px;
  max-width: 100%;
  max-height: 110px;
  overflow: hidden; }

.divider {
  border-bottom: solid 1px #eee;
  margin: 12px 0; }

.progress.circle {
  width: 90px;
  height: 90px;
  border: none;
  border-color: #4fd1e7;
  overflow: visible;
  background: transparent;
  display: inline-block; }
  .progress.circle .surface {
    position: absolute;
    width: 100%;
    height: 100%;
    color: #ccc;
    font-size: 2em;
    border-radius: 100%;
    overflow: visible;
    background: #fff; }

.progress.circle.secondary {
  border-color: #87bb7d; }
  .progress.circle.secondary .background {
    border-color: #dbebd8; }

.progress.circle.tertiary {
  border-color: #fd9026; }
  .progress.circle.tertiary .background {
    border-color: #fedebe; }

.controls {
  padding: 4px; }

.field {
  color: #999;
  font-size: 1.3em;
  border-bottom: solid 1px #ddd; }
  .field a {
    height: 0; }
  .field .circle {
    padding-top: 10px; }

form {
  padding-top: 16px;
  padding-left: 12px;
  padding-right: 15px; }
  form label {
    color: #4fd1e7;
    font-size: 1.2em; }
  form .hint {
    color: #888; }
  form .control {
    position: relative;
    overflow: hidden;
    min-height: 54px; }
    form .control .unit {
      position: absolute;
      top: 0.6em;
      right: 1.4em;
      color: #ccc; }

.time.input input {
  width: 4em;
  display: inline; }

.label {
  font-size: 1em;
  border-radius: 4px;
  background: #e7fafd;
  color: #48a0b2; }
  .label.dull {
    background: #f1f1f1;
    color: #888; }
  .label.bold {
    background: #48a0b2;
    color: white; }
  .label.warning {
    color: #ca7d32;
    background: #fedebe; }
  .label.danger {
    color: #dd5555;
    background: #ffe1df; }
  .label.success {
    color: #348f59;
    background: #dbebd8; }

.radial-progress {
  width: 90px;
  height: 90px;
  border-color: inherit; }
  .radial-progress .transclude {
    position: absolute;
    line-height: 90px;
    text-align: center;
    width: 100%;
    height: 100%;
    border-color: inherit;
    overflow: visible; }
  .radial-progress .background.wrapper {
    z-index: 0;
    border-color: #b7f1fb; }
    .radial-progress .background.wrapper .circle {
      box-shadow: inset 0 0 0 8px #f1f1f1; }
  .radial-progress .wrapper {
    z-index: 10;
    width: 90px;
    height: 90px;
    position: absolute;
    clip: rect(0, 90px, 90px, 45px);
    border-color: inherit;
    overflow: visible; }
  .radial-progress .halfway {
    clip: rect(auto, auto, auto, auto); }
  .radial-progress .circle {
    width: 90px;
    height: 90px;
    border-width: 8px;
    border-style: solid;
    border-color: inherit;
    border-radius: 100%;
    position: absolute;
    clip: rect(0px, 45px, 90px, 0px); }
  .radial-progress .base.left {
    -webkit-transform: rotate(360deg); }
  .radial-progress .base.right {
    -webkit-transform: rotate(180deg); }

.system.bar {
  background: #222222;
  height: 32px;
  line-height: 32px;
  color: #4fd1e7; }

.notifications.bar {
  background: #4fd1e7;
  height: 48px;
  line-height: 48px;
  font-size: 1.5em;
  color: #b7f1fb; }
  .notifications.bar a {
    padding: 0 8px;
    color: #b7f1fb; }
  .notifications.bar a:hover {
    color: white; }
  .notifications.bar .notification {
    position: relative; }
    .notifications.bar .notification .count {
      position: absolute;
      bottom: 0;
      left: -5px;
      font-size: 10pt;
      line-height: 10pt;
      background: #48a0b2;
      padding: 2px;
      border-radius: 2px; }
    .notifications.bar .notification .count.active {
      background: #fd9026;
      color: #fedebe; }

.notifications.list {
  margin: 0.5em; }
  .notifications.list .unread.notification .type {
    color: #4fd1e7;
    font-weight: bold; }
  .notifications.list .notification {
    overflow: hidden;
    padding: 0.5em 0;
    background: #fff;
    margin-bottom: 0.5em;
    border: solid 1px #eee;
    border-bottom: solid 3px #eee; }
    .notifications.list .notification .type {
      color: #aaa;
      font-size: 8pt; }
      .notifications.list .notification .type i {
        font-size: 2em; }
    .notifications.list .notification .content b {
      color: #48a0b2; }

.navigation.bar {
  height: 48px;
  line-height: 48px;
  background: #4fd1e7;
  border-bottom: solid 1px #48a0b2;
  color: white;
  font-size: 2.5em; }
  .navigation.bar .fa-square-o {
    font-size: 0.8em; }
  .navigation.bar i {
    padding: 0 0.5em; }

.title.bar {
  height: 32px;
  line-height: 32px;
  color: white;
  background: #48a0b2; }
  .title.bar .left, .title.bar .right {
    color: #b7f1fb; }

.radial-progress {
  width: 90px;
  height: 90px;
  border-color: inherit; }
  .radial-progress .transclude {
    position: absolute;
    line-height: 90px;
    text-align: center;
    width: 100%;
    height: 100%;
    border-color: inherit;
    overflow: visible; }
  .radial-progress .background.wrapper {
    z-index: 0;
    border-color: #b7f1fb; }
    .radial-progress .background.wrapper .circle {
      box-shadow: inset 0 0 0 8px #f1f1f1; }
  .radial-progress .wrapper {
    z-index: 10;
    width: 90px;
    height: 90px;
    position: absolute;
    clip: rect(0, 90px, 90px, 45px);
    border-color: inherit;
    overflow: visible; }
  .radial-progress .halfway {
    clip: rect(auto, auto, auto, auto); }
  .radial-progress .circle {
    width: 90px;
    height: 90px;
    border-width: 8px;
    border-style: solid;
    border-color: inherit;
    border-radius: 100%;
    position: absolute;
    clip: rect(0px, 45px, 90px, 0px); }
  .radial-progress .base.left {
    -webkit-transform: rotate(360deg); }
  .radial-progress .base.right {
    -webkit-transform: rotate(180deg); }

.splash {
  color: #fff; }

.login {
  font-size: 1.5em;
  text-align: center; }
  .login .circle {
    color: #b7f1fb;
    margin-top: 100px; }
  .login .fa-circle-thin {
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    opacity: 0.3; }
    .login .fa-circle-thin:hover {
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      cursor: pointer;
      opacity: 0.8; }

.blood .info {
  border-radius: 4px;
  margin: 1em;
  font-size: 1em;
  border-radius: 4px;
  padding: 0.5em;
  border: solid 2px #e74c3c;
  color: #e74c3c; }
.blood .checklist {
  border-top: solid 1px #eee;
  padding-top: 1em;
  border-bottom: solid 1px #eee;
  margin-bottom: 1em;
  font-weight: bold; }
  .blood .checklist .status {
    text-align: center;
    font-weight: 400; }
  .blood .checklist .done {
    color: #4fd1e7; }
    .blood .checklist .done .name {
      text-decoration: line-through; }

.drug.profile {
  background: #fff;
  margin: 1em;
  padding: 0.5em;
  border: solid 1px #eee;
  border-bottom: solid 3px #eee; }

.nurse.dash {
  width: 100%;
  height: 100%; }
  .nurse.dash .tab {
    max-height: 90px; }
    .nurse.dash .tab .glyph {
      border-bottom: none; }
  .nurse.dash .track:last-child .tab {
    padding-right: 1em;
    width: 66px;
    border-bottom-right-radius: 4px; }
  .nurse.dash .track.transparent {
    background: rgba(72, 160, 178, 0.1);
    position: absolute;
    right: 0;
    width: 40px; }
    .nurse.dash .track.transparent .tab {
      border: none;
      color: white;
      width: 40px; }
  .nurse.dash .track.right {
    float: none !important;
    position: absolute;
    left: 0;
    top: 0; }
  .nurse.dash .tracks {
    padding-left: 40px;
    position: relative;
    max-width: 100%;
    min-height: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    background: #f1f1f1; }
    .nurse.dash .tracks .glyph {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0; }
    .nurse.dash .tracks .pew.pill {
      margin: 0 auto;
      margin-top: -3px;
      width: 50px;
      height: auto;
      padding: 4px 0;
      border-top-left-radius: 0;
      border-top-right-radius: 0; }
      .nurse.dash .tracks .pew.pill i {
        display: inline; }
  .nurse.dash .track {
    display: inline-block;
    white-space: nowrap;
    width: 60px;
    min-height: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    border-right: solid 1px #eee;
    text-align: center;
    margin-right: -4px; }
    .nurse.dash .track .task {
      border-radius: 100%;
      border: solid 3px;
      width: 32px;
      height: 32px;
      line-height: 32px;
      font-size: 0.6em;
      background: #fff;
      position: absolute;
      left: 50%;
      margin-left: -16px; }
    .nurse.dash .track .tab {
      position: absolute;
      top: 0;
      width: 60px;
      background: #4fd1e7;
      height: auto;
      min-height: 90px;
      text-align: center;
      font-size: 1.8em;
      color: #fff;
      padding: 8px;
      z-index: 25; }
    .nurse.dash .track .lane {
      position: relative;
      font-size: 1.8em;
      height: 100%;
      z-index: 20; }
  .nurse.dash .track.transparent {
    overflow: visible;
    text-align: right;
    z-index: 10; }
    .nurse.dash .track.transparent .tab {
      background: #48a0b2;
      line-height: 70px; }
    .nurse.dash .track.transparent .time.block {
      float: left;
      left: 0;
      text-align: left;
      font-size: 0.5em;
      height: 32px;
      color: #48a0b2;
      border-top: solid 1px #ddd;
      z-index: 1;
      /* Super Hacks */
      width: 10000%; }
      .nurse.dash .track.transparent .time.block .time {
        margin-top: -0.5em; }
    .nurse.dash .track.transparent .time.block.half {
      border-top: dashed 1px #ccc; }
  .nurse.dash .title.bar {
    position: absolute; }
  .nurse.dash .container {
    height: 100%;
    padding-top: 32px; }

.palette-1 {
  background: #1abc9c; }

.palette-2 {
  background: #2ecc71; }

.palette-3 {
  background: #3498db; }

.palette-4 {
  background: #9b59b6; }

.palette-5 {
  background: #f1c40f; }

.palette-6 {
  background: #e74c3c; }

.palette-7 {
  background: #fff; }

.icon.palette-1 {
  color: #1abc9c;
  background: inherit; }

.icon.palette-2 {
  color: #2ecc71;
  background: inherit; }

.icon.palette-3 {
  color: #3498db;
  background: inherit; }

.icon.palette-4 {
  color: #9b59b6;
  background: inherit; }

.icon.palette-5 {
  color: #f1c40f;
  background: inherit; }

.icon.palette-6 {
  color: #e74c3c;
  background: inherit; }

.task.palette-1 {
  border-color: #1abc9c; }

.task.palette-2 {
  border-color: #2ecc71; }

.task.palette-3 {
  border-color: #3498db; }

.task.palette-4 {
  border-color: #9b59b6; }

.task.palette-5 {
  border-color: #f1c40f; }

.task.palette-6 {
  border-color: #e74c3c; }

.filter.bar {
  height: 32px;
  line-height: 32px;
  background: #4fd1e7;
  color: white;
  font-weight: bold; }
  .filter.bar i {
    color: #48a0b2; }

.patient:hover {
  background: #f9f9f9; }

.patients .patient {
  overflow: hidden;
  border-bottom: solid 1px #eee;
  padding: 8px 0;
  font-size: 0.8em;
  white-space: nowrap;
  color: #888; }
  .patients .patient .name {
    font-size: 1.4em;
    color: #555; }
  .patients .patient .row {
    padding-bottom: 4px; }
  .patients .patient .status {
    margin-left: 8px; }
    .patients .patient .status .columns {
      text-align: left; }
      .patients .patient .status .columns > div {
        display: inline-block;
        text-align: center; }
  .patients .patient .food i {
    color: #f1c40f; }
  .patients .patient .blood i {
    color: #e74c3c; }
  .patients .patient .medications i {
    color: #1abc9c; }
  .patients .patient .observations i {
    color: #3498db; }
  .patients .patient .pew.pill.bed i {
    color: #b7f1fb; }

.patient.profile {
  min-height: 100%;
  overflow: hidden;
  position: relative;
  background: #f3f3f3; }
  .patient.profile .profile.bar {
    display: block;
    overflow: hidden;
    padding: 4px;
    font-size: 0.8em;
    white-space: nowrap;
    background: #4fd1e7;
    color: white; }
    .patient.profile .profile.bar .name {
      font-size: 1.4em;
      padding-bottom: 0.2em;
      display: block; }
  .patient.profile .alerts {
    color: #666;
    font-size: 0.8em; }
    .patient.profile .alerts .header {
      position: static;
      color: #4fd1e7;
      font-size: 1.2em;
      margin-top: 10px; }
      .patient.profile .alerts .header .small-2 {
        padding: 0; }
    .patient.profile .alerts .alert {
      border-bottom: solid 1px #eee;
      padding: 4px;
      white-space: nowrap; }
      .patient.profile .alerts .alert .small-1 {
        padding: 0; }
      .patient.profile .alerts .alert .small-10 {
        padding: 0;
        text-overflow: ellipsis;
        overflow: hidden; }
  .patient.profile .tasks {
    color: #555;
    position: absolute;
    height: 100%;
    background: #f3f3f3; }
    .patient.profile .tasks .header {
      position: static;
      color: #4fd1e7; }
    .patient.profile .tasks .timeline {
      position: absolute;
      width: 50%;
      height: 100%;
      left: 2px;
      border-right: solid 3px #ddd; }
    .patient.profile .tasks .task {
      border-radius: 100%;
      position: absolute;
      left: 50%;
      margin-left: -40px;
      background: #fff;
      white-space: nowrap;
      overflow: hidden;
      text-align: center;
      width: 80px;
      height: 80px;
      line-height: 80px;
      border-style: solid;
      border-width: 5px; }
      .patient.profile .tasks .task i {
        font-size: 2em; }
      .patient.profile .tasks .task .name {
        position: absolute;
        font-size: 0.8em;
        top: 1.3em;
        width: 100%;
        text-align: center;
        color: #555; }
  .patient.profile .actions.menu {
    margin-top: 8px; }
    .patient.profile .actions.menu .action {
      border-radius: 4px;
      text-align: center;
      background: #4fd1e7;
      padding: 16px 0;
      color: #fff;
      margin-bottom: 8px;
      white-space: nowrap;
      font-size: 0.7em;
      border-bottom: solid 3px #48a0b2; }
    .patient.profile .actions.menu .action:hover {
      cursor: pointer; }
      .patient.profile .actions.menu .action:hover i {
        color: #b7f1fb; }
    .patient.profile .actions.menu .action i {
      font-size: 2em;
      color: #48a0b2; }
    .patient.profile .actions.menu .columns {
      padding: 0 4px; }

.glyph {
  position: relative;
  display: inline-block;
  border-radius: 4px;
  height: 50px;
  width: 50px;
  line-height: 50px;
  font-size: 28pt;
  text-align: center;
  color: #fff;
  overflow: hidden;
  /* Icon specific rules */
  /* Baby icon is waay big */ }
  .glyph i {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 50px;
    text-align: center;
    background: transparent !important; }
  .glyph .gender {
    /* Overrides will break glyphs */
    font-size: 42px !important;
    z-index: 3; }
  .glyph .subject {
    /* Overrides will break glyphs */
    font-size: 21px !important;
    z-index: 3; }
  .glyph .gender.icon-gender-f .subject {
    margin-top: -6px; }
  .glyph .gender.icon-gender-m .subject {
    margin-left: -3px;
    margin-top: 3px; }
  .glyph .gender.icon-gender-f + .fa-circle {
    margin-top: -4px; }
  .glyph .gender.icon-gender-m + .fa-circle {
    margin-top: 2px;
    margin-left: -3px; }
  .glyph .icon-baby {
    font-size: 12pt !important; }
  .glyph i.fa-circle {
    font-size: 38px;
    z-index: 1; }

.glyph.palette-1 {
  border-bottom: solid 3px #128F76; }

.glyph.palette-2 {
  border-bottom: solid 3px #18994F; }

.glyph.palette-3 {
  border-bottom: solid 3px #236FA2; }

.glyph.palette-4 {
  border-bottom: solid 3px #7A4491; }

.glyph.palette-5 {
  border-bottom: solid 3px #CEA810; }

.glyph.palette-6 {
  border-bottom: solid 3px #b9392b; }

.glyph.palette-7 {
  border-bottom: solid 3px #ddd; }

.pew.pill {
  height: 50px;
  border-radius: 4px;
  font-size: 12pt;
  text-align: center;
  background: #fd9026;
  color: white;
  padding: 4px 0;
  margin: 0 auto;
  margin-bottom: 4px;
  padding-top: 12px;
  font-weight: bold;
  border-bottom: solid 3px #cc7017; }
  .pew.pill .fa {
    color: rgba(255, 255, 255, 0.5);
    display: block;
    font-size: 0.6em; }

.pew.high {
  background: #e74c3c !important;
  border-color: #b9392b !important; }

.pew.low {
  background: #2ecc71 !important;
  border-color: #1f9651 !important; }

i.circlular {
  border-radius: 100%;
  width: 1em;
  height: 1em;
  padding: 0.25em;
  border: solid 2px; }

.admit {
  background: #fff; }

.admission {
  text-align: center;
  margin-top: 8px;
  white-space: nowrap; }

.message.editor {
  padding-top: 16px; }
  .message.editor .subject {
    font-size: 1.3em;
    display: block;
    line-height: 40px; }
  .message.editor textarea {
    height: 330px;
    max-width: 100%; }

.sidebar {
  position: absolute;
  width: 48px;
  margin-top: 80px;
  height: 100%;
  box-sizing: border-box;
  left: 0;
  top: 0;
  background: #eee;
  color: #777;
  text-align: center;
  font-size: 1.5em;
  padding: 8px 0; }
  .sidebar a {
    padding: 8px 0; }

.messages {
  position: relative;
  width: auto;
  background: #f3f3f3; }
  .messages .bar {
    box-sizing: content-box;
    padding: 4px;
    height: 1em; }
  .messages .small-3 {
    border-right: solid 1px #eee; }
  .messages .meta {
    color: #87bb7d;
    color: #ccc;
    text-align: center;
    width: 100%; }
  .messages .avatar {
    font-size: 2.5em;
    padding: 8px 0; }
  .messages .name {
    text-align: center;
    color: #999; }
  .messages .flags {
    font-size: 0.6em;
    white-space: nowrap;
    margin-bottom: 16px;
    text-align: center; }
  .messages .message {
    overflow: hidden;
    border-bottom: solid 1px #eee;
    border-top: solid 1px #eee;
    color: #555;
    padding-bottom: 1em;
    margin: 1em;
    background: #fff;
    border: solid 1px #eee;
    border-bottom: solid 2px #eee; }
    .messages .message .bar {
      margin-top: 5px; }

.messages.collection .item {
  position: relative;
  padding-left: 56px;
  min-height: 60px;
  padding-top: 1.2em;
  padding-bottom: 8px;
  color: #666; }
  .messages.collection .item .user {
    color: #4fd1e7; }
  .messages.collection .item .meta {
    position: absolute;
    top: 4px;
    font-size: 0.8em;
    color: #888; }
  .messages.collection .item .avatar {
    position: absolute;
    top: 0;
    left: 0; }
.messages.collection .avatar {
  background: #4fd1e7;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  font-size: 2em;
  color: #b7f1fb; }
.messages.collection .entry {
  margin: 0;
  border: none;
  border-top: solid 1px #ddd;
  border-radius: 0;
  box-shadow: none; }
.messages.collection .input {
  position: relative; }
  .messages.collection .input input {
    padding-left: 44px; }
  .messages.collection .input .avatar {
    position: absolute;
    top: 0;
    left: 0;
    width: 1.2em;
    height: 1.2em;
    line-height: 1em;
    padding: 4px; }

.messages.board {
  padding: 0;
  margin-bottom: 135px; }
  .messages.board .footer {
    position: fixed;
    z-index: 10;
    background: #fff;
    padding: 1em;
    border-top: solid 1px #eee; }
    .messages.board .footer .button {
      margin: 0; }

table.obs {
  font-size: 0.6em; }
  table.obs th {
    max-width: 100px; }
  table.obs tr {
    max-height: 180px; }
  table.obs .chart {
    width: 250px;
    height: 200px; }
  table.obs .x.axis, table.obs .domain {
    display: none; }
  table.obs svg {
    max-height: 200px; }

.reveal {
  display: none; }

.expanded + .reveal {
  display: table-row; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10; }

.overlay.hidden {
  display: none; }

.modal {
  border-radius: 4px;
  margin: 2em;
  padding: 1em;
  background: #f3f3f3;
  overflow: hidden;
  position: relative; }
  .modal .exit {
    position: absolute;
    top: 1em;
    right: 1em;
    color: #aaa;
    cursor: pointer; }
    .modal .exit:hover {
      color: #888; }
  .modal .title {
    text-align: center;
    border-bottom: solid 1px #ddd;
    margin-bottom: 1em;
    padding-bottom: 0.5em;
    color: #555; }
  .modal .option {
    border-radius: 4px;
    font-size: 1.2em;
    padding: 0.2em;
    border: solid 1px #eee;
    border-bottom: solid 3px #eee;
    background: #fff;
    display: inline-block;
    color: #444;
    text-align: center; }
    .modal .option .name {
      font-size: 0.5em; }

html, body {
  background: white;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  overflow: hidden;
  height: 100%;
  overflow-x: hidden;
  min-height: 100%; }
