<div class='admit'>
  <div class='row'>
    <div class='small-12 columns'>
      <h4>Safeguarding Liason Form</h4>
      <p>
        To record the action taken when safeguarding concerns are
        identified regarding an unborn baby, child, young person,
        parent or adult/carer (if parent/carer of Children under 18)
      </p>

      <b class='danger label'>NB: This does not replace a referral to Social Services</b>
      <div class='divider'></div>
    </div>
  </div>

  <div class='form' ng-controller='AdmissionController'>

    <div class='row'>
      <div class='small-4 columns'>
        Hospital Number:
      </div>
      <div class='small-8 columns'>
        <input type='text'/>
      </div>
    </div>

    <div class='row'>
      <div class='small-4 columns'>
        ED Number:
      </div>
      <div class='small-8 columns'>
        <input type='text'/>
      </div>
    </div>

    <div class='row'>
      <div class='small-4 columns'>
        Hospital:
      </div>
      <div class='small-8 columns'>
        <input type='text'/>
      </div>
    </div>

    <div class='row'>
      <div class='small-4 columns'>
        Ward:
      </div>
      <div class='small-8 columns'>
        <input type='text'/>
      </div>
    </div>

    <div class='row'>
      <div class='small-4 columns'>
        Date of Attendance:
      </div>
      <div class='small-8 columns'>
        <input type='text'/>
      </div>
    </div>

    <div class='row'>
      <div class='small-4 columns'>
        Name
      </div>
      <div class='small-8 columns'>
        <input type='text' ng-model='patient.name'/>
      </div>
    </div>

    <div class='row'>
      <div class='small-4 columns'>
        Address
      </div>
      <div class='small-8 columns'>
        <textarea ng-model='patient.admission.data.address'></textarea>
      </div>
    </div>

    <div class='row'>
      <div class='small-4 columns'>
        Admitted to Ward
      </div>
      <div class='small-4 columns'>
        <input type='checkbox'/>
      </div>
    </div>

    <div class='divider'></div>

    <div class='row'>
      <div class='small-4 columns'>
        Pregnant?
      </div>
      <div class='small-4 columns'>
        <input type='checkbox'/>
      </div>
    </div>

    <div class='row'>
      <div class='small-4 columns'>
        Exp delivery date
      </div>
      <div class='small-8 columns'>
        <input type='text'/>
      </div>
    </div>

    <div class='row'>
      <div class='small-4 columns'>
        Tel. No:
      </div>
      <div class='small-8 columns'>
        <input type='text'/>
      </div>
    </div>

    <div class='row'>
      <div class='small-4 columns'>
        Next of Kin
      </div>
      <div class='small-8 columns'>
        <input type='text' ng-model='patient.admission.data.nextOfKin'/>
      </div>
    </div>

    <div class='row'>
      <div class='small-4 columns'>
        Name of GP
      </div>
      <div class='small-8 columns'>
        <input type='text'/>
      </div>
    </div>

    <div class='row'>
      <div class='small-4 columns'>
        Address of GP
      </div>
      <div class='small-8 columns'>
        <textarea></textarea>
      </div>
    </div>

    <div class='row'>
      <div class='small-4 columns'>
        Accompanier name
      </div>
      <div class='small-8 columns'>
        <input type='text'/>
      </div>
    </div>

    <div class='row'>
      <div class='small-4 columns'>
        Accompanier relationship
      </div>
      <div class='small-8 columns'>
        <input type='text'/>
      </div>
    </div>

  </div>
</div>
